<div class="c-archive-item">
  <div class="c-archive-info">
    <span class="c-archive-number">№{{request.id}}</span> от <span class="c-archive-date">{{request.date}}</span>
    <p>Внесенные изменения:</p>
    <ul  class="c-archive-list">
      <li *ngFor="let request of request.changes"><span class="u-underline">{{request.object}}:</span> {{request.action}}</li>
    </ul>
  </div>
  <div class="c-archive-status"
       [ngClass]="
       {
         'status-yellow': request.state === RequestState.CONSIDERED,
         'status-green': request.state === RequestState.ACCEPTED
       }">
    {{requestStateLabel(request.state)}}
  </div>
</div>
