<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <div class="top-bar">
      <div>
        <div class="name-location">
          <div>{{technicalCapability?.name}}</div>
          <div>{{technicalCapability?.area}}</div>
        </div>
        <div class="peoples"><span>{{technicalCapability?.information.population}}</span> чел.</div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Инфомат:</div>
          <div class="value">{{technicalCapability?.information.informat ? 1 : 0}}</div>
        </div>
        <div class="item line">
          <div class="name">Телефон:</div>
          <div class="value">
            <div class="check"></div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Таксофон:</div>
          <div class="value position-status2">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status">5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Радио:</div>
          <div class="value">
            <div class="check"></div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">ТВ:</div>
          <div class="value position-status">
            <div class="value-item" *ngFor="let tv of technicalCapability?.information.tv">
              <div class="logo">
                <div class="image"><img [src]="tv.provider.icon" [alt]="tv.provider.name" [title]="tv.provider.name"></div>
                <div class="status">{{tv.type}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Почта:</div>
          <div class="value">
            <div class="check"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Сотовая связь:</div>
          <div class="value position-status">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/mts.png" alt="МТС" title="МТС"></div>
                <div class="status">3G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/beeline.png" alt="Билайн" title="Билайн"></div>
                <div class="status">4G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/megafon.png" alt="Мегафон" title="Мегафон"></div>
                <div class="status">2G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/tele2.png" alt="Теле2" title="Теле2"></div>
                <div class="status">3G</div>
              </div>
            </div>
            <div class="value-item opacity">
              <div class="logo">
                <div class="image"><img src="../../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status">3G</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name">Интернет:</div>
          <div class="value">
            <div class="value-item"
                 *ngFor="let internet of technicalCapability?.information.internet"
                 [ngClass]="{'gray-filter': !internet.provider.isActive}"
            >
              <div class="logo">
                <div class="image">
                  <img [src]="internet.provider.icon" [alt]="internet.provider.name" [title]="internet.provider.name">
                </div>
                <div class="status"
                     *ngIf="internet.channel"
                     [title]="internet.channel.name"
                     [ngClass]="
                     {
                      vols: internet.channel.id === TrunkChannelType.VOLS,
                      med: internet.channel.id === TrunkChannelType.COPPER_CABLE,
                      radio: internet.channel.id === TrunkChannelType.RADIO_CHANEl,
                      sputnik: internet.channel.id === TrunkChannelType.SATELLITE
                     }"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>Информация не актуальна?</div>
        <input class="btn" type="button" value="Подать уточняющую заявку" (click)="onClarifyingClick()">
      </div>
    </div>
    <div class="req">
      <h1>Мои заявки (архив)</h1>
      <div class="archiv">
        <app-request *ngFor="let request of requests" [request]="request"></app-request>
      </div>
    </div>
  </div>
</main>

<app-internet-clarification *ngIf="forms.internet"
                            (formValue)="this.saveInternetClarification($event)"
                            (cancel)="onClarifyingInternetCancel()"
>

</app-internet-clarification>
