<!--suppress HtmlFormInputWithoutLabel -->
<div class="sidebar">
  <div class="select-location">
    <location-capabilities-search (selectedPoint)="onSelectPoint($event)"
                                  [leafletMap]="leafletMap"></location-capabilities-search>
  </div>
  <div *ngIf="currentPointCapabilities">
    <div class="name-location">
      <div>{{currentPointCapabilities.name}}</div>
      <div>{{currentPointCapabilities.area}}</div>
    </div>
    <div class="accordion blue">
      <div class="accordion-title" (click)="openAccordion($event, 'open')">
        <div>Информация</div>
        <div class="accordion-btn"></div>
      </div>
      <div class="accordion-body">
        <div class="peoples"><span>{{currentPointCapabilities.information.population}}</span> чел.</div>
        <div class="item">
          <div class="name">Сотовая связь:</div>
          <div class="value position-status">
            <div class="value-item"
                 *ngFor="let mobileOperator of currentPointCapabilities.information.cellular"
                 [class.opacity]="!mobileOperator.provider.isActive">
              <div class="logo">
                <div class="image">
                  <img [src]="mobileOperator.provider.icon"
                       [alt]="mobileOperator.provider.name"
                       [title]="mobileOperator.provider.name">
                </div>
                <div class="status">{{mobileOperator.mobileGeneration}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name">Интернет:</div>
          <div class="value">
            <div class="value-item"
                 [class.opacity]="!internet.provider.isActive"
                 *ngFor="let internet of currentPointCapabilities.information.internet">
              <div class="logo">
                <div class="image"><img [src]="internet.provider.icon"
                                        [alt]="internet.provider.name"
                                        [title]="internet.provider.name"></div>
                <div class="status"
                     [title]="internet.type"
                     [ngClass]="internet.type "
                ></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name">ТВ:</div>
          <div class="value position-status">
            <div class="value-item"
                 [class.opacity]="!tv.provider.isActive"
                 *ngFor="let tv of currentPointCapabilities.information.tv">
              <div class="logo">
                <div class="image"><img [src]="tv.provider.icon"
                                        [alt]="tv.provider.name"
                                        [title]="tv.provider.name"></div>
                <div class="status-2">{{tv.type}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line" *ngFor="let mail of currentPointCapabilities.information.mail">
          <div class="name">Почта:</div>
          <div class="value">
            <div class="check"></div>
            {{mail.provider.name}}
          </div>
        </div>
        <div class="item line">
          <div class="name">Радио:</div>
          <div class="value">
            <div class="check"></div>
            <div class="value-item" *ngFor="let radio of currentPointCapabilities.information.radio">
              <div class="logo">
                <div class="image"><img [src]="radio.provider.icon"
                                        [alt]="radio.provider.name"
                                        [title]="radio.provider.name"></div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Таксофон:</div>
          <div class="value">
            <div class="value-item" *ngFor="let payphone of currentPointCapabilities.information.payphone">
              <div class="logo">
                <div class="image"><img [src]="payphone.provider.icon"
                                        [alt]="payphone.provider.name"
                                        [title]="payphone.provider.name"></div>
                <div class="status">{{payphone.count}}</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Телефон:</div>
          <div class="value">
            <div class="check" *ngIf="hasProvider(currentPointCapabilities.information.telephone)"></div>
            <div *ngIf="!hasProvider(currentPointCapabilities.information.telephone)">0</div>
            <div class="value-item"
                 [class.opacity]="!telephone.provider.isActive"
                 *ngFor="let telephone of currentPointCapabilities.information.telephone">
              <div class="logo">
                <div class="image"><img [src]="telephone.provider.icon"
                                        [alt]="telephone.provider.name"
                                        [title]="telephone.provider.name"></div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Инфомат:</div>
          <div class="value">{{currentPointCapabilities.information.informat ? 1 : 0}}</div>
        </div>
      </div>
    </div>
    <div class="accordion green">
      <div class="accordion-title" (click)="openAccordion($event, 'open')">
        <div>
          Организации ({{currentPointCapabilities.espd.length + currentPointCapabilities.smo.length}})
        </div>
        <div class="accordion-btn"></div>
      </div>
      <div class="accordion-body">
        <div class="accordion" *ngFor="let organization of currentPointCapabilities.espd">
          <div class="accordion-title green"
               (click)="openAccordion($event, 'open')"
               [class.gray-dot]="!organization.avstate"
               [class.red-dot]="organization.avstate && organization.avstate.includes('Не доступно')"
               [class.green-dot]="organization.avstate && !organization.avstate.includes('Не доступно')"
          >
            <div>{{organization.label}}</div>
            <div class="accordion-btn"></div>
          </div>
          <div class="accordion-body">
            <div class="item line">
              <div class="name">Адрес точки подключения:</div>
              <div class="value">{{organization.address}}</div>
            </div>
            <div class="item line">
              <div class="name">Заказчик:</div>
              <div class="value">{{organization.customer}}</div>
            </div>
            <div class="item line">
              <div class="name">Подрядчик:</div>
              <div class="value">{{organization.contractor}}</div>
            </div>
            <div class="item line">
              <div class="name">Технология подключения:</div>
              <div class="value">{{organization.medium_type}}</div>
            </div>
            <div class="item line">
              <div class="name">Точка подключения:</div>
              <div class="value">{{organization.node}}</div>
            </div>
            <div class="item line">
              <div class="name">Скорость по контракту:</div>
              <div class="value">{{organization.defined_speed}}</div>
            </div>
            <div class="item line">
              <div class="name">Состояние:</div>
              <div class="value">{{organization.avstate}}</div>
            </div>
            <div class="item line">
              <div class="name">Входящий трафик:</div>
              <div class="value">{{organization.traffic}}</div>
            </div>
          </div>
        </div>
        <div class="accordion" *ngFor="let organization of currentPointCapabilities.smo">
          <div class="accordion-title blue" (click)="openAccordion($event, 'open')">
            <div>{{organization.label}}</div>
            <div class="accordion-btn"></div>
          </div>
          <div class="accordion-body">
            <div class="item line">
              <div class="name">Адрес точки подключения:</div>
              <div class="value">{{organization.address}}</div>
            </div>
            <div class="item line">
              <div class="name">Поставщик интернета:</div>
              <div class="value">{{organization.network_provider}}</div>
            </div>
            <div class="item line">
              <div class="name">Технология подключения:</div>
              <div class="value">{{organization.medium_type}}</div>
            </div>
            <div class="item line">
              <div class="name">Скорость по контракту:</div>
              <div class="value">{{organization.defined_speed}}</div>
            </div>
            <div class="item line">
              <div class="name">Вид СЗО:</div>
              <div class="value">{{organization.cmo_type}}</div>
            </div>
            <div class="item line">
              <div class="name">Тип учреждения:</div>
              <div class="value">{{organization.institution_type}}</div>
            </div>
            <div class="item line">
              <div class="name">Примечания:</div>
              <div class="value">{{organization.description}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
