:host {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
  //position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logout-image {
  cursor: pointer;
}

.logo {
  background-color: #616161;
  padding: 12px;
  cursor: pointer;
}

.link {
  font-family: 'GolosTextWebVF', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #131212;
  padding: 19px 14px;
  cursor: pointer;
  white-space: nowrap;
  & img {
    margin-left: 11px;
    margin-top: -1px;
  }
}

.link.active {
  font-family: 'GolosTextWebVF', sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #131212;
  background-color: #fff;
}

.links {
  display: flex;
}

.td-underline {
  text-decoration: underline;
}

.mat-menu-select {
  padding: 10px 14px 18px 14px;
}

.link.root-link.logout {
  cursor: unset;

  & span {
    white-space: nowrap;
  }
}
