:host {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  display: flex;
  justify-content: space-between;
}

.logo {
  padding: 24px 19px 18px 23px;
  background-color: #616161;
}

.link {
  color: #686868;
  font-family: 'Heavitas [RUS by Daymarius]', sans-serif;
  font-size: 14px;
  font-weight: 400;
  padding: 25px 14px 18px 14px;
  cursor: pointer;
  & img {
    margin-left: 11px;
    margin-top: -3px;
  }
}

.link.active {
  color: #ffffff;
  font-family: 'Heavitas [RUS by Daymarius]', sans-serif;
  font-size: 14px;
  font-weight: normal;
  background-color: #8b8b8b;
  & span {
    border-bottom: 2px solid #fff;
  }
}

.links {
  display: flex;
}

.td-underline {
  text-decoration: underline;
}

.root-link {
  padding-top: 39px;
}
