:host {
  margin: 0;
  padding: 0;
  background-color: #d9d9d9;
  display: flex;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.logout-image {
  cursor: pointer;
}

.logo {
  background-color: #616161;
  padding: 12px;
  cursor: pointer;
}

.spacer {
  flex-grow: 1;
}

.link {
  font-family: "GolosTextWebVF", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #131212;
  padding: 19px 14px;
  cursor: pointer;
  white-space: nowrap;
  & img {
    margin-left: 11px;
    margin-top: -1px;
  }
}

.link.active {
  font-family: "GolosTextWebVF", sans-serif;
  font-size: 15px;
  font-weight: 600;
  color: #131212;
  background-color: #fff;
}

.mat-menu-select {
  padding: 10px 14px 18px 14px;
}

.links {
  display: flex;
  flex-grow: 1;

  &_mobile {
    background-color: #d9d9d9;
    border-radius: 8px;
    border: 1px solid #d9d9d9;
    z-index: 1001;
    top: calc(56px + 8px);
    left: 8px;
    right: 8px;
    position: absolute;
    display: none;
    flex-direction: column;

    .mat-menu-select {
      padding: 19px 14px;
    }
    .mat-button {
      line-height: normal;
      text-align: left;
    }

    .link.active {
      border-radius: 8px;
    }
  }

  &_show {
    display: flex;
  }
}

::ng-deep .cdk-overlay-container {
  z-index: 1002;
}

.td-underline {
  text-decoration: underline;
}

.link.root-link.logout {
  cursor: unset;

  & span {
    white-space: nowrap;
  }
}

.burger {
  display: none;
  margin-right: 32px;

  &__icon {
    font-size: 24px;
    padding: 4px;
  }
}

@media screen and (max-width: 768px) {
  .burger {
    display: flex;
    align-items: center;
  }
}
