<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <div class="top-bar">
      <div>
        <div class="name-location">
          <div>с. Богучаны</div>
          <div>Богучанский р-н</div>
        </div>
        <div class="peoples"><span>11 512</span> чел.</div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Инфомат:</div>
          <div class="value">0</div>
        </div>
        <div class="item line">
          <div class="name">Телефон:</div>
          <div class="value">
            <div class="check"></div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Таксофон:</div>
          <div class="value position-status2">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status">5</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Радио:</div>
          <div class="value">
            <div class="check"></div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">ТВ:</div>
          <div class="value position-status">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/beeline.png" alt="Билайн" title="Билайн"></div>
                <div class="status">АТВ</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status">АТВ</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/telsputnik.png" alt="ТелСпутник" title="ТелСпутник">
                </div>
                <div class="status">ЦТВ</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item line">
          <div class="name">Почта:</div>
          <div class="value">
            <div class="check"></div>
          </div>
        </div>
      </div>
      <div>
        <div class="item line">
          <div class="name">Сотовая связь:</div>
          <div class="value position-status">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/mts.png" alt="МТС" title="МТС"></div>
                <div class="status">3G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/beeline.png" alt="Билайн" title="Билайн"></div>
                <div class="status">4G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/megafon.png" alt="Мегафон" title="Мегафон"></div>
                <div class="status">2G</div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/tele2.png" alt="Теле2" title="Теле2"></div>
                <div class="status">3G</div>
              </div>
            </div>
            <div class="value-item opacity">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status">3G</div>
              </div>
            </div>
          </div>
        </div>
        <div class="item">
          <div class="name">Интернет:</div>
          <div class="value">
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/mts.png" alt="МТС" title="МТС"></div>
                <div class="status vols" title="ВОЛС"></div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/beeline.png" alt="Билайн" title="Билайн"></div>
                <div class="status med" title="Медь"></div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/megafon.png" alt="Мегафон" title="Мегафон"></div>
                <div class="status vols" title="ВОЛС"></div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/tele2.png" alt="Теле2" title="Теле2"></div>
                <div class="status med" title="Медь"></div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
                </div>
                <div class="status radio" title="Радио"></div>
              </div>
            </div>
            <div class="value-item">
              <div class="logo">
                <div class="image"><img src="../../assets/img/iskra.png" alt="Искра" title="Искра"></div>
                <div class="status sputnik" title="Спутник"></div>
              </div>
            </div>
            <div class="value-item gray-filter">
              <div class="logo">
                <div class="image"><img src="../../assets/img/ttk.png" alt="ТТК" title="ТТК"></div>
                <div class="status"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div>Информация не актуальна?</div>
        <input class="btn" type="button" value="Подать уточняющую заявку">
      </div>
    </div>
    <div class="req">
      <h1>Мои заявки (архив)</h1>
      <div class="archiv">
        <div class="archiv-item">
          <div class="info">
            <span class="number">№115а</span> от <span class="date">15.08.19</span>
            <p>Внесенные изменения:</p>
            <ul>
              <li><span>Таксофон:</span> Изменено количество таксофонов с 4 до 5 шт</li>
              <li><span>Сотовая связь:</span> МТС - с 2G на 3G, подключение Мегафон</li>
              <li><span>Интернет:</span> Мегафон - проведен ВОЛС(качество удовлетворительное); Tele2 -
                подключение,медь (качество хорошее)
              </li>
            </ul>
          </div>
          <div class="status orange">на рассмотрении</div>
        </div>
        <div class="archiv-item">
          <div class="info">
            <span class="number">№104а</span> от <span class="date">07.06.19</span>
            <p>Внесенные изменения:</p>
            <ul>
              <li><span>Интернет:</span> Искра - проведен спутник (качество удовлетворительное)</li>
            </ul>
          </div>
          <div class="status green">заявка принята</div>
        </div>
      </div>
    </div>
  </div>
</main>
<div class="overlay"></div>
