<div leaflet
     [leafletLayersControl]="layersControl"
     [leafletLayersControlOptions]="{position: 'bottomleft'}"
     [leafletOptions]="options"
     (leafletMapReady)="onMapReady($event)"
     accessPointsEspd
     (accessPointSmoLayerDirectiveReady)="onLayerReady($event)"
     accessPointSmo
     (accessPointEspdLayerReady)="onLayerReady($event)"
     municipalities
     (municipalityLayerReady)="onLayerReady($event)"
     administrativeCenters
     (administrativeCentersLayerReady)="onLayerReady($event)"
     class="map">
</div>
