<form [formGroup]="formGroupAccessPoints" nz-form>
  <nz-form-item *ngIf="!accessPointForEdit">
    <nz-form-label>Тип точки</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="_type"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let item of accessPointType$ | async"
          [nzValue]="item.name"
          [nzLabel]="item.desc"
        ></nz-option>
      </nz-select>
      <div class="error-required" *ngIf="formGroupAccessPoints.get('_type').invalid && (formGroupAccessPoints.get('_type').touched || formGroupAccessPoints.get('_type').dirty)">
        <span *ngIf="formGroupAccessPoints.get('_type').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Адрес</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="_address"/>
    </nz-form-control>
    <div class="error-required" *ngIf="formGroupAccessPoints.get('_address').invalid && (formGroupAccessPoints.get('_address').touched || formGroupAccessPoints.get('_address').dirty)">
      <span *ngIf="formGroupAccessPoints.get('_address').errors?.required">Обязательное поле</span>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Широта</nz-form-label>
    <input nz-input type="number" formControlName="_lat"/>
    <div class="error-required" *ngIf="formGroupAccessPoints.get('_lat').invalid && (formGroupAccessPoints.get('_lat').touched || formGroupAccessPoints.get('_lat').dirty)">
      <span *ngIf="formGroupAccessPoints.get('_lat').errors?.required">Обязательное поле</span>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Долгота</nz-form-label>
    <input nz-input type="number" formControlName="_lng"/>
    <div class="error-required" *ngIf="formGroupAccessPoints.get('_lng').invalid && (formGroupAccessPoints.get('_lng').touched || formGroupAccessPoints.get('_lng').dirty)">
      <span *ngIf="formGroupAccessPoints.get('_lng').errors?.required">Обязательное поле</span>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Отображается</nz-form-label>
    <nz-form-control>
      <label nz-checkbox formControlName="_visible"></label>
    </nz-form-control>
  </nz-form-item>
<!--  <nz-form-item>-->
<!--    <nz-form-label>Узел доступа</nz-form-label>-->
<!--    <nz-form-control>-->
<!--      <input nz-input type="text" formControlName="_node"/>-->
<!--    </nz-form-control>-->
<!--  </nz-form-item>-->
  <nz-form-item>
    <nz-form-label>Тип</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="_connectionType"
        [compareWith]="compareFn"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let item of fInternetAccessTypes$ | async"
          [nzValue]="item"
          [nzLabel]="item.name"
        ></nz-option>
      </nz-select>
      <div class="error-required" *ngIf="formGroupAccessPoints.get('_connectionType').invalid && (formGroupAccessPoints.get('_connectionType').touched || formGroupAccessPoints.get('_connectionType').dirty)">
        <span *ngIf="formGroupAccessPoints.get('_connectionType').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Оператор связи</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="_contractor"/>
    </nz-form-control>
    <div class="error-required" *ngIf="formGroupAccessPoints.get('_contractor').invalid && (formGroupAccessPoints.get('_contractor').touched || formGroupAccessPoints.get('_contractor').dirty)">
      <span *ngIf="formGroupAccessPoints.get('_contractor').errors?.required">Обязательное поле</span>
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Качество связи</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="_quality"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option [nzValue]="Quality.GOOD" nzLabel="Хорошо"></nz-option>
        <nz-option [nzValue]="Quality.NORMAL" nzLabel="Удовлетворительно"></nz-option>
        <nz-option [nzValue]="Quality.ABSENT" nzLabel="Отсутствует"></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Скорость по контракту</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="_declaredSpeed"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Государственная программа</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="_governmentProgram"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let item of fGovernmentPrograms$ | async"
          [nzValue]="item"
          [nzLabel]="item.name"
        ></nz-option>
      </nz-select>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formGroupAccessPoints.get('_type')?.value === 'CONTRACT'">
    <nz-form-label>Номер контракта</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="_number"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formGroupAccessPoints.get('_type')?.value === 'CONTRACT'">
    <nz-form-label>Сумма (в копейках)</nz-form-label>
    <nz-form-control>
      <input nz-input type="number" formControlName="_amount"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div class="btn-group">
        <button type="button" class="btn" (click)="saveAccessPoint()">
          Сохранить
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #suffixIconSelect>
  <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
</ng-template>
