<form [formGroup]="formGroupAccessPoints" nz-form>
  <nz-form-item *ngIf="!accessPointForEdit">
    <nz-form-label>Тип точки</nz-form-label>
    <nz-form-control>
      <nz-select
        formControlName="type"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let item of accessPointType$ | async"
          [nzValue]="item.name"
          [nzLabel]="item.desc"
        ></nz-option>
      </nz-select>
      <div class="error-required"
           *ngIf="formGroupAccessPoints.get('type').invalid && (formGroupAccessPoints.get('type').touched || formGroupAccessPoints.get('type').dirty)">
        <span *ngIf="formGroupAccessPoints.get('type').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Адрес</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="address"/>
    </nz-form-control>
    <div class="error-required"
         *ngIf="formGroupAccessPoints.get('address').invalid && (formGroupAccessPoints.get('address').touched || formGroupAccessPoints.get('address').dirty)">
      <span *ngIf="formGroupAccessPoints.get('address').errors?.required">Обязательное поле</span>
    </div>
  </nz-form-item>
  <ng-component formGroupName="point">
    <nz-form-item>
      <nz-form-label>Широта</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="lat"/>
      </nz-form-control>
      <div class="error-required"
          *ngIf="formGroupAccessPoints.get('point').get('lat').invalid && (formGroupAccessPoints.get('point').get('lat').touched || formGroupAccessPoints.get('point').get('lat').dirty)">
        <span *ngIf="formGroupAccessPoints.get('point').get('lat').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Долгота</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="lng"/>
      </nz-form-control>
      <div class="error-required"
          *ngIf="formGroupAccessPoints.get('point').get('lng').invalid && (formGroupAccessPoints.get('point').get('lng').touched || formGroupAccessPoints.get('point').get('lng').dirty)">
        <span *ngIf="formGroupAccessPoints.get('point').get('lng').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-item>
  </ng-component>
  <nz-form-item>
    <nz-form-label>Отображается</nz-form-label>
    <nz-form-control>
      <!-- <label type="checkbox" nz-checkbox formControlName="visible"></label> -->
      <nz-radio-group formControlName="visible">
        <label nz-radio-button [nzValue]="true">Да</label>
        <label nz-radio-button [nzValue]="false">Нет</label>
      </nz-radio-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Тип подключения</nz-form-label>
    <nz-form-control>
      <nz-select
              formControlName="connectionType"
              [compareWith]="compareFn"
              [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
                *ngFor="let item of fInternetAccessTypes$ | async"
                [nzValue]="item"
                [nzLabel]="item.name"
        ></nz-option>
      </nz-select>
      <div class="error-required"
           *ngIf="formGroupAccessPoints.get('connectionType').invalid && (formGroupAccessPoints.get('connectionType').touched || formGroupAccessPoints.get('connectionType').dirty)">
        <span *ngIf="formGroupAccessPoints.get('connectionType').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Скорость подключения, Мбит/с</nz-form-label>
    <nz-form-control>
      <input nz-input type="string" formControlName="declaredSpeed"/>
    </nz-form-control>
  </nz-form-item>
  <ng-container *ngIf="!isESPD && !isSMO">
    <nz-form-item>
      <nz-form-label>Оператор связи</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" formControlName="contractor"/>
      </nz-form-control>
      <div class="error-required"
          *ngIf="formGroupAccessPoints.get('contractor').invalid && (formGroupAccessPoints.get('contractor').touched || formGroupAccessPoints.get('contractor').dirty)">
        <span *ngIf="formGroupAccessPoints.get('contractor').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Качество связи</nz-form-label>
      <nz-form-control>
        <nz-select
                formControlName="quality"
                [nzSuffixIcon]="suffixIconSelect"
        >
          <nz-option [nzValue]="Quality.GOOD" nzLabel="Хорошее"></nz-option>
          <nz-option [nzValue]="Quality.NORMAL" nzLabel="Удовлетворительно"></nz-option>
          <nz-option [nzValue]="Quality.ABSENT" nzLabel="Отсутствует"></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Государственная программа</nz-form-label>
      <nz-form-control>
        <nz-select
                formControlName="governmentProgram"
                [nzSuffixIcon]="suffixIconSelect"
        >
          <nz-option
                  *ngFor="let item of fGovernmentPrograms$ | async"
                  [nzValue]="item"
                  [nzLabel]="item.name"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Год завершения гос.программы</nz-form-label>
      <nz-form-control>
        <input nz-input type="text" formControlName="completed"/>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-label>Статус по гос.программа</nz-form-label>
      <nz-form-control>
        <nz-select formControlName="state" [nzSuffixIcon]="suffixIconSelect">
          <nz-option
                  [nzValue]="'DONE'"
                  [nzLabel]="participationStatusToString('DONE')"
          ></nz-option>
          <nz-option
                  [nzValue]="'NONE'"
                  [nzLabel]="participationStatusToString('NONE')"
          ></nz-option>
          <nz-option
                  [nzValue]="'PLAN'"
                  [nzLabel]="participationStatusToString('PLAN')"
          ></nz-option>
        </nz-select>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="isESPD || isSMO">
    <ng-container *ngIf="isSMO">
      <nz-form-item>
        <nz-form-label>Дата ввода в эксплуатацию</nz-form-label>
        <nz-form-control>
          <nz-date-picker [nzFormat]="'dd/MM/yyyy'" formControlName="dateCommissioning"></nz-date-picker>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <nz-form-item>
      <nz-form-label>ID (по контракту)</nz-form-label>
      <nz-form-control>
        <input nz-input type="number" formControlName="contractId"/>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="isESPD">
      <nz-form-item>
        <nz-form-label>Белый IP ЕСПД</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="espdWhiteIp"/>
        </nz-form-control>
        <div class="error-required"
            *ngIf="showErrors('zspdWhiteIp')">
          <span *ngIf="hasError('zspdWhiteIp','pattern')">Введите корректный IP адрес</span>
        </div>
      </nz-form-item>
    </ng-container>
    <nz-form-item>
      <nz-form-label>Контакты</nz-form-label>
      <nz-form-control>
        <textarea rows="2" nz-input formControlName="contacts"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Изменение</nz-form-label>
      <nz-form-control>
        <input nz-input type="string" formControlName="change"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Дата подключения / изменения</nz-form-label>
      <nz-form-control>
        <nz-date-picker [nzFormat]="'dd/MM/yyyy'" formControlName="dateConnectionOrChange"></nz-date-picker>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>№ вх. письма от ведомства</nz-form-label>
      <nz-form-control>
        <input nz-input type="string" formControlName="numIncomingMessage"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item *ngIf="isESPD">
      <nz-form-label>№ исх. письма на РТК</nz-form-label>
      <nz-form-control>
        <input nz-input type="string" formControlName="numSourceEmailsRTK"/>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label>Комментарий</nz-form-label>
      <nz-form-control>
        <textarea rows="2" nz-input formControlName="commentary"></textarea>
      </nz-form-control>
    </nz-form-item>
    <ng-container *ngIf="isESPD">
      <nz-form-item>
        <nz-form-label>Разовый, руб. с НДС</nz-form-label>
        <nz-form-control>
          <input nz-input type="number" formControlName="oneTimePay"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Емежес., руб. с НДС</nz-form-label>
        <nz-form-control>
          <input nz-input type="number" formControlName="monthlyPay"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Контракт</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="contract"/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Белый IP ЗСПД</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="zspdWhiteIp"/>
        </nz-form-control>
        <div class="error-required"
            *ngIf="showErrors('zspdWhiteIp')">
          <span *ngIf="hasError('zspdWhiteIp','pattern')">Введите корректный IP адрес</span>
        </div>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label>Наличие ЗСПД / способ подключения к ЗСПД</nz-form-label>
        <nz-form-control>
          <input nz-input type="string" formControlName="availZspdOrMethodConToZspd"/>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
  </ng-container>
  <nz-form-item *ngIf="formGroupAccessPoints.get('type')?.value === 'CONTRACT'">
    <nz-form-label>Номер контракта</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="number"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="formGroupAccessPoints.get('type')?.value === 'CONTRACT'">
    <nz-form-label>Сумма (в копейках)</nz-form-label>
    <nz-form-control>
      <input nz-input type="number" formControlName="amount"/>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div class="btn-group">
        <button type="button" class="btn" (click)="saveAccessPoint()">
          Сохранить
        </button>
      </div>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #suffixIconSelect>
  <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
</ng-template>
