
.content {
  padding-left: 32px;
  padding-right: 32px;
  overflow-y: scroll;
  height: calc(100vh - 56px);
}

.filter-result-count {
  color: #000000;
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0.09px;
  margin-bottom: 34px;
}

.sort {
  margin-bottom: 16px;

  &__head {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #9d9d9d;
    margin-bottom: 8px;
    width: 100%;
  }

  &__actions {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }

  &__button {
    user-select: none;
    display: flex;
    align-items: center;
    &:after {
      content: "\f884";
      display: block;
      margin-left: 4px;
    }

    &_active {
      color: #ff5700;
    }

    &_reverse:after {
      content: "\f160";
    }
  }
}

.ant-collapse,
.ant-collapse-icon-position-right {
  color: red;
  border: none;
  border-radius: 0;
  background-color: #efefef;
  .ant-collapse-item {
    color: aqua;
    border-bottom: none;
    ::ng-deep .ant-collapse-header {
      // color: greenyellow;
      user-select: none;
      padding-left: 16px;
      border-bottom: 1px solid #d9d9d9;

      .panel-header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        justify-content: space-between;
        font-family: "GolosTextWebVF", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;

        color: #424242;

        &__text {
          margin: 0;
        }
      }
    }
    ::ng-deep .ant-collapse-content {
      border: none;
      border-left: 1px solid #e8e8e8;
      border-right: 1px solid #e8e8e8;
      .ant-collapse-content-box {
        padding: 0;
      }
      .panel-content {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        padding: 8px 16px;
        border-bottom: 1px solid #d9d9d9;
        &:last-child {
          border-bottom: none;
        }
        &__name {
          color: #9d9d9d;
          display: flex;
          align-items: center;
        }
        &__value {
          margin-top: 4px;
          display: flex;
          gap: 24px;
        }
        &__icon {
          margin-left: 8px;
        }
        &__feature {
          display: flex;
          gap: 8px;
          img {
            width: 16px;
            height: 16px;
          }
          &_normal-q {
            opacity: 0.6 !important;
            filter: grayscale(0) !important;
          }
          &_disabled {
            filter: grayscale(1);
            opacity: 0.3;
          }
        }
      }
    }
  }
}
