<location-filters #filtersComponent (filters)="filter($event)" (init)="onFilterInit($event)" (exportExcel)="exportExcel()"></location-filters>
<div class="filter-result-count" *ngIf="totalElements">
  Результатов поиска: {{totalElements}}
</div>
<div class="filter-result-count" *ngIf="!totalElements">
  Результатов поиска: 0
</div>
<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollUpDistance]="2"
     [infiniteScrollThrottle]="300"
     [scrollWindow]="false"
     (scrolled)="onScrollDown()"
     [ngStyle]="{height: filtersComponent.filtersIsOpened ? TABLE_HEIGHT_WHEN_OPENED_FILTERS : TABLE_HEIGHT_WHEN_NOT_OPENED_FILTERS}"
>
  <div class="sticky-table-container">
    <table mat-table [dataSource]="locations">
        <ng-container matColumnDef="areaName">
          <th class="align-left sort-cell-button"
              mat-header-cell
              *matHeaderCellDef
              appSortButton
              sortBy="parent"
              [currentSort]="filters?.ordering?.name"
              (onSortChange)="onSort($event)"
          >
            <div class="sort-cell-button__inner">Муниципальное образование</div>
          </th>
          <td class="align-left whitespace-nowrap" mat-cell *matCellDef="let location"> {{location.area.name}} </td>
        </ng-container>

      <div *ngIf="user && user.isOperatorOrAdmin(); else not_click_location">
        <ng-container matColumnDef="name">
          <th
            class="sort-cell-button"
            mat-header-cell
            *matHeaderCellDef
              appSortButton
              sortBy="name"
              [currentSort]="filters?.ordering?.name"
              (onSortChange)="onSort($event)"
          >
            <div class="sort-cell-button__inner">Населенный пункт</div>
          </th>
          <td
            mat-cell
            class="align-left location-link"
            *matCellDef="let location"
          >
            <a href="" target="_blank" routerLink="{{ location.id }}">{{location.name}}</a>
          </td>
        </ng-container>
      </div>
      <ng-template #not_click_location>
        <ng-container matColumnDef="name">
          <th
            class="sort-cell-button"
            mat-header-cell
            *matHeaderCellDef
              appSortButton
              sortBy="name"
              [currentSort]="filters?.ordering?.name"
              (onSortChange)="onSort($event)"
          >
            <div class="sort-cell-button__inner">Населенный пункт</div>
          </th>
          <td
            mat-cell
            class="align-left"
            *matCellDef="let location"
          > {{location.name}} </td>
        </ng-container>
      </ng-template>

        <ng-container matColumnDef="population">
          <th
            class="sort-cell-button"
            mat-header-cell
            *matHeaderCellDef
            appSortButton
            sortBy="people_count"
            [currentSort]="filters?.ordering?.name"
            (onSortChange)="onSort($event)"
          >
            <div class="sort-cell-button__inner">
              <span class="material-icons" matTooltip="Численность">people</span>
            </div>
          </th>
          <td class="text-align-center" mat-cell *matCellDef="let location"> {{location.population}} </td>
        </ng-container>

        <ng-container matColumnDef="ats">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-phone.svg" matTooltip="АТС" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.ats">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="payphone">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-phone-2.svg" matTooltip="Таксофоны" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.payphone">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="infomat">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-phone-3.svg" matTooltip="Инфомат" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <img *ngIf="location.infomat && location.infomat.length > 0 && location.infomat[0].isActive"
                 src="/assets/table-ok.svg" alt="">
          </td>
        </ng-container>

        <ng-container matColumnDef="post">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-mail.svg" matTooltip="Почта" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.post">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
                <div class="feature__icon-type with-signal" *ngIf="operator.postType">
                  <span *ngIf="operator.postType.id === 'POST'">ПС</span>
                  <span *ngIf="operator.postType.id !== 'POST'">{{operator.postType.name}}</span>
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="television">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-television.svg" matTooltip="ТВ" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon signal-type"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.television">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
                <div class="feature__icon-type with-signal" *ngIf="operator.type">
                  {{operator.signalsToString()}}
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="radio">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-micro.svg" matTooltip="Радио" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.radio">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
                <div class="feature__icon-type with-signal" *ngIf="operator.type">
                  {{operator.signalsToString()}}
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="cellular">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-phone-4.svg" matTooltip="Сотовая связь" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.cellular">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
                <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
                  {{operator.type}}
                </div>
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="internet">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-internet.svg" matTooltip="Интернет" alt="">
          </th>
          <td mat-cell *matCellDef="let location">
            <div class="td-container">
              <div class="feature__icon"
                   [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                   [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                   *ngFor="let operator of location.internet">
                <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
                <img *ngIf="operator.type != 'Неопределено'"
                     [matTooltip]="operator.type"
                     class="feature__internet-type-icon"
                     [src]="operator.typeIcon" alt="">
              </div>
            </div>
          </td>
        </ng-container>

        <ng-container matColumnDef="contract">
          <th mat-header-cell *matHeaderCellDef>
            <img src="/assets/table-contract.svg" matTooltip="Программа" alt="">
          </th>
          <td mat-cell *matCellDef="let location" class="align-left">
            <div *ngFor="let contract of location.contract" style="white-space: nowrap">{{contract.acronym}} <span
              *ngIf="contract.govYearComplete">{{contract.govYearComplete}}</span></div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</div>
