<!--suppress HtmlFormInputWithoutLabel -->
<div class="select-location">
  <form style="position: relative" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">
    <select formControlName="area">
      <option [ngValue]="null" selected>Выберите район</option>
      <option *ngFor="let location of municipalityLayer?.getLayers()"
              [ngValue]="location">
        {{location.feature.properties.name}}
      </option>
    </select>
    <div class="search-location">
      <div class="icon-location"></div>
      <input #locationSearch
             formControlName="locality"
             placeholder="Поиск по населенным пунктам"
             type="text">
      <input value="" type="submit">
    </div>
    <div class="search-result" *ngIf="administrativePoints.length > 0 && locationSearch.value.length > 0">
      <div class="search-item" *ngFor="let administrativePoint of administrativePoints "
           (click)="setSelectedPoint(administrativePoint)">{{administrativePoint.name}}</div>
    </div>
  </form>
</div>
