<!--suppress HtmlFormInputWithoutLabel -->
<div class="select-location">
<!--  <form style="position: relative" [formGroup]="searchForm" (ngSubmit)="onSearchSubmit()">-->

    <nz-input-group>
      <input
        nz-input
        [nzAutocomplete]="autoComplete"
        (input)="onChange($event)"
      >
    </nz-input-group>

    <nz-autocomplete
      #autoComplete
      (selectionChange)="setSelectedPoint($event.nzValue)"
    >
      <nz-auto-option
        *ngFor="let location of locations$ | async"
        [nzValue]="location"
        [nzLabel]="location?.type + ' ' + location?.name + ' ' + '(' +location?.parent + ')'"
      >
        {{location?.type}} {{location?.name}} ({{location?.parent}})
      </nz-auto-option>
    </nz-autocomplete>

    <!--<nz-select nzShowSearch>
      <nz-option
      *ngFor="let location of municipalityLayer?.getLayers()"
      [nzValue]="location"
      [nzLabel]="location.feature.name"
      ></nz-option>
    </nz-select>-->

<!--    <select formControlName="area">-->
    <select>
      <option [ngValue]="null" selected>Выберите район</option>
      <option *ngFor="let location of municipalityLayer?.getLayers()" [ngValue]="location">
        {{ location.feature.name }}
      </option>
    </select>
    <div class="search-location">
      <div class="icon-location"></div>
<!--      formControlName="locality"-->
      <input
        #locationSearch
        placeholder="Поиск по населенным пунктам"
        type="text"
      />
      <input value="" type="submit" />
    </div>
    <div
      class="search-result"
      *ngIf="administrativePoints.length > 0 && locationSearch.value.length > 0"
    >
      <div
        class="search-item"
        *ngFor="let administrativePoint of administrativePoints"
        (click)="setSelectedPoint(administrativePoint)"
      >
        {{ administrativePoint.fullName }}
      </div>
    </div>
<!--  </form>-->
</div>
