<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()">
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()">
            <span><i class="fas fa-filter"></i>Фильтр</span>
            <span style="font-size: 1.5rem; color: #ff5700">
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </span>
          </div>
          <div class="filter-export">
            <button class="filter-export-button" (click)="resetFilters()">Очистить фильтр</button>
            <button class="filter-export-button" (click)="serviceLocation.exportExcel()" type="button">Выгрузить в Excel</button>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <mat-select
                formControlName="location"
                placeholder="Населенный пункт"
                class="mat-select-filter"
                disableOptionCentering="true"
                [multiple]="true"
              >
                <mat-option>
                  <ngx-mat-select-search
                    noEntriesFoundLabel="Ничего не найдено"
                    placeholderLabel="Поиск..."
                    #locationFilter
                  ></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport
                  [itemSize]="48"
                  [style.height.px]="5 * 48"
                  minBufferPx="400"
                  maxBufferPx="800"
                >
                  <mat-option
                    *cdkVirtualFor="
                      let item of fLocations$ | async | filter: 'fullName':locationFilter.value
                    "
                    [value]="item"
                  >
                    {{ item.fullName }}
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input #organization nz-input customSubmit
                (controlUpdate)="modifyControlValue($event, 'organization')" type="text" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item [formGroup]="form">
              <mat-select formControlName="parent" placeholder="Район" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search
                    noEntriesFoundLabel="Ничего не найдено"
                    placeholderLabel="Поиск..."
                    #regionFilter
                  ></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport
                  [itemSize]="48"
                  [style.height.px]="5 * 48"
                  minBufferPx="400"
                  maxBufferPx="800"
                >
                  <mat-option
                    *cdkVirtualFor="
                      let item of fParents$ | async | filter: 'name':regionFilter.value
                    "
                    [value]="item?.id"
                  >
                    <div *ngIf="item?.type === 'р-н' || item?.type === 'округ'">
                      {{ item?.name }} {{ item?.type }}
                    </div>
                    <div *ngIf="item?.type !== 'р-н' && item?.type !== 'округ'">
                      {{ item?.type }} {{ item?.name }}
                    </div>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип организации</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationTypes$ | async"
                  [form]="form"
                  [iFormControl]="'type'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Оператор связи</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="contractor" type="text" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Адрес</nz-form-label>
              <nz-form-control>
                <app-search-address #searchAddress
                  (selectAddress)="onSelectAddress($event)"
                ></app-search-address>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <mat-select formControlName="logicalCondition" placeholder="Условие" class="mat-select-filter" disableOptionCentering="true">
                <mat-option value="OR">ИЛИ</mat-option>
                <mat-option value="AND">И</mat-option>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Тип СЗО</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationSMOTypes$ | async"
                  [form]="form"
                  [iFormControl]="'smo'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип точки</nz-form-label>
              <nz-form-control>
                <nz-select
                  nzMode="multiple"
                  [nzSuffixIcon]="suffixIconSelect"
                  formControlName="point"
                >
                  <ng-container *ngFor="let item of fPoints$ | async">
                    <nz-option [nzLabel]="item.desc" [nzValue]="item.name"></nz-option>
                  </ng-container>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                {
                  name: 'Нас.пункт',
                  value: 'organization.location.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Район',
                  value: 'organization.location.parent.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Организация',
                  value: 'organization.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Численность',
                  value: 'organization.location.population',
                  orderingDirection: OrderingDirection.UNDEFINED
                }
              ]"
            >
            </app-filter-btn>
            <div class="filter-sort-population">
              <span>от</span>
              <input
              #populationStart
              type="number"
              nz-input
              customSubmit
              (controlUpdate)="modifyControlValue($event, 'populationStart')"
            />
              <span>до</span>
              <input
              #populationEnd
                customSubmit
                type="number"
                nz-input
                (controlUpdate)="modifyControlValue($event, 'populationEnd')"
              />
            </div>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{ points?.count }}</span>
          </div>
          <!--          <div class="filter-search">-->
          <!--            <nz-input-group [nzSuffix]="suffixIconSearch">-->
          <!--              <input type="text" nz-input placeholder=""/>-->
          <!--            </nz-input-group>-->
          <!--            <ng-template #suffixIconSearch>-->
          <!--              <i nz-icon nzType="search" style="color: #ff5700"></i>-->
          <!--            </ng-template>-->
          <!--          </div>-->
        </div>
      </div>
      <ng-template #suffixIconSelect>
        <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
      </ng-template>
    </form>

    <!--    <button class="btn" (click)="openModal()">Добавить организацию</button>-->

    <div class="container-header">
      <div>Населенный пункт</div>
      <div>Организация</div>
      <div>Адрес</div>
    </div>
    <div
      class="container-list"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="onPageChange(this.pageNumber + 1)"
    >
      <ng-container *ngFor="let point of points?.results">
        <div class="container-wrap">
          <div class="container-wrap1">
            <div>
              <div>{{ point?.organization?.location.name }}</div>
              <div>{{ point?.organization?.location.parent }}</div>
              <div>{{ point?.organization?.location.population }} чел.</div>
            </div>
            <div>
              <!--                <a [routerLink]="[point.organization.id]" class="link">Подробнее</a>-->
            </div>
          </div>
          <div class="container-wrap2">
            <div class="">
              <a [routerLink]="[point?.organization?.id]" class="link">
                <span>{{ point?.organization?.name }}</span>
              </a>
            </div>
            <hr />
            <div class="container-wrap4">
              <div>
                <span class="">Тип организации:</span>
                {{ point?.organization?.type ? point?.organization?.type.name : ' ' }}
              </div>
              <div>
                <span class="">Тип СЗО:</span>
                {{ point?.organization?.smoType ? point?.organization?.smoType.name : ' ' }}
              </div>
            </div>
          </div>
          <div class="container-wrap3">
            <div class="container-point">
              <div class="container-info">
                <div class="container-info-icon">
                  <ng-container *ngIf="point.type === 'ESPD'; else smoIcon">
                    <img src="/assets/img/icon/espd.png" />
                  </ng-container>
                  <ng-template #smoIcon>
                    <img src="/assets/img/icon/smo.png" />
                  </ng-template>
                </div>
                <span>{{ point.address ? point.address : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/contractor.png" />
                </div>
                <span>{{ point.contractor ? point.contractor : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/connection.png" />
                </div>
                <span>{{ point.connectionType ? point.connectionType.name : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/declaredSpeed.png" />
                </div>
                <span>{{ point.declaredSpeed ? point.declaredSpeed : '----' }}</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
  >Загрузка. . .
</ngx-spinner>
