<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <form [formGroup]="form" (keydown.enter)="$event.preventDefault()" [formGroup]="form">
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()">
            <span><i class="fas fa-filter"></i>Фильтр</span>
            <span style="font-size: 1.5rem; color: #ff5700">
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </span>
          </div>
          <div class="filter-export">
            <button class="filter-export-button" (click)="resetFilters()">Очистить фильтр</button>
            <button class="filter-export-button" (click)="exportExcel()" type="button">Выгрузить в Excel</button>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <mat-select
                formControlName="location"
                placeholder="Населенный пункт"
                class="mat-select-filter"
                disableOptionCentering="true"
                [multiple]="true"
              >
                <mat-option>
                  <ngx-mat-select-search
                    noEntriesFoundLabel="Ничего не найдено"
                    placeholderLabel="Поиск..."
                    #locationFilter
                  ></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport
                  [itemSize]="48"
                  [style.height.px]="5 * 48"
                  minBufferPx="400"
                  maxBufferPx="800"
                >
                  <mat-option
                    *cdkVirtualFor="
                      let item of fLocations$ | async | filter: 'fullName':locationFilter.value
                    "
                    [value]="item"
                  >
                    {{ item.fullName }}
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input nz-input customSubmit
                [control]="form.get('organization')" type="text" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item [formGroup]="form">
              <mat-select formControlName="parent" placeholder="Муниципальное образование" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search
                    noEntriesFoundLabel="Ничего не найдено"
                    placeholderLabel="Поиск..."
                    #regionFilter
                  ></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport
                  [itemSize]="48"
                  [style.height.px]="5 * 48"
                  minBufferPx="400"
                  maxBufferPx="800"
                >
                  <mat-option
                    *cdkVirtualFor="
                      let item of fParents$ | async | filter: 'name':regionFilter.value
                    "
                    [value]="item?.id"
                  >
                    <div *ngIf="item?.type === 'р-н' || item?.type === 'округ'">
                      {{ item?.name }} {{ item?.type }}
                    </div>
                    <div *ngIf="item?.type !== 'р-н' && item?.type !== 'округ'">
                      {{ item?.type }} {{ item?.name }}
                    </div>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип организации</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationTypes$ | async"
                  [form]="form"
                  [iFormControl]="'type'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Оператор связи</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="contractor" type="text" />
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Адрес</nz-form-label>
              <nz-form-control>
                <app-search-address #searchAddress
                  (selectAddress)="onSelectAddress($event)"
                ></app-search-address>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <mat-select formControlName="logicalCondition" placeholder="Условие" class="mat-select-filter" disableOptionCentering="true">
                <mat-option value="OR">ИЛИ</mat-option>
                <mat-option value="AND">И</mat-option>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Функциональный заказчик</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationSMOTypes$ | async"
                  [form]="form"
                  [iFormControl]="'smo'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                {
                  name: 'Нас.пункт',
                  value: 'organization.location.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Муниципальное образование',
                  value: 'organization.location.parent.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Организация',
                  value: 'organization.name',
                  orderingDirection: OrderingDirection.UNDEFINED
                },
                {
                  name: 'Численность',
                  value: 'organization.location.population',
                  orderingDirection: OrderingDirection.UNDEFINED
                }
              ]"
            >
            </app-filter-btn>
            <div class="filter-sort-population">
              <span>от</span>
              <input
              type="number"
              nz-input
              customSubmit
              [control]="form.get('populationStart')"
            />
              <span>до</span>
              <input
                customSubmit
                type="number"
                nz-input
                [control]="form.get('populationEnd')"
              />
            </div>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{ points?.count }}</span>
          </div>
          <!--          <div class="filter-search">-->
          <!--            <nz-input-group [nzSuffix]="suffixIconSearch">-->
          <!--              <input type="text" nz-input placeholder=""/>-->
          <!--            </nz-input-group>-->
          <!--            <ng-template #suffixIconSearch>-->
          <!--              <i nz-icon nzType="search" style="color: #ff5700"></i>-->
          <!--            </ng-template>-->
          <!--          </div>-->
        </div>
      </div>
      <ng-template #suffixIconSelect>
        <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
      </ng-template>
    </form>

    <!--    <button class="btn" (click)="openModal()">Добавить организацию</button>-->

    <ng-container *ngIf="isContractor" >

      <div class="status-container" *ngIf="fAccessPointsState$ | async as pointsState; else apStatesLoading">
        <button mat-flat-button disableRipple (click)="setAccessPointFilterState(apState.Active)" class="status is-working"
          [class.is-active]="state == apState.Active">Работают: {{pointsState[apState.Active]}}</button>
        <button mat-flat-button disableRipple (click)="setAccessPointFilterState(apState.Problem)" class="status is-problem"
          [class.is-active]="state == apState.Problem">Проблема: {{pointsState[apState.Problem]}}</button>
        <button mat-flat-button disableRipple (click)="setAccessPointFilterState(apState.Disabled)"
          class="status is-not-working" [class.is-active]="state == apState.Disabled">Не работает:
          {{pointsState[apState.Disabled]}}</button>
        <button mat-flat-button disableRipple (click)="setAccessPointFilterState(apState.NotMonitored)"
          class="status is-not-connected" [class.is-active]="state == apState.NotMonitored">Не подключено:
          {{pointsState[apState.NotMonitored]}}</button>
      </div>
    </ng-container>

    <div class="container-header" [ngClass]="{'is-contractor': isContractor}">
      <div>Населенный пункт</div>
      <div>Организация</div>
      <div>Адрес</div>
      <ng-container *ngIf="isContractor">
        <div>Мониторинг</div>
        <div>Дата постановки</div>
        <div>Статус</div>
        <div>Трафик (за день)</div>
        <div>Важность</div>
        <div>Описание проблемы</div>
      </ng-container>
    </div>
    <div
      class="container-list"
      infinite-scroll
      [infiniteScrollDistance]="1"
      [infiniteScrollUpDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="onPageChange(this.pageNumber + 1)"
    >
      <ng-container *ngFor="let point of points?.results; trackBy:trackByIds">
        <div class="container-wrap" [ngClass]="{'is-contractor': isContractor}" >
          <div class="container-wrap1">
            <div>
              <div>{{ point?.organization?.location.name }}</div>
              <div>{{ point?.organization?.location.parent }}</div>
              <div>{{ point?.organization?.location.population }} чел.</div>
            </div>
            <div>
              <!--                <a [routerLink]="[point.organization.id]" class="link">Подробнее</a>-->
            </div>
          </div>
          <div class="container-wrap2">
            <div class="">
              <a [routerLink]="[point?.organization?.id]" class="link">
                <span>{{ point?.organization?.name }}</span>
              </a>
            </div>
            <hr />
            <div class="container-wrap4">
              <div>
                <span class="">Тип организации:</span>
                {{ point?.organization?.type ? point?.organization?.type.name : ' ' }}
              </div>
              <div>
                <span class="">Функциональный заказчик:</span>
                {{ point?.organization?.smoType ? point?.organization?.smoType.name : ' ' }}
              </div>
            </div>
          </div>
          <div class="container-wrap3">
            <div class="container-point" [ngClass]="{'is-contractor': isContractor}">
              <div class="container-info">
                <div class="container-info-icon" >
                  <ng-container *ngIf="point.type === 'ESPD'; else smoIcon">
                    <img src="/assets/img/icon/espd.png" matTooltip="ЕСПД" />
                  </ng-container>
                  <ng-template #smoIcon>
                    <img src="/assets/img/icon/smo.png" matTooltip="СЗО" />
                  </ng-template>
                </div>
                <span>{{ point.address ? point.address : '----' }}</span>
              </div>
              <div class="container-info" >
                <div class="container-info-icon" >
                  <img src="/assets/img/icon/contractor.png" matTooltip="Подрядчик" />
                </div>
                <span>{{ point.contractor ? point.contractor : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon" >
                  <img src="/assets/img/icon/connection.png" matTooltip="Интернет" />
                </div>
                <span>{{ point.connectionType ? point.connectionType.name : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon" >
                  <img src="/assets/img/icon/declaredSpeed.png" matTooltip="Скорость" />
                </div>
                <span>{{ point.declaredSpeed ? point.declaredSpeed : '----' }}</span>
              </div>
            </div>
          </div>
           <ng-container *ngIf="isContractor">
             <div class="container-wrap5">
               <div>
                 <span> <mat-checkbox [checked]="point?.connectionState !== apState.NotMonitored" disabled></mat-checkbox></span>
                </div>
              </div>
              <div class="container-wrap6">
                <div>
                  <span class="is-bold" *ngIf="point?.createDate">{{point.createDate | date: 'dd/MM/yyyy'}}</span>
                  <span *ngIf="!point?.createDate">----</span>
                </div>
              </div>
            <div class="container-wrap7">
              <div>
                <span>{{stateToString(point?.connectionState)}}</span>
              </div>
            </div>
            <div class="container-wrap8">
              <div>
                <span *ngIf="point?.connectionState === apState.NotMonitored; else showTraffic">----</span>
                <ng-template #showTraffic>
                  <span>{{ point?.dayTraffic }}</span>
                </ng-template>
              </div>
            </div>
            <div class="container-wrap9">
              <div>
                <span>{{point?.importance ? importanceToString(point.importance) : '----'}}</span>
              </div>
            </div>
            <div class="container-wrap10">
              <div>
                <span>{{ point?.problemDefinition || '----' }}</span>
              </div>
            </div>
          </ng-container>
        </div>
      </ng-container>
    </div>
  </div>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
  >Загрузка. . .
</ngx-spinner>


<ngx-spinner
  name="excelSpinner"
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">В процессе...</p>
</ngx-spinner>


<ng-template #apStatesLoading>

  <div class="spinner">

    <mat-spinner diameter="30"></mat-spinner> <span>Загрузка состояний точек подключения..</span>
  </div>


</ng-template>
