.container-header {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-column-gap: 0.2rem;
  padding: 0.5rem 0;
  color: #9da0a1;
}

.container-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 1rem;
}

.container-wrap {
  display: grid;
  grid-template-columns: 200px 1fr 1fr;
  grid-column-gap: 0.2rem;

}

.container-header.is-contractor,
.container-wrap.is-contractor
 {
  grid-template-columns: 170px 250px 1fr 100px 100px 110px repeat(2, 0.2fr) 0.4fr;
}

.container-wrap1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.2rem;
  font-weight: 400;
  background: #f2f2f6;
}

.container-wrap2 {
  padding: 1.2rem 1.2rem 1.4rem;
  background: #f2f2f6;
}

.container-wrap3 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-wrap4 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 0.5rem;
}

.container-wrap5 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-wrap6 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-wrap7 {
  padding: 1.2rem 1rem;
  background: #f2f2f6;
}

.container-wrap8 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-wrap9 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-wrap10 {
  padding: 1.2rem;
  background: #f2f2f6;
}

.container-point {
  display: grid;
  grid-template-columns: 2fr 1fr 160px 100px;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1rem;
}

.container-point.is-contractor {
  grid-template-columns: repeat(2, 1fr);
}

.container-point + .container-point {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 1px solid #ffffff;
}

hr {
  margin: 0.5rem 0;
  border: none;
  border-top: 1px solid #ffffff;
}

.rowspan2 {
  grid-row: 2/span 2;
}

.col2 {
  grid-column: 2;
}

.col3 {
  grid-column: 3/-1;
}

.container-info {
  display: flex;
  align-items: center;
}

.container-info-icon {
  flex-shrink: 0;
  width: 24px;
  margin-right: 1rem;
}

.link {
  color: rgba(0, 0, 0, 0.65);
}

.link:hover {
  text-decoration: underline;
}

.filter .mat-button {width: 100%;}






.header-filter {
  display: flex;
  justify-content: space-between;
}

a.btn {
  display: inline-block;
  margin-top: 1rem;
}

a.btn:hover {
  color: #ffffff;
}

.layout-list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 3rem;
  margin-top: 2rem;
}

.layout-list-group {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}


.layout-list-item {
  display: grid;
  grid-template-columns: minmax(200px, 300px) 1fr;
  grid-row-gap: 2rem;
  padding: 15px 10px;
  box-shadow: 0 2px 4px rgba(0, 7, 3, 0.27);
}

.layout-col {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 1fr;
}

.layout-col-item1 {
  margin-right: 1rem;
  padding: 0 1rem;
  border-left: 1px solid #8e8e8e;
  border-right: 1px solid #8e8e8e;
}

.layout-col-item1>div {
  margin-bottom: 0.5rem;
}

.layout-point {
  display: grid;
  grid-template-columns: minmax(200px, 1fr) minmax(240px, 360px);
}

.layout-point:not(:last-child) {
  border-bottom: 1px solid #8e8e8e;
}

.layout-point:nth-child(2n) {
  background: #f4f4f4;
}

.layout-point-address {
  display: grid;
  grid-template-columns: 35px 1fr;
  grid-gap: 1rem;
  align-items: center;
  padding: 0.5rem;
  border-right: 1px solid #8e8e8e;
}

.layout-point-info {
  display: grid;
  grid-template-columns: 140px repeat(2, minmax(50px, 100px));
  grid-gap: 10px;
  padding: 0.5rem;
}

.flex-row {
  display: flex;
  flex-direction: column;
}

.flex-row span {
  margin-top: 0.3rem;
}

.filter {
}

.is-bold {
  font-weight: 600;
}

.filter-button {
  position: fixed;
  top: 35%;
  right: -43px;

  padding: 0.3rem 0.6rem;

  background: #009cd3;
  border: none;

  color: #ffffff;
  transform: rotate(-90deg);
}
.filter-export {
  button + button {margin-left: 16px;}
}

.status {
  font-family: sans-serif;
  font-weight: 600;
  padding: 0 1.5rem;
  min-width: 175px;
  transition: all 0.2s;
}

.status:active,
.status.is-active {
  transform: scale(0.98);
}

.status.is-working {
  background-color: #4caf50;
}

.status.is-problem {
  background-color: orange;
}

.status.is-not-working {
  background-color: red;
}

.status.is-not-connected {
  background-color: lightgray;
}

.status-container {
  display: flex;
  gap: 0.3rem;
  margin-bottom: 1rem;
}

mat-select {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 22px;

  & ::ng-deep .mat-select-placeholder {
    color: rgba(0, 0, 0, 0.42);
  }
}
