<div class="location" *ngIf="operators && mobileTypes && tcs">
  <div class="page-header">
    <div class="page-header-item">
      <span class="material-icons">account_balance</span>
      <div>
        <div>{{tcs.type}} {{tcs.name}}</div>
        <ng-container *ngIf="tcs.locationParent">
          <div class="font-size">{{tcs.locationParent.type}} {{tcs.locationParent.name}}</div>
        </ng-container>
      </div>
    </div>
    <div class="page-header-item">
      <span class="material-icons custom">people</span>
      <span>{{tcs.population}} человек</span>
    </div>
  </div>
  <mat-tab-group dynamicHeight>
    <mat-tab label="Текущая ситуация">
      <div class="tab-wrap">
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Мобильная связь
            </div>
            <div class="operator-block" *ngFor="let operator of operators.mobile">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.cellular, operator.id)"
                  [checked]="!!tcs.cellular.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <div>
                  <mat-radio-group
                    [disabled]="!tcs.cellular.tcs[operator.id]"
                    [name]="'channel-opt-cellular' + operator.id"
                    [ngModel]="tcs.cellular.tcs[operator.id]?.typeMobile"
                    (ngModelChange)="tcs.cellular.tcs[operator.id].typeMobile = $event"
                    class="tc-options"
                  >
                    <mat-radio-button *ngFor="let mt of mobileTypes" [value]="mt.id">{{mt.name}}</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field>
                  <mat-label>Качество связи</mat-label>
                  <mat-select
                    [disabled]="!tcs.cellular.tcs[operator.id]"
                    [ngModel]="tcs.cellular.tcs[operator.id]?.quality"
                    (ngModelChange)="tcs.cellular.tcs[operator.id].quality = $event"
                    [name]="'quality-opt-cellular' + operator.id"
                  >
                    <mat-option value="GOOD">(Хорошее качество)</mat-option>
                    <mat-option value="NORMAL">Удовлетворительное качество</mat-option>
                    <mat-option value="ABSENT">(Отсутствует)</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-form-field">
                  <mat-label>Год</mat-label>
                  <input matInput
                         [disabled]="!tcs.cellular.tcs[operator.id]"
                         [name]="'cellular-year-complete' + operator.id"
                         type="number"
                         [ngModel]="tcs.cellular.tcs[operator.id]?.govYearComplete"
                         (ngModelChange)="tcs.cellular.tcs[operator.id] ? tcs.cellular.tcs[operator.id].govYearComplete = $event : null"
                  >
                  <button mat-button
                          *ngIf="tcs.cellular.tcs[operator.id] && tcs.cellular.tcs[operator.id].govYearComplete"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          [disabled]="!tcs.cellular.tcs[operator.id]"
                          (click)="tcs.cellular.tcs[operator.id] ? tcs.cellular.tcs[operator.id].govYearComplete = null : null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <gov-program-select
                  [disabled]="!tcs.cellular.tcs[operator.id]"
                  [ngModel]="tcs.cellular.tcs[operator.id]?.governmentDevelopmentProgram"
                  (ngModelChange)="tcs.cellular.tcs[operator.id] ? tcs.cellular.tcs[operator.id].governmentDevelopmentProgram = $event : null"
                  [name]="'channel-opt-cellular-select' + operator.id"
                  class="gov-program-select"
                >
                </gov-program-select>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Интернет
            </div>
            <div class="operator-block" *ngFor="let operator of operators.internet">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.internet, operator.id)"
                  [checked]="!!tcs.internet.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <div>
                  <mat-radio-group
                    [disabled]="!tcs.internet.tcs[operator.id]"
                    [ngModel]="tcs.internet.tcs[operator.id]?.trunkChannel"
                    (ngModelChange)="tcs.internet.tcs[operator.id].trunkChannel = $event"
                    [name]="'channel-opt-internet' + operator.id"
                    class="tc-options">
                    <mat-radio-button *ngFor="let it of internetTypes" [value]="it.id">{{it.name}}</mat-radio-button>
                  </mat-radio-group>
                </div>
                <mat-form-field>
                  <mat-label>Качество связи</mat-label>
                  <mat-select
                    [disabled]="!tcs.internet.tcs[operator.id]"
                    [ngModel]="tcs.internet.tcs[operator.id]?.quality"
                    (ngModelChange)="tcs.internet.tcs[operator.id].quality = $event"
                    [name]="'quality-opt-internet' + operator.id"
                  >
                    <mat-option value="GOOD">(Хорошее качество)</mat-option>
                    <mat-option value="NORMAL">Удовлетворительное качество</mat-option>
                    <mat-option value="ABSENT">(Отсутствует)</mat-option>
                  </mat-select>
                </mat-form-field>
                <mat-form-field class="example-form-field">
                  <mat-label>Год</mat-label>
                  <input matInput
                         [disabled]="!tcs.internet.tcs[operator.id]"
                         [name]="'internet-year-complete' + operator.id"
                         type="number"
                         [ngModel]="tcs.internet.tcs[operator.id]?.govYearComplete"
                         (ngModelChange)="tcs.internet.tcs[operator.id] ? tcs.internet.tcs[operator.id].govYearComplete = $event : null"
                  >
                  <button mat-button
                          *ngIf="tcs.internet.tcs[operator.id] && tcs.internet.tcs[operator.id].govYearComplete"
                          matSuffix
                          mat-icon-button
                          aria-label="Clear"
                          [disabled]="!tcs.internet.tcs[operator.id]"
                          (click)="tcs.internet.tcs[operator.id] ? tcs.internet.tcs[operator.id].govYearComplete = null : null">
                    <mat-icon>close</mat-icon>
                  </button>
                </mat-form-field>
                <gov-program-select
                  [disabled]="!tcs.internet.tcs[operator.id]"
                  [ngModel]="tcs.internet.tcs[operator.id]?.governmentDevelopmentProgram"
                  (ngModelChange)="tcs.internet.tcs[operator.id] ? tcs.internet.tcs[operator.id].governmentDevelopmentProgram = $event : null"
                  [name]="'channel-opt-internet-select' + operator.id"
                >
                </gov-program-select>
                <!--                <button type="button" class="tc-button"><span class="material-icons">more_horiz</span></button>-->
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Телевидение
            </div>
            <div class="operator-block" *ngFor="let operator of operators.television">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.tv, operator.id)"
                  [checked]="!!tcs.tv.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <div>
                  <signal-control
                    [disabled]="!tcs.tv.tcs[operator.id]"
                    [ngModel]="tcs.tv.tcs[operator.id]?.tvOrRadioTypes"
                    (ngModelChange)="tcs.tv.tcs[operator.id].tvOrRadioTypes = $event"
                    [name]="'channel-opt-tv' + operator.id"
                    class="tc-options"
                  >
                  </signal-control>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Стационарный телефон
            </div>
            <div class="operator-block" *ngFor="let operator of operators.ats">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.telephone, operator.id)"
                  [checked]="!!tcs.telephone.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Таксофон
            </div>
            <div class="operator-block" *ngFor="let operator of operators.payphone">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.payphone, operator.id)"
                  [checked]="!!tcs.payphone.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <mat-form-field>
                  <mat-label>Количество</mat-label>
                  <input matInput
                         placeholder=""
                         [ngModel]="tcs.payphone.tcs[operator.id]?.payphones"
                         (ngModelChange)="tcs.payphone.tcs[operator.id].payphones = $event"
                         [name]="'payphone-opt-count' + operator.id"
                         [disabled]="!tcs.payphone.tcs[operator.id]">
                </mat-form-field>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div>
              <div class="tc-label">Почта</div>
            </div>
            <div class="operator-block" *ngFor="let operator of operators.post">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.post, operator.id)"
                  [checked]="!!tcs.post.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <mat-radio-group
                  [disabled]="!tcs.post.tcs[operator.id]"
                  [ngModel]="tcs.post.tcs[operator.id]?.typePost"
                  (ngModelChange)="tcs.post.tcs[operator.id].typePost = $event"
                  [name]="'channel-opt-post' + operator.id"
                  class="tc-options">
                  <mat-radio-button *ngFor="let it of postTypes" [value]="it.id">{{it.name}}</mat-radio-button>
                </mat-radio-group>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Радио
            </div>
            <div class="operator-block" *ngFor="let operator of operators.radio">
              <div class="operator-block-name">
                <mat-checkbox
                  (change)="onAddOrRemoveOperator($event, tcs.radio, operator.id)"
                  [checked]="!!tcs.radio.tcs[operator.id]"
                >
                  {{operator.name}}
                </mat-checkbox>
              </div>
              <div class="operator-block-wrap">
                <div>
                  <signal-control
                    [disabled]="!tcs.radio.tcs[operator.id]"
                    [ngModel]="tcs.radio.tcs[operator.id]?.tvOrRadioTypes"
                    (ngModelChange)="tcs.radio.tcs[operator.id].tvOrRadioTypes = $event"
                    [name]="'channel-opt-radio' + operator.id"
                    class="tc-options"
                  >
                  </signal-control>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Инфомат
            </div>
            <div class="operator-block" *ngFor="let operator of operators.infomat">
              <mat-checkbox
                (change)="onAddOrRemoveOperator($event, tcs.infomat, operator.id)"
                [checked]="!!tcs.infomat.tcs[operator.id]"
              >
              </mat-checkbox>
              <div class="operator-block-wrap">
              </div>
            </div>
          </form>
        </div>
        <div class="tc-item">
          <form name="tc-form">
            <div class="tc-label">
              Комментарий к внесенным изменениям (к заявке)
            </div>
            <div class="operator-block">
              <div class="tc-comment">
                <textarea matInput placeholder="" rows="5"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="tc-btn-group">
          <button mat-flat-button color="primary" class="custom-btn" (click)="save()">Сохранить</button>
        </div>
      </div>
    </mat-tab>
    <mat-tab label="Архив">
      <div class="tab-wrap" *ngIf="archiveRequests && archiveRequests.length > 0">
        <div class="tab-header">
          <div>
            Последние изменения: <span class="color">{{archiveRequests[0].created | date: 'dd.MM.yyyy'}}</span>
          </div>
        </div>
        <ng-container *ngFor="let request of archiveRequests">
          <div class="card-container">
            <div class="card">
              <span class="card-number">№{{request.id}}</span> от
              <span class="card-date">{{request.created | date: 'dd.MM.yyyy'}}</span>
              <p>Внесенные изменения:</p>
              <ng-container *ngFor="let edit of request.featureEdits">
                <ul class="card-list" [ngSwitch]="edit.tc.type">
                  <li class="card-list-item" *ngSwitchCase="'ATS'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">АТС:</span> Подключен {{edit.tc.operator.name}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">АТС:</span> Отключен {{edit.tc.operator.name}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <!--                        <span class="underline">АТС:</span> Обновлен АТС: {{edit.tc.operator.name}}-->
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'PAYPHONE'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Таксофоны:</span> Подключен {{edit.tc.operator.name}}  Количество таксофонов: {{edit.tc.payphones}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Таксофоны:</span> Отключен {{edit.tc.operator.name}}.
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        Изменено количество таксофонов с {{edit.tc.payphones}} на {{edit.newValue.payphones}}
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'INFOMAT'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Инфомат:</span> Подключен
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Инфомат:</span> Отключен
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <!--                        <span class="underline">АТС:</span> Обновлен АТС: {{edit.tc.operator.name}}-->
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'INET'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Интернет:</span>
                        Подключен {{edit.tc.operator.name}} {{edit.tc.trunkChannel.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Интернет:</span>
                        Отключен {{edit.tc.operator.name}} {{edit.tc.trunkChannel.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Интернет ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.trunkChannel.id !== edit.newValue.trunkChannel.id">
                          Изменен тип подключения с {{edit.tc.trunkChannel.name}}
                          <ng-container [ngSwitch]="edit.tc.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container> на {{edit.newValue.trunkChannel.name}}
                          <ng-container [ngSwitch]="edit.newValue.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'MOBILE'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Мобильная связь:</span>
                        Подключен {{edit.tc.operator.name}} {{edit.tc.typeMobile.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Мобильная связь:</span>
                        Отключен {{edit.tc.operator.name}} {{edit.tc.typeMobile.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Мобильная связь ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.typeMobile.id !== edit.newValue.typeMobile.id">
                          Изменен тип сотовой связи с {{edit.tc.typeMobile.name}}
                          <ng-container [ngSwitch]="edit.tc.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container> на {{edit.newValue.typeMobile.name}}
                          <ng-container [ngSwitch]="edit.newValue.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'POST'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Почта:</span>
                        Подключен {{edit.tc.operator.name}} {{edit.tc.typePost.name}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Почта:</span>
                        Отключен {{edit.tc.operator.name}} {{edit.tc.typePost.name}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Почта ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.typePost && edit.newValue.typePost && edit.tc.typePost.id !== edit.newValue.typePost.id">
                          Изменен тип почты с {{edit.tc.typePost.name}} на {{edit.newValue.typePost.name}}
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'RADIO'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Радио:</span>
                        Подключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Радио:</span>
                        Отключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Радио ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.typePost.id !== edit.newValue.typePost.id">
                          Изменен тип радио с {{signalsToString(edit.tc.tvOrRadioTypes)}}
                          на {{signalsToString(edit.newValue.tvOrRadioTypes)}}
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'TV'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">ТВ:</span>
                        Подключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">ТВ:</span>
                        Отключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">ТВ ({{edit.tc.operator.name}}):</span>
                        <ng-container>
                          Изменен тип тв с {{signalsToString(edit.tc.tvOrRadioTypes)}}
                          на {{signalsToString(edit.newValue.tvOrRadioTypes)}}
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab>
    <mat-tab label="План" *ngIf="planRequests && planRequests.length > 0">
      <div class="tab-wrap">
        <div class="tab-header">
          <div>
            Последние изменения: <span class="color">{{planRequests[0].created | date: 'dd.MM.yyyy'}}</span>
          </div>
<!--          <button mat-flat-button color="primary" class="custom-btn">Внести изменения</button>-->
        </div>
        <ng-container *ngFor="let request of planRequests">
          <div class="card-container">
            <div class="card">
              <span class="card-number">№{{request.id}}</span> от
              <span class="card-date">{{request.created | date: 'dd.MM.yyyy'}}</span>
              <p>Планируемые изменения:</p>
              <ng-container *ngFor="let edit of request.featureEdits">
                <ul class="card-list" [ngSwitch]="edit.tc.type">
                  <li class="card-list-item" *ngSwitchCase="'INET'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Интернет:</span>
                        Подключение {{edit.tc.operator.name}} {{edit.tc.trunkChannel.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                        (по программе {{edit.tc.governmentDevelopmentProgram.acronym}} {{edit.tc.govYearComplete}})
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Интернет ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.trunkChannel.id !== edit.newValue.trunkChannel.id">
                          Изменение типа подключения с {{edit.tc.trunkChannel.name}}
                          <ng-container [ngSwitch]="edit.tc.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                          на {{edit.newValue.trunkChannel.name}}
                          <ng-container [ngSwitch]="edit.newValue.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                          (по программе {{edit.newValue.governmentDevelopmentProgram.acronym}} {{edit.newValue.govYearComplete}})
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                  <li class="card-list-item" *ngSwitchCase="'MOBILE'">
                    <ng-container [ngSwitch]="edit.action">
                      <ng-container *ngSwitchCase="'CREATE'">
                        <span class="underline">Мобильная связь:</span>
                        Подключение {{edit.tc.operator.name}} {{edit.tc.typeMobile.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                        (по программе {{edit.tc.governmentDevelopmentProgram.acronym}} {{edit.tc.govYearComplete}})
                      </ng-container>
                      <ng-container *ngSwitchCase="'DELETE'">
                        <span class="underline">Мобильная связь:</span>
                        Отключение {{edit.tc.operator.name}} {{edit.tc.typeMobile.name}}
                        <ng-container [ngSwitch]="edit.tc.quality">
                          <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                          <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                          <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                        </ng-container>
                        (по программе {{edit.tc.governmentDevelopmentProgram.acronym}} {{edit.tc.govYearComplete}})
                      </ng-container>
                      <ng-container *ngSwitchCase="'UPDATE'">
                        <span class="underline">Мобильная связь ({{edit.tc.operator.name}}):</span>
                        <ng-container *ngIf="edit.tc.typeMobile.id !== edit.newValue.typeMobile.id">
                          Изменение типа сотовой связи с {{edit.tc.typeMobile.name}}
                          <ng-container [ngSwitch]="edit.tc.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                          на {{edit.newValue.typeMobile.name}}
                          <ng-container [ngSwitch]="edit.newValue.quality">
                            <ng-container *ngSwitchCase="'GOOD'">(Хорошее качество)</ng-container>
                            <ng-container *ngSwitchCase="'NORMAL'">(Удовлентворительное качество)</ng-container>
                            <ng-container *ngSwitchCase="'ABSENT'">(Отсутствует)</ng-container>
                          </ng-container>
                          (по программе {{edit.newValue.governmentDevelopmentProgram.acronym}} {{edit.newValue.govYearComplete}})
                        </ng-container>
                      </ng-container>
                    </ng-container>
                  </li>
                </ul>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
