:host {
  display: block;
  padding: 15px;
}

.page-header {
  display: flex;
  justify-content: flex-start;

  margin: 20px 0 30px 10px;

  font-weight: 600;
  font-size: 16px;
}

.page-header-item {
  display: flex;
  align-items: center;

  padding-right: 2rem;
}

.font-size {
  font-weight: 400;
  font-size: 13px;
}

.page-header-item .material-icons {
  margin-right: 1rem;
}

.material-icons.custom {
  margin-bottom: 4px;
}

.page-header-item:last-child {
  padding-left: 2rem;

  border-left: 1px solid #BCBCBC;
}

.tab-wrap {
  padding: 2rem 1rem;
}

.tab-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


button.custom-btn {
  border-radius: 0;
  background-color: #707070;
}

.color {
  color: #35A5F9;
}

.card-container {
  margin-top: 32px;
}

.card {
  margin-bottom: 10px;
  padding: 12px 16px;

  border: 1px solid #BCBCBC;
}

.card-date {
  color: #35A5F9;

  font-size: 15px;
}

.card-number {
  color: #35A5F9;

  font-weight: 600;
  font-size: 15px;
}

.card-list {
  margin: 0;
  padding-left: 32px;

  font-size: 14px;
}

.card-list-item {
  padding: 5px 0;
}

.underline {
  text-decoration: underline;
}

p {
  margin: 6px 0 8px;
  font-size: 14px;
  font-weight: 600;
}

.some-plan-row {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.capabilities-list {
  margin-top: 20px;
  @media(min-width: 1280px) {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
  }
  &__item {
    border-top: 1px solid rgba(0, 0, 0, 0.42);
    padding-top: 10px;
    &:first-child {border-top: 0;}
    @media(min-width: 1280px){
      position: relative;
      width: 50%;
      padding-left: 30px;
      padding-bottom: 30px;
      box-sizing: border-box;

      &._md {width: 609 / 1377 * 100%;}
      &._lg {width: 768 / 1377 * 100%;}
      &._sm {width: 33.3334%;}
      &._full {width: 100%;}
      &:nth-child(2){border-top: 0;}
      & + & {
        &:after {
          content: '';
          position: absolute;
          left: 15px;
          top: 10px;
          bottom: 10px;
          border-left: 1px solid rgba(0, 0, 0, 0.42);
        }
      }
    }
    @media(max-width: 1279px){
      & + & {margin-top: 30px;}
    }
  }
  &__submit {
    text-align: right;
    padding-bottom: 50px;
  }

  textarea {
    padding: 10px 16px 8px;
    background: #F6F6F6;
  }
}

.error-parent {
  color: red;
  font-size: 12px;
}
