<div class="location-features-container">
  <app-location-comparing-filters (exportExcel)="exportExcel()" (init)="onFilterInit($event)" [type]="type" (filters)="filter($event)"></app-location-comparing-filters>

  <div class="filter-result-count">
    Результатов поиска: {{totalElements}}
  </div>

  <mat-button-toggle-group name="fontStyle" aria-label="Font Style" (change)="onChangeType($event)" class="type-select">
    <mat-button-toggle [checked]="this.type === 'INET'" value="INET">Интернет</mat-button-toggle>
    <mat-button-toggle value="MOBILE">Сотовая связь</mat-button-toggle>
  </mat-button-toggle-group>
  <div class="features-table" *ngIf="features">
    <div class="features-table__header">
      <div class="features-table__header-column sort-cell-button"
        appSortButton
        sortBy="parent"
        [currentSort]="filters?.ordering?.name"
        (onSortChange)="onSort($event)"
      >
        <div class="sort-cell-button__inner">
          Район
        </div>
      </div>
      <div class="features-table__header-column sort-cell-button"
        appSortButton
        sortBy="name"
        [currentSort]="filters?.ordering?.name"
        (onSortChange)="onSort($event)"
      >
        <div class="sort-cell-button__inner">
          Населенный пункт
        </div>
      </div>
      <div class="features-table__header-column _center sort-cell-button"
        appSortButton
        sortBy="people_count"
        [currentSort]="filters?.ordering?.name"
        (onSortChange)="onSort($event)"
      >
        <div class="sort-cell-button__inner">
          <span class="material-icons" matTooltip="Численность">people</span>
        </div>
      </div>

      <div class="features-table__header-column">Архив {{currentYear - 1}}</div>
      <div class="features-table__header-column">Текущие {{currentYear}}</div>
      <div class="features-table__header-column">План {{currentYear}}</div>

      <div class="features-table__header-column">План {{currentYear + 1}}</div>
      <div class="features-table__header-column">План {{currentYear + 2}}</div>
    </div>
    <div class="features-table__body"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollUpDistance]="2"
         [infiniteScrollThrottle]="300"
         (scrolled)="onScrollDown()"
    >
      <div class="features-table__row" *ngFor="let feature of features">
        <div class="features-table__column">
          <div class="features-table__location-info">{{feature.locationParent?.type}} {{feature.locationParent?.name}}</div>
        </div>
        <div class="features-table__column">
          <div class="features-table__location-info">
            <a target="_blank" class="location-link" routerLink="/locations/{{ feature.id }}">{{feature.type}} {{feature.name}}</a>
          </div>
        </div>
        <div class="features-table__column _center">
          <div class="features-table__location-info">{{feature.population}}</div>
        </div>
        <div class="features-table__column features-table__archive-column">
          <div class="features-table__operator" *ngFor="let tc of feature.archive">
            <div class="features-table__operator-icon">
              <img [src]="'/media/' + tc.operator.icon" alt="">
            </div>
            <div class="features-table__feature-type" *ngIf="tc.type === 'INET' && tc.trunkChannel">
              <img [src]="'/assets/' + tc.trunkChannel.name + '.svg'" alt="">
            </div>
            <div class="features-table__feature-type" *ngIf="tc.type === 'MOBILE' && tc.typeMobile">
              {{tc.typeMobile.name}}
            </div>
          </div>
        </div>
        <div class="features-table__column features-table__archive-column">
          <div class="features-table__operator" *ngFor="let tc of feature.active">
            <div class="features-table__operator-icon">
              <img [src]="'/media/' + tc.operator.icon" alt="">
            </div>
            <div class="features-table__feature-type" *ngIf="tc.type === 'INET' && tc.trunkChannel">
              <img [src]="'/assets/' + tc.trunkChannel.name + '.svg'" alt="">
            </div>
            <div class="features-table__feature-type" *ngIf="tc.type === 'MOBILE' && tc.typeMobile">
              {{tc.typeMobile.name}}
            </div>
          </div>
        </div>
        <div class="features-table__column">
          <div class="features-table__plan-row" *ngFor="let tc of feature.planYear" (click)="showDialog(tc, feature.id)">
            <img [src]="'/media/' + tc.operator.icon" alt="">
            <span *ngIf="tc.type === 'INET' && tc.trunkChannel">
              {{tc.trunkChannel.name}}
            </span>
            <span *ngIf="tc.type === 'MOBILE' && tc.typeMobile">
              {{tc.typeMobile.name}}
            </span>
            : {{tc.governmentDevelopmentProgram.acronym}} {{tc.govYearComplete}}
          </div>
        </div>
        <div class="features-table__column">
          <div class="features-table__plan-row" (click)="showDialog(tc, feature.id)" *ngFor="let tc of feature.planTwoYear">
            <img [src]="'/media/' + tc.operator.icon" alt="">
            <span *ngIf="tc.type === 'INET' && tc.trunkChannel">
              {{tc.trunkChannel.name}}
            </span>
            <span *ngIf="tc.type === 'MOBILE' && tc.typeMobile">
              {{tc.typeMobile.name}}
            </span>
            : {{tc.governmentDevelopmentProgram.acronym}} {{tc.govYearComplete}}
          </div>
        </div>
        <div class="features-table__column">
          <div class="features-table__plan-row" *ngFor="let tc of feature.planThreeYear" (click)="showDialog(tc, feature.id)">
            <img [src]="'/media/' + tc.operator.icon" alt="">
            <span *ngIf="tc.type === 'INET' && tc.trunkChannel">
              {{tc.trunkChannel.name}}
            </span>
            <span *ngIf="tc.type === 'MOBILE' && tc.typeMobile">
              {{tc.typeMobile.name}}
            </span>
            : {{tc.governmentDevelopmentProgram.acronym}} {{tc.govYearComplete}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
