.location-features-container {
  padding: 17px 32px;
}

.filter-result-count {
  color: #000000;
  font-family: "Segoe UI", sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 15px;
  margin-top: 9px;
  letter-spacing: 0.09px;
}

.features-table {

  &__location-detail {
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  & img {
    width: 16px;
    height: 16px;
  }

  margin-top: 15px;
  &__header {
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 1fr .9fr .45fr 1fr 1fr 1fr 1fr 1fr;

    &-column {
      display: flex;
      align-items: center;
      padding: 8px;
      color: #95989a;
      font-family: "Segoe UI", sans-serif;
      font-size: 13px;
      font-weight: 400;
      line-height: 15px;
      &._center {
        text-align: center;
        justify-content: center;
      }
    }
  }

  &__row {
    display: grid;
    grid-template-columns:  1fr .9fr .45fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 2px;
    margin-top: 2px;
    cursor: pointer;
    transition: opacity .25s ease-out;
    @media(min-width: 1280px) {
      &:hover {opacity: .6;}
    }
  }

  &__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 48px;
    padding: 12px 8px;
    background-color: #efefef;
    &._center {text-align: center;}
  }
  &__archive-column {
    flex-direction: row;
    justify-content: flex-start;
  }

  &__operator {
    margin-right: 8px;
    margin-bottom: 8px;
  }

  &__location {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  &__location-info {
    color: #454544;
    font-family: "Segoe UI", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
  }

  &__plan-row {
    color: #000000;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin-bottom: 8px;
    cursor: pointer;

    & img {
      margin-right: 16px;
    }
  }

  &__archive-column {
    display: flex;
    flex-wrap: wrap;
  }
}

.type-select {
  margin-top: 10px;
}
