<div class="test"></div>
<ng-container *ngIf="organizationForEdit">
  <h2>Организация</h2>
</ng-container>
<form [formGroup]="formGroupOrganization" nz-form>
  <nz-form-item>
    <nz-form-label>Краткое наименование</nz-form-label>
    <nz-form-control>
              <textarea
                formControlName="_acronym"
                nz-input
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              >
              </textarea>
      <div class="error-required" *ngIf="formGroupOrganization.get('_acronym').invalid && (formGroupOrganization.get('_acronym').touched || formGroupOrganization.get('_acronym').dirty)">
        <span *ngIf="formGroupOrganization.get('_acronym').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Полное наименование</nz-form-label>
    <nz-form-control>
              <textarea
                formControlName="_name"
                nz-input
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              >
              </textarea>
      <div class="error-required" *ngIf="formGroupOrganization.get('_name').invalid && (formGroupOrganization.get('_name').touched || formGroupOrganization.get('_name').dirty)">
        <span *ngIf="formGroupOrganization.get('_name').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Адрес</nz-form-label>
    <nz-form-control>
              <textarea
                formControlName="_address"
                nz-input
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              >
              </textarea>
      <div class="error-required" *ngIf="formGroupOrganization.get('_address').invalid && (formGroupOrganization.get('_address').touched || formGroupOrganization.get('_address').dirty)">
        <span *ngIf="formGroupOrganization.get('_address').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>ФИАС</nz-form-label>
    <nz-form-control>
      <input nz-input type="text" formControlName="_fias"/>
      <div class="error-required" *ngIf="formGroupOrganization.get('_fias').invalid && (formGroupOrganization.get('_fias').touched || formGroupOrganization.get('_fias').dirty)">
        <span *ngIf="formGroupOrganization.get('_fias').errors?.required">Обязательное поле</span>
        <span *ngIf="formGroupOrganization.get('_fias').errors?.pattern">Должно соответствовать формату "00000000-0000-0000-0000-000000000000"</span>
      </div>
<!--
      <div class="error" *ngIf="formGroupOrganization.get('_fias').invalid">
        Должно соответствовать формату "00000000-0000-0000-0000-000000000000"
      </div>
-->
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Функциональный заказчик:</nz-form-label>
    <nz-form-control>
      <nz-select
        nzAllowClear
        formControlName="_fun_customer"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let funCustomer of funCustomers$ | async"
          [nzValue]="funCustomer.name"
          [nzLabel]="funCustomer.name"
        ></nz-option>
      </nz-select>
      <div class="error-required" *ngIf="formGroupOrganization.get('_fun_customer').invalid && (formGroupOrganization.get('_fun_customer').touched || formGroupOrganization.get('_fun_customer').dirty)">
        <span *ngIf="formGroupOrganization.get('_fun_customer').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-label>Локация</nz-form-label>
    <nz-form-control>
      <nz-select
        nzShowSearch
        nzAllowClear
        (nzOnSearch)="onChange($event)"
        formControlName="_location"
        [compareWith]="compareFn"
        [nzSuffixIcon]="suffixIconSelect"
      >
        <nz-option
          *ngFor="let location of locations$ | async"
          [nzValue]="location"
          [nzLabel]="location?.type + ' ' + location?.name + ' ' + '(' +location?.parent + ')'"
        ></nz-option>
      </nz-select>
      <div class="error-required" *ngIf="formGroupOrganization.get('_location').invalid && (formGroupOrganization.get('_location').touched || formGroupOrganization.get('_location').dirty)">
        <span *ngIf="formGroupOrganization.get('_location').errors?.required">Обязательное поле</span>
      </div>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item *ngIf="organizationForEditParent">
    <nz-form-label>Головная организация</nz-form-label>
    <div class="main-org">
      {{organizationForEditParent}}
    </div>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control>
      <div class="btn-group" *ngIf="organizationForEdit; else createOrganization">
        <input
          *ngIf="formGroupOrganization.enabled"
          type="button"
          class="btn"
          value="Отмена"
          (click)="cancelEdit()"
        />
        <ng-container *permissions="['ADMIN', 'ORGANIZATION']">
          <input
            *ngIf="formGroupOrganization.disabled"
            type="button"
            class="btn"
            value="Редактировать"
            (click)="enableForm()"
          />
        </ng-container>
        <input
          *ngIf="formGroupOrganization.disabled && canEdit"
          type="button"
          class="btn"
          value="Удалить"
          (click)="delete()"
        />
        <input
          type="button"
          class="btn"
          value="Сохранить"
          *ngIf="formGroupOrganization.enabled && !isCreate()"
          (click)="saveEditOrganization()"
        />
      </div>
      <!--          [disabled]="!formGroupOrganization.valid"-->
      <ng-template #createOrganization>
        <div class="btn-group">
          <input
            *ngIf="formGroupOrganization.enabled"
            type="button"
            class="btn"
            value="Отмена"
            (click)="cancelEdit()"
          />
          <input
            type="button"
            class="btn"
            value="Сохранить"
            *ngIf="formGroupOrganization.enabled && !isCreate()"
            (click)="saveNewOrganization()"
          />
        </div>
        <!--        [disabled]="!formGroupOrganization.valid"-->
      </ng-template>
    </nz-form-control>
  </nz-form-item>
</form>

<ng-template #suffixIconSelect>
  <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
</ng-template>
