<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <form (keydown.enter)="$event.preventDefault()" [formGroup]="form" nz-form>
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()">
            <span><i class="fas fa-filter"></i>Фильтр</span>
            <span style="font-size: 1.5rem; color: #ff5700">
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </span>
          </div>
          <div class="filter-export">
            <button class="filter-export-button" (click)="resetFilters()">Очистить фильтр</button>
            <button
              (click)="exportExcel()"
              type="button"
              class="filter-export-button"
            >Выгрузить в Excel
            </button>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <mat-select formControlName="location" placeholder="Населенный пункт" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search noEntriesFoundLabel="Ничего не найдено" placeholderLabel="Поиск..." #locationFilter></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport [itemSize]="48" [style.height.px]=5*48 minBufferPx="400" maxBufferPx="800">
                  <mat-option *cdkVirtualFor="let item of fLocations$ | async | filter:'fullName':locationFilter.value" [value]="item">
                    {{ item.fullName }}
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input nz-input customSubmit [control]="form.get('organization')" type="text" />
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item [formGroup]="form">
              <mat-select formControlName="parent" placeholder="Муниципальное образование" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search noEntriesFoundLabel="Ничего не найдено" placeholderLabel="Поиск..." #regionFilter></ngx-mat-select-search>
                </mat-option>
                <cdk-virtual-scroll-viewport [itemSize]="48" [style.height.px]=5*48 minBufferPx="400" maxBufferPx="800">
                  <mat-option *cdkVirtualFor="let item of fParents$ | async | filter:'name':regionFilter.value" [value]="item?.id">
                    <div *ngIf="item?.type === 'р-н' || item?.type === 'округ'">{{ item?.name }} {{ item?.type }}</div>
                    <div *ngIf="item?.type !== 'р-н' && item?.type !== 'округ'">{{ item?.type }} {{ item?.name }}</div>
                  </mat-option>
                </cdk-virtual-scroll-viewport>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Тип организации</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationTypes$ | async"
                  [form]="form"
                  [iFormControl]="'type'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Оператор связи</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="contractor" type="text"/>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <mat-select formControlName="logicalCondition" placeholder="Условие" class="mat-select-filter" disableOptionCentering="true">
                <mat-option value="OR">ИЛИ</mat-option>
                <mat-option value="AND">И</mat-option>
              </mat-select>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Тип СЗО</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationSMOTypes$ | async"
                  [form]="form"
                  [iFormControl]="'smo'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <div class="filter-container-group">
              <nz-form-item>
                <nz-form-label>№ контракта</nz-form-label>
                <nz-form-control>
                  <input #contract nz-input customSubmit  [control]="form.get('contract')" type="text"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>Период</nz-form-label>
                <nz-form-control>
                  <div class="wrapper-date-picker">
                    <span>c</span>
                    <nz-date-picker
                      [nzFormat]="dateFormat"
                      formControlName="contractStart"
                    >
                    </nz-date-picker>
                    <span>по</span>
                    <nz-date-picker
                      [nzFormat]="dateFormat"
                      formControlName="contractEnd"
                    >
                    </nz-date-picker>
                  </div>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                      {name: 'Нас.пункт', value: 'organization.location', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Муниципальное образование', value: 'organization.location.parent', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Организация', value: 'organization.name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'organization.location.population', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
            >
            </app-filter-btn>
            <div class="filter-sort-population">
              <span>от</span>
              <input type="number" nz-input customSubmit [control]="form.get('populationStart')">
              <span>до</span>
              <input type="number" nz-input customSubmit [control]="form.get('populationEnd')">
            </div>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{contracts?.count}}</span>
          </div>
<!--          <div class="filter-search">-->
<!--            <nz-input-group [nzSuffix]="suffixIconSearch">-->
<!--              <input type="text" nz-input placeholder=""/>-->
<!--            </nz-input-group>-->
<!--            <ng-template #suffixIconSearch>-->
<!--              <i nz-icon nzType="search" style="color: #ff5700"></i>-->
<!--            </ng-template>-->
<!--          </div>-->
        </div>
      </div>
    </form>
    <ng-template #suffixIconSelect>
      <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
    </ng-template>
    <div class="container-header">
      <div>Населенный пункт</div>
      <div>Организация</div>
      <div>Адрес</div>
    </div>
    <div class="container-list"
         infinite-scroll
         [infiniteScrollDistance]="1"
         [infiniteScrollUpDistance]="2"
         [infiniteScrollThrottle]="300"
         (scrolled)="onPageChange(this.pageNumber + 1)">
      <ng-container *ngFor="let contract of contracts?.results">
        <div class="container-wrap">
          <div class="container-wrap1">
            <div>
              <div>{{ contract?.organization?.location.name }}</div>
              <div>{{ contract?.organization?.location.parent }}</div>
              <div>{{ contract?.organization?.location.population }} чел.</div>
            </div>
          </div>
          <div class="container-wrap2">
            <div class="">
              <div>{{ contract?.organization?.name }}</div>
            </div>
            <hr>
            <div class="container-wrap4">
              <div>
                <span class="">Тип организации:</span>
                {{ contract.organization.type ? contract.organization.type.name : ' ' }}
              </div>
              <div>
                <span class="">Тип СЗО:</span>
                {{ contract.organization.smoType ? contract.organization.smoType.name : ' ' }}
              </div>
            </div>
          </div>
          <div class="container-wrap3">
            <div class="container-point">
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/1.png"/>
                </div>
                <span>{{ contract.address ? contract.address : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/contractor.png"/>
                </div>
                <span>{{ contract.contractor ? contract.contractor : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/connection.png"/>
                </div>
                <span>{{ contract.internetAccessType ? contract.internetAccessType.name : '----' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/declaredSpeed.png"/>
                </div>
                <span>{{ contract.declaredSpeed ? contract.declaredSpeed : '----' }}</span>
              </div>
              <div class="container-info col2">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/number.png"/>
                </div>
                <span>{{ contract?.number }}</span>
              </div>
              <div class="container-info col3">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/amount.png"/>
                </div>
                <span>{{ contract?.amount / 100 }} руб</span>
              </div>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>


<div class="spinner-container-excel" *ngIf="isLoading">
  <mat-spinner color='warn' diameter="70"></mat-spinner>
</div>
