.name-location {
  position: relative;
  margin-bottom: 1rem;
  padding-left: 32px;
  font-size: 16px;
  color: #009cd3;
}

.name-location::before {
  content: '\f19c';
  position: absolute;
  left: 2px;
  font-size: 1.2rem;
}

.name-location-item1 {
  font-weight: 600;
}

.name-location-item2 {
  font-size: 12px;
}

.name-location-table {
  font-size: 13px;
}
.name-location-table .name-location-item1 {
  margin-bottom: 5px;
  font-weight: 300;
}

.name-location-table .name-location-item2 {
  font-size: 13px;
}

.name-location-table span {
  font-weight: 400;
}

.peoples {
  margin-bottom: 1rem;
  font-size: 12px;
  white-space: nowrap;
}

.peoples:before {
  content: '\f0c0';
  margin-right: 0.6rem;
  vertical-align: middle;
  font-size: 1.2rem;
  color: #009cd3;
}

.location-info {
  display: flex;
  align-items: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.location-info .name-location {
  padding-right: 3rem;
  margin-right: 3rem;
  border-right: 1px solid #d2d2d2
}


.item {
  font-size: 12px;
}

.item:not(:last-child) {
  margin-bottom: 1rem;
}


.item {
  display: flex;
  align-items: center;
  margin-bottom: 0.2rem;
}

.check {
  margin-right: 5px;
  background: url('../img/check.png') no-repeat;
  background-size: cover;
  width: 15px;
  height: 11px;
}

.opacity .image {
  opacity: 0.2;
}

.gray-filter .image {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
