@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Thin.ttf');
	font-weight: 100;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Regular.ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat';
	src: url('../fonts/Montserrat-Bold.ttf');
	font-weight: 600;
	font-style: normal;
}
html {
	box-sizing: border-box;
	font-size: 16px;
}
*,
*:before,
*:after {
	box-sizing: inherit;
}
body {
	font-family: 'Montserrat';
	font-size: 16px;
	font-weight: 400;
	color: #ffffff;
}
ul, ol {
	padding: 0;
	list-style-type: none;
}
* + p {
	margin: 15px 0 0 0;
}
img {
	display: block;
	width: 100%;	
}
h1 span {
	font-weight: 400;
	text-transform: uppercase;
}
.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}
.header,
.footer {
	position: relative;
	z-index: 1;
}
.wrapper {
	max-width: 1140px;
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
	position: relative;
}
.main {
	position: relative;
	height: 100%;
	font-weight: 100;
	color: #575756;
}
form {
	width: 100%;
	font-size: 14px;
}
select {
	padding: 5px 0 4px 1rem;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	width: 100%;
	border: none;
	border-bottom: 1px solid #bcbcbc;
	background: url('../img/arrow-gray.png') no-repeat;
	background-position: 99% 50%;
	color: #575756;
	font-weight: 100;
	cursor: pointer;
}
select:focus {
	border-color: #35a584;
	background: url('../img/arrow-green-bottom.png') no-repeat;
	background-position: 99% 50%;
	outline: none;
	outline-offset: 0;
}
select::-ms-expand { 
    display: none;
}
select:-moz-focusring {
	color: transparent;
    text-shadow: 0 0 0 #575756;
}
input[type="text"] {
	padding: 5px 0 4px 7px;
	width: 100%;
	border: none;
	border-bottom: 1px solid #bcbcbc;
	color: #575756;
	font-weight: 100;
}
input[type="text"]::placeholder {
	color: #969696;
	font-weight: 100;
    opacity: 1;
}
input[type="text"]:focus {
	outline: none !important;
	outline-offset: none !important;
	border-color: #35a584;
}
input[type="text"]:focus::placeholder {
	color: transparent;
}
input.btn {
	padding: 9px 23px;
	border: none;
	background: none;
	background-color: #009dd3;
	border: 3px solid #009dd3;
	color: #ffffff;
	text-align: center;
	font-size: 12px;
	font-weight: 600;
	cursor: pointer;
	white-space: normal;
}
input.btn.cancel {
	background: none;
	color: #009dd3;
}