p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.o-horizontal-separator {
  margin-bottom: 1rem;
  border: none;
  background: #d2d2d2;
  height: 2px;
}

.c-archive {
  margin-top: 9px;
  padding-top: 18px;
}

.c-archive-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border: 1px solid #bdbdbd;
}

.c-archive-info {
  padding: 12px 8px;
}

.c-archive-number,
.c-archive-date {
  font-size: 15px;
  color: #009dd3;
}

.c-archive-number {
  font-weight: 600;
}

.c-archive-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}

.status-yellow {
  background-color: #ffd860;
}

.status-green {
  background-color: #35a584;
}

.c-archive-list {
  margin: 0;
  padding-left: 33px;
  font-size: 13px;
}

.u-underline {
  text-decoration: underline;
}
