.req {
  margin-top: 60px;
}

p {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 600;
}

.archiv {
  margin-top: 9px;
  padding-top: 18px;
  border-top: 2px solid #d2d2d2;
}

.archiv-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
  border: 1px solid #bdbdbd;
}

.archiv-item-info {
  padding: 12px 8px;
}

.archiv-item-number,
.archiv-item-date {
  font-size: 15px;
  color: #009dd3;
}

.archiv-item-number {
  font-weight: 600;
}

.archiv-item-status {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
}

.archiv-item-status.orange {
  background-color: #ffd860;
}

.archiv-item-status.green {
  background-color: #35a584;
}

ul {
  margin: 0;
  padding-left: 33px;
}

ul li {
  font-size: 12px;
}

ul li span {
  text-decoration: underline;
}
