.sidebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 400px;
	height: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	overflow: auto;
	background-color: #ffffff;
	box-shadow: -7px 0px 18px rgba(0, 7, 3, 0.27);
	font-weight: 400;
}

.sidebar .name-location {
	padding-top: 1rem;
	padding-bottom: 1rem;
	padding-left: 1rem;
}
.accordion {
	padding-left: 1rem;
}
.accordion:not(:last-child) {
	margin-bottom: 0.5rem;	
}
.accordion.blue {
	background-color: #ccebf6;
}
.accordion.green {
	background-color: #c2e4da;
}
.accordion-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	font-size: 14px;
	cursor: pointer;
}
.accordion.blue .accordion-btn {
	margin-right: 1.5rem;
	background: url('../img/arrow-blue-bottom.png');
	width: 11px;
	height: 7px;
}
.accordion.blue .accordion-btn.open {
	background: url('../img/arrow-blue-top.png');
}
.accordion.green .accordion-btn {
	margin-right: 1.5rem;
	background: url('../img/arrow-green-bottom.png');
	width: 11px;
	height: 7px;
}
.accordion.green .accordion-btn.open {
	background: url('../img/arrow-green-top.png');
}
.accordion-body {
	display: none;
	padding-top: 0.5rem;
	padding-bottom: 1.2rem;
}
.accordion-body.open {
	display: block;
}
.accordion .accordion {
	background-color: #fff;
}
.accordion .accordion .accordion-title {
	font-size: 0.75rem;
}
.accordion .accordion .accordion-btn {
	background: url('../img/arrow-grnsmall-bottom.png');
	width: 9px;
	height: 5px;
}
.accordion .accordion .accordion-btn.open {
	background: url('../img/arrow-grnsmall-top.png');
}
.accordion .accordion .accordion-body {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}
.accordion.green .item {
	margin-bottom: 10px;
}
.accordion.green .item .name {
	margin-right: 1rem;
}
.accordion.green .name,
.accordion.green .value {
	white-space: nowrap;
}
.accordion-title.blue {
	color: #009dd3;
}
.accordion-title.green {
	color: #35a584;
}
.accordion-title.green div:first-child::before,
.accordion-title.blue div:first-child::before {
	display: inline-block;
    margin-right: 10px;
    padding-top: 5px;
    padding-left: 11px;
    width: 20px;
    height: 20px;
}
.accordion-title.green div:first-child::before {
    background: url('../img/laptop.png') no-repeat;
    vertical-align: middle;
}
.accordion-title.blue div:first-child::before {
    background: url('../img/building.png') no-repeat;
    vertical-align: middle;
}
.accordion-title.green-dot div:first-child::before {
    content: url('../img/green-dot.png');
}
.accordion-title.gray-dot div:first-child::before {
    content: url('../img/gray-dot.png');
}
.accordion-title.red-dot div:first-child::before {
    content: url('../img/red-dot.png');
}

.select-location {
    padding-right: 2.5rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    border-bottom: 4px double #009dd3;
}
.search-location {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	margin-top: 10px;
}
.icon-location {
	display: inline-block;
	background: url('../img/loc.png') no-repeat;
	background-position: center;
	width: 2rem;
	height: 16px;
}
.search-location input[type="submit"] {
	position: absolute;
	top: 2px;
	right: 2px;
	bottom: 0;
	width: 20px;
	height: 20px;
	border: none;
	background: url('../img/search.png') no-repeat;
	background-position: 50% 50%;
	cursor: pointer;
}
.search-location input[type="text"]:focus + input[type="submit"] {
	background: url('../img/search-green.png') no-repeat;
	background-position: 50% 50%;
}