<p>Задать новый пароль для пользователя: {{data.username}} ({{data.email}})</p>

<form [formGroup]="form">
<div>
  <mat-form-field>
    <mat-label>Пароль</mat-label>
    <input matInput type="password" formControlName="password">
  </mat-form-field>
  &nbsp;&nbsp;&nbsp;
  <mat-form-field>
    <mat-label>Повторить Пароль</mat-label>
    <input matInput type="password" formControlName="repeat">
  </mat-form-field>
</div>
</form>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()" cdkFocusInitial>Отмена</button>
  <button mat-button [mat-dialog-close]="form.value" [disabled]="form.invalid">Создать</button>
</div>