<table width="100%" *ngIf="editCache">
  <thead>
  <tr>
    <th>Логин</th>
    <th>Фамилия</th>
    <th>Имя</th>
    <th>Отчество</th>
    <th>Привязка к нас.пункту</th>
    <th>Привязка к организации</th>
    <th>Эл. почта</th>
    <th>Доступ разрешен</th>
    <th>Роль</th>
    <td>
      <!--      <button (click)="newRow()">Создать</button>-->
    </td>
  </tr>
  </thead>
  <tbody>
  <ng-container>
    <tr *ngFor="let item of items">
      <ng-container *ngIf="!editCache.get(item.id).edit; else editTemplate">
        <td>{{item.username}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.patronymicName}}</td>
        <td>
          {{item.locations | join:', '}}
        </td>
        <td>
          {{item.organizations | joinorg: ', '}}
        </td>
        <td>{{item.email}}</td>
        <td>{{item.isActive ? 'да' : 'нет'}}</td>
        <td><span *ngFor="let key of item.roles; let l = last">{{roles[key]}}<span *ngIf="!l">, </span></span></td>
        <td>
          <button (click)="startEdit(item.id)">редактировать</button>
        </td>
      </ng-container>
      <ng-template #editTemplate>
        <td>{{item.username}}</td>
        <td>{{item.lastName}}</td>
        <td>{{item.firstName}}</td>
        <td>{{item.patronymicName}}</td>
        <td>
          <ng-container *ngIf="canEditLocations(editCache.get(item.id).data.roles); else editTemplateLocations">
            <ng-select [(ngModel)]="editCache.get(item.id).data.locations"  [multiple]="true" [compareWith]="locationsCompareFn">
              <ng-option *ngFor="let location of locations" [value]="location">
                {{location.type}}. {{location.name}} <span *ngIf="location.parent"> ({{location.parent.type}}. {{location.parent.name}})</span>
              </ng-option>
            </ng-select>
          </ng-container>
          <ng-template #editTemplateLocations>
            {{item.locations | join:', '}}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="canEditOrganizations(editCache.get(item.id).data.roles); else editTemplateOrganizations">
          <ng-select [(ngModel)]="editCache.get(item.id).data.organizations"  [multiple]="false" [compareWith]="organizationsCompareFn">
            <ng-option *ngFor="let organization of organizations" [value]="organization">
              {{organization.name}}
            </ng-option>
          </ng-select>
          </ng-container>
          <ng-template #editTemplateOrganizations>
            {{item.organizations | joinorg:', '}}
          </ng-template>
        </td>
        <td>{{item.email}}</td>
        <td>
          <mat-checkbox [(ngModel)]="editCache.get(item.id).data.isActive"></mat-checkbox>
        </td>
        <td>
          <ng-select [(ngModel)]="editCache.get(item.id).data.roles" [multiple]="true" (click)="changeRoles(item)">
            <ng-option *ngFor="let role of roles | keyvalue" [value]="role.key">
              {{role.value}}
            </ng-option>
          </ng-select>
          <!--<input type="text" [(ngModel)]="editCache.get(item.id).data.roles" />--></td>
        <td>
          <button (click)="saveEdit(item.id)">сохранить</button>
          <button (click)="cancelEdit(item.id)">отменить</button>
        </td>
      </ng-template>
    </tr>

  </ng-container>
  </tbody>
</table>
