.user-container {
  padding: 17px 32px;
}

table {
  padding-top: 10px;
  padding-bottom: 10px;
  border-collapse: unset;
  border-spacing: 2px;
  & thead {
    color: #95989a;
    font-family: "Segoe UI", sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 15px;
    margin-left: 1px;

    & th {
      text-align: center;

      &.align-left {
        text-align: unset;
      }
    }
  }

  & tbody {
    & td {
      text-align: center;
      color: #454544;
      font-family: "Segoe UI", sans-serif;
      font-size: 14px;
      font-weight: 600;
      line-height: 16px;
      background-color: #efefef;
      padding: 8px;
      & img {
        width: 16px;
        height: 16px;
        margin-left: 10px;
        margin-right: 10px;
      }
    }
  }
}
