<div class="user-container">
  <div class="mat-elevation-z8"
       infinite-scroll
       [infiniteScrollDistance]="1"
       [infiniteScrollUpDistance]="2"
       [infiniteScrollThrottle]="300"
       (scrolled)="onScrollDown()"
  >
    <table mat-table [dataSource]="dataSource">
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Логин</th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef> Имя</th>
        <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
      </ng-container>

      <ng-container matColumnDef="lastName">
        <th mat-header-cell *matHeaderCellDef> Фамилия</th>
        <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
      </ng-container>

      <ng-container matColumnDef="patronymicName">
        <th mat-header-cell *matHeaderCellDef> Отчество</th>
        <td mat-cell *matCellDef="let element"> {{element.patronymicName}} </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Эл. почта</th>
        <td mat-cell *matCellDef="let element"> {{element.email}} </td>
      </ng-container>

      <ng-container matColumnDef="locations">
        <th mat-header-cell *matHeaderCellDef> Привязка к нас.пункту</th>
        <td mat-cell *matCellDef="let element"> {{element.locations | join:', '}} </td>
      </ng-container>

      <ng-container matColumnDef="organizations">
        <th mat-header-cell *matHeaderCellDef> Привязка к организации</th>
        <td mat-cell *matCellDef="let element">  {{element.organizations | joinorg: ', '}} </td>
      </ng-container>

      <ng-container matColumnDef="roles">
        <th mat-header-cell *matHeaderCellDef> Роль</th>
        <td mat-cell *matCellDef="let element"><span *ngFor="let key of element.roles; let l = last">{{roles[key]}}<span
                *ngIf="!l">, </span></span></td>
      </ng-container>

      <ng-container matColumnDef="isActive">
        <th mat-header-cell *matHeaderCellDef> Доступ разрешен</th>
        <td mat-cell *matCellDef="let element"> {{element.isActive ? 'да' : 'нет'}} </td>
      </ng-container>

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <button class="add-base-station-button" mat-raised-button (click)="create()">
            <mat-icon>add</mat-icon>
          </button>
        </th>
        <td mat-cell *matCellDef="let row">
          <!--<mat-icon (click)="delete(row)" class="delete-button">delete</mat-icon>-->
          <mat-icon (click)="edit(row)" class="edit-button">edit</mat-icon>
        </td>
      </ng-container>

    </table>
  </div>
</div>
