<div class="wrapper">
  <app-locations-book-filter #filtersComponent [canBeParent]="true" (filters)="setFilter($event)"></app-locations-book-filter>
  <div class="filter-result">
    Результатов поиска: <span>{{ length }}</span>
  </div>
  <div class="search-results"
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="100"
  (scrolled)="onScrollDown()"
>
  <div class="locations-container">
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>

        <ng-container matColumnDef="orderNum">
          <th mat-header-cell *matHeaderCellDef> № п/п</th>
          <td mat-cell *matCellDef="let element; let i = index">{{i + 1}}</td>
        </ng-container>


        <ng-container matColumnDef="localityType">
          <th mat-header-cell *matHeaderCellDef> Тип МО</th>
          <td mat-cell *matCellDef="let element"> {{locationsDescription[element.type]}} </td>
        </ng-container>

        <ng-container matColumnDef="localityName">
          <th mat-header-cell *matHeaderCellDef> Наименование МО</th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <ng-container matColumnDef="municipalityArea">
          <th mat-header-cell *matHeaderCellDef> Принадлежность к МО</th>
          <td mat-cell *matCellDef="let element"> {{element.locationParent.name}} </td>
        </ng-container>

        <ng-container matColumnDef="population">
          <th mat-header-cell *matHeaderCellDef> Численность населения</th>
          <td mat-cell *matCellDef="let element"> {{element.population}} чел.</td>
        </ng-container>

        <ng-container matColumnDef="fiasNum">
          <th mat-header-cell *matHeaderCellDef> Номер населенного пункта в ФИАС</th>
          <td mat-cell *matCellDef="let element"> {{element.fias}} </td>
        </ng-container>
        <ng-container matColumnDef="okato">
          <th mat-header-cell *matHeaderCellDef> ОКАТО</th>
          <td mat-cell *matCellDef="let element"> {{element.okato}} </td>
        </ng-container>
        <ng-container matColumnDef="oktmo">
          <th mat-header-cell *matHeaderCellDef> ОКТМО</th>
          <td mat-cell *matCellDef="let element"> {{element.oktmo}} </td>
        </ng-container>
        <ng-container matColumnDef="geo">
          <th mat-header-cell *matHeaderCellDef> Геоданные</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon *ngIf="row?.geoData?.administrativeCenter || row?.geoData?.geometry?.coordinates; else noCoords"
              (click)="displayCoord(convertCoords(row))"
              class="geo-button">public</mat-icon>
              <ng-template #noCoords>
                -
              </ng-template>
          </td>
        </ng-container>

        <ng-container matColumnDef="select">
          <th mat-header-cell *matHeaderCellDef> </th>

          <td mat-cell *matCellDef="let row">
            <mat-icon (click)="edit(row)" class="edit-button">edit</mat-icon>
          </td>
        </ng-container>

      </table>
    </div>
  </div>
  </div>
</div>
