.filter-button-group {
  display: inline-flex;
}

.filter-button {
  position: relative;
  margin-right: 1rem;
  padding: 10px 24px 10px 12px;
  width: 120px;
  color: #575756;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  font-size: 11px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.filter-button.is-active {
  color: #fff;
  background: #009dd3;
}

.filter-button::after {
  content: '\f884';
  position: absolute;
  right: 5px;
}

.back-sort::after {
  content: '\f160';
}
