.filter-button-group {
  display: grid;
  grid-template-columns: repeat(3, 120px);
  grid-gap: 0.5rem;
}

.filter-button {
  position: relative;
  padding: 10px 12px 10px 30px;
  width: 100%;
  color: #575756;
  background-color: #f2f2f6;
  border: none;
  border-radius: 20px;
  font-size: 11px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.filter-button.is-active {
  color: #fff;
  background: #009dd3;
}

.filter-button::before {
  content: '\f884';
  position: absolute;
  left: 10px;
}

.back-sort::before {
  content: '\f160';
}
