.filter-button-group {
  display: grid;
  grid-template-columns: repeat(4, 120px) 300px;
  grid-gap: 0.5rem;
}

.wrap-input {
  display: flex;
  align-items: center;
  padding: 0 10px;
  background-color: #f2f2f6;
  font-size: 11px;
}

.wrap-input input {
  max-width: 120px;
  height: 22px;
  background-color: #f2f2f6;
}

.wrap-input span {
  padding: 0 0.2rem;
  font-weight: 500;
  color: #575756;
}

.filter-button {
  position: relative;
  padding: 10px 12px 10px 30px;
  width: 100%;
  color: #575756;
  background-color: #f2f2f6;
  border: none;
  font-size: 11px;
  text-align: left;
  white-space: nowrap;
  cursor: pointer;
}

.filter-button::before {
  content: '\f884';
  position: absolute;
  left: 10px;
}

.is-asc,
.is-dsc {
  color: #fff;
  background: #ff5700;
}

.is-dsc::before {
  content: '\f160';
}
