<br>
<div class="name-import">
Импорт технических возможностей - интернета
</div>
<br>
<br>
<br>
<div class="select-file">
  <input type="file" name="file" id="fileImport" class="input-file" (change)="selectFile($event)">
  <label for="fileImport">Выберите файл для импорта</label>
  <span>: {{getFileName()}}</span>
</div>
<br>
<br>
<br>
<br>
<div [ngClass]="successImport ? 'successImport' : 'errorImport'"
>{{answer}}</div>
<br>
<br>
<div *ngIf="fileError !== null" class="select-file">
  <div>Успешно импортировано строк: {{importSuccess}}</div>
  <div>Строк с ошибками: {{importFailure}}</div>
  <br>
  <input type="button" name="fileError" id="fileImportError" class="input-file" (click)="saveFileError()">
  <label for="fileImportError">Скачать файл с ошибками</label>
</div>
