<form [formGroup]="form">
  <div>
    <mat-label>Роль</mat-label>
    <ng-select [multiple]="true" formControlName="roles">
      <ng-option *ngFor="let role of roles | keyvalue" [value]="role.key">
        {{role.value}}
      </ng-option>
    </ng-select>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Логин</mat-label>
      <input matInput formControlName="username">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Имя</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Фамилия</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Отчество</mat-label>
      <input matInput formControlName="patronymicName">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>E-mail</mat-label>
      <input matInput formControlName="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>Пароль</mat-label>
      <input matInput type="password" formControlName="password">
    </mat-form-field>
    &nbsp;&nbsp;&nbsp;
    <mat-form-field>
      <mat-label>Повторить Пароль</mat-label>
      <input matInput type="password" formControlName="repeat">
    </mat-form-field>
  </div>

</form>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">Отмена</button>
  <button mat-button [mat-dialog-close]="form.value" cdkFocusInitial [disabled]="form.invalid">Создать</button>
</div>