mat-select {
  color: rgba(0, 0, 0, 0.42);
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  margin-top: 22px;

  & ::ng-deep .mat-select-placeholder {
    color: rgba(0, 0, 0, 0.42);
  }
}
