<div class="mun-wrapper"
     infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollUpDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScrollDown()"
>
  <h1>Мои заявки (архив)</h1>
  <ng-container *ngFor="let request of archiveRequests">
    <div class="card-container">
      <div class="card">
        <div class="card-body">
          <span class="card-number">№{{request.id}}</span> от
          <span class="card-date">{{request.created | date: 'dd.MM.yyyy'}}</span>
          <p>{{request.location.type}} {{request.location.name}}</p>
          <p>Внесенные изменения:</p>
          <ng-container *ngFor="let edit of request.featureEdits">
            <ul class="card-list" [ngSwitch]="edit.tc.type">
              <li class="card-list-item" *ngSwitchCase="'ATS'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">АТС:</span> Подключен {{edit.tc.operator.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">АТС:</span> Отключен {{edit.tc.operator.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <!--                        <span class="underline">АТС:</span> Обновлен АТС: {{edit.tc.operator.name}}-->
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'PAYPHONE'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Таксофоны:</span> Подключен {{edit.tc.operator.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Таксофоны:</span> Отключен {{edit.tc.operator.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <!--                        <span class="underline">АТС:</span> Обновлен АТС: {{edit.tc.operator.name}}-->
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'INFOMAT'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Инфомат:</span> Подключен
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Инфомат:</span> Отключен
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <!--                        <span class="underline">АТС:</span> Обновлен АТС: {{edit.tc.operator.name}}-->
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'INET'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Интернет:</span>
                    Подключен {{edit.tc.operator.name}} {{edit.tc.trunkChannel.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Интернет:</span>
                    Отключен {{edit.tc.operator.name}} {{edit.tc.trunkChannel?.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <span class="underline">Интернет ({{edit.tc.operator.name}}):</span>
                    <ng-container *ngIf="edit.tc.trunkChannel.id !== edit.newValue.trunkChannel.id">
                      Изменен тип подключения с {{edit.tc.trunkChannel.name}} на {{edit.newValue.trunkChannel.name}}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'MOBILE'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Мобильная связь:</span>
                    Подключен {{edit.tc.operator.name}} {{edit.tc.typeMobile.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Мобильная связь:</span>
                    Отключен {{edit.tc.operator.name}} {{edit.tc.typeMobile?.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <span class="underline">Мобильная связь ({{edit.tc.operator.name}}):</span>
                    <ng-container *ngIf="edit.newValue && edit.tc.typeMobile && edit.newValue.typeMobile && edit.tc.typeMobile.id !== edit.newValue.typeMobile.id">
                      Изменен тип сотовой связи с {{edit.tc.typeMobile.name}} на {{edit.newValue.typeMobile.name}}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'POST'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Почта:</span>
                    Подключен {{edit.tc.operator.name}} {{edit.tc.typePost.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Почта:</span>
                    Отключен {{edit.tc.operator.name}} {{edit.tc.typePost?.name}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <span class="underline">Почта ({{edit.tc.operator.name}}):</span>
                    <ng-container *ngIf="edit.tc.typePost && edit.newValue.typePost && edit.tc.typePost.id !== edit.newValue.typePost.id">
                      Изменен тип почты с {{edit.tc.typePost.name}} на {{edit.newValue.typePost.name}}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'RADIO'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">Радио:</span>
                    Подключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">Радио:</span>
                    Отключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <span class="underline">Радио ({{edit.tc.operator.name}}):</span>
                    <ng-container>
                      Изменен тип радио с {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      на {{signalsToString(edit.newValue.tvOrRadioTypes)}}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
              <li class="card-list-item" *ngSwitchCase="'TV'">
                <ng-container [ngSwitch]="edit.action">
                  <ng-container *ngSwitchCase="'CREATE'">
                    <span class="underline">ТВ:</span>
                    Подключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'DELETE'">
                    <span class="underline">ТВ:</span>
                    Отключен {{edit.tc.operator.name}} {{signalsToString(edit.tc.tvOrRadioTypes)}}
                  </ng-container>
                  <ng-container *ngSwitchCase="'UPDATE'">
                    <span class="underline">ТВ ({{edit.tc.operator.name}}):</span>
                    <ng-container>
                      Изменен тип тв с {{signalsToString(edit.tc.tvOrRadioTypes)}}
                      на {{signalsToString(edit.newValue.tvOrRadioTypes)}}
                    </ng-container>
                  </ng-container>
                </ng-container>
              </li>
            </ul>
          </ng-container>
        </div>
        <div class="card-status orange" *ngIf="request.status === 'WAIT_FOR_STATE_TO_BE_SET'">
          <button mat-raised-button (click)="acceptReq(request)">Принять</button>
          <button mat-raised-button (click)="declineReq(request)">Отклонить</button>
        </div>
        <div class="card-status green" *ngIf="request.status === 'ACCEPTED'">Принята</div>
        <div class="card-status red" *ngIf="request.status === 'DECLINED'">Отклонена</div>
      </div>
    </div>
  </ng-container>
</div>
