<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <h1>Справочник организаций</h1>

    <form (keydown.enter)="$event.preventDefault()" [formGroup]="form">
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()">
            <span><i class="fas fa-filter"></i>Фильтр</span>
            <span style="font-size: 1.5rem; color: #ff5700">
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </span>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <mat-select formControlName="location" placeholder="Населенный пункт" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search noEntriesFoundLabel="Ничего не найдено" placeholderLabel="Поиск..." #locationFilter></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of fLocations$ | async | filter:'name':locationFilter.value" [value]="item">
                  {{ item?.type }} {{ item?.name }}
                </mat-option>
              </mat-select>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="organization" type="text"/>
              </nz-form-control>
            </nz-form-item>
<!--            <nz-form-item>-->
<!--              <nz-form-label>Тип подключения</nz-form-label>-->
<!--              <nz-form-control>-->
<!--                <app-simple-select-->
<!--                  [items]="fInternetAccessTypes$ | async"-->
<!--                  [form]="form"-->
<!--                  [iFormControl]="'connectionType'"-->
<!--                ></app-simple-select>-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
            <nz-form-item class="rowspan2">
              <mat-select formControlName="parent" placeholder="Район" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
                <mat-option>
                  <ngx-mat-select-search noEntriesFoundLabel="Ничего не найдено" placeholderLabel="Поиск..." #regionFilter></ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let item of fParents$ | async | filter:'name':regionFilter.value" [value]="item.id">
                  <div *ngIf="item?.type === 'р-н' || item?.type === 'округ'">{{ item?.name }} {{ item?.type }}</div>
                  <div *ngIf="item?.type !== 'р-н' && item?.type !== 'округ'">{{ item?.type }} {{ item?.name }}</div>
                </mat-option>
              </mat-select>

<!--              <nz-form-label>Район</nz-form-label>-->
<!--              <nz-form-control>-->
<!--                <div [formGroup]="form">-->
<!--                  <nz-select-->
<!--                    formControlName="parent"-->
<!--                    nzShowSearch-->
<!--                    nzAllowClear-->
<!--                    [nzMaxTagCount]="10"-->
<!--                    [nzMaxTagPlaceholder]="tagPlaceHolder"-->
<!--                    nzPlaceHolder=""-->
<!--                    [nzSuffixIcon]="suffixIconSelect"-->
<!--                    nzMode="multiple"-->
<!--                  >-->
<!--                    <nz-option-->
<!--                      *ngFor="let item of fParents$ | async"-->
<!--                      [nzLabel]="item?.name"-->
<!--                      [nzValue]="item?.id"-->
<!--                    >-->
<!--                    </nz-option>-->
<!--                  </nz-select>-->
<!--                  <ng-template #tagPlaceHolder let-selectedList>-->
<!--                    и еще {{ selectedList.length }}-->
<!--                  </ng-template>-->
<!--                </div>-->
<!--              </nz-form-control>-->
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип организации</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationTypes$ | async"
                  [form]="form"
                  [iFormControl]="'type'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
<!--            <nz-form-item>-->
<!--              <nz-form-label>Оператор связи</nz-form-label>-->
<!--              <nz-form-control>-->
<!--                <input nz-input formControlName="contractor" type="text"/>-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
            <nz-form-item>
              <nz-form-label>Тип СЗО</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fOrganizationSMOTypes$ | async"
                  [form]="form"
                  [iFormControl]="'smo'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <mat-select formControlName="logicalCondition" placeholder="Условие" class="mat-select-filter" disableOptionCentering="true">
                <mat-option value="OR">ИЛИ</mat-option>
                <mat-option value="AND">И</mat-option>
              </mat-select>
            </nz-form-item>
<!--            <nz-form-item>-->
<!--              <nz-form-label>Тип точки</nz-form-label>-->
<!--              <nz-form-control>-->
<!--                <nz-select-->
<!--                  nzMode="multiple"-->
<!--                  [nzSuffixIcon]="suffixIconSelect"-->
<!--                  formControlName="point"-->
<!--                >-->
<!--                  <ng-container *ngFor="let item of fPoints$ | async">-->
<!--                    <nz-option [nzLabel]="item.desc" [nzValue]="item.name"></nz-option>-->
<!--                  </ng-container>-->
<!--                </nz-select>-->
<!--              </nz-form-control>-->
<!--            </nz-form-item>-->
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                      {name: 'Нас.пункт', value: 'location.name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Район', value: 'location.parent.name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Организация', value: 'name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'location.population', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
            >
            </app-filter-btn>
            <div class="filter-sort-population">
              <span>от</span>
              <input nz-input  customSubmit
              type="number"
              (controlUpdate)="modifyControlValue($event, 'populationStart')">
              <span>до</span>
              <input nz-input  customSubmit
              type="number"
              (controlUpdate)="modifyControlValue($event, 'populationEnd')">
            </div>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{ (organizations$ | async)?.count }}</span>
          </div>
          <!--          <div class="filter-search">-->
          <!--            <nz-input-group [nzSuffix]="suffixIconSearch">-->
          <!--              <input type="text" nz-input placeholder=""/>-->
          <!--            </nz-input-group>-->
          <!--            <ng-template #suffixIconSearch>-->
          <!--              <i nz-icon nzType="search" style="color: #ff5700"></i>-->
          <!--            </ng-template>-->
          <!--          </div>-->
        </div>
      </div>
      <ng-template #suffixIconSelect>
        <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
      </ng-template>
    </form>

    <button class="btn" (click)="openModal()">Добавить организацию</button>

    <div class="container-header">
      <div>Населенный пункт</div>
      <div>Организация</div>
<!--      <div>Адрес</div>-->
    </div>
    <div class="container-list">
      <ng-container
        *ngFor="
          let org of (organizations$ | async)?.results
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: pageNumber,
                  totalItems: (organizations$ | async)?.count
                }
        "
      >
<!--        {{org | json}}-->
        <div class="container-wrap">
          <div class="container-wrap1">
            <div>
              <div>{{ org?.location.name }}</div>
              <div>{{ org?.location.parent }}</div>
              <div>{{ org?.location.population }} чел.</div>
            </div>
            <div>
              <!--                <a [routerLink]="[point.organization.id]" class="link">Подробнее</a>-->
            </div>
          </div>
          <div class="container-wrap2">
            <div class="">
              <a [routerLink]="[org?.id]" class="link">
                <span>{{ org?.name }}</span>
              </a>
            </div>
            <hr>
            <div class="container-wrap4">
              <div>
                <span class="">Тип организации:</span>
                {{ org?.type ? org?.type.name : ' ' }}
              </div>
              <div>
                <span class="">Тип СЗО:</span>
                {{ org?.smoType ? org?.smoType.name : ' ' }}
              </div>
            </div>
          </div>
<!--
          <div class="container-wrap3">
            <div class="container-point">
              <div class="container-info">
                <div class="container-info-icon">
                  <ng-container *ngIf="point.type === 'ESPD'; else smoIcon">
                    <img src="/assets/img/icon/espd.png"/>
                  </ng-container>
                  <ng-template #smoIcon>
                    <img src="/assets/img/icon/smo.png"/>
                  </ng-template>
                </div>
                <span>{{ point.address ? point.address : '&#45;&#45;&#45;&#45;' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/contractor.png"/>
                </div>
                <span>{{ point.contractor ? point.contractor : '&#45;&#45;&#45;&#45;' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/connection.png"/>
                </div>
                <span>{{ point.connectionType ? point.connectionType.name : '&#45;&#45;&#45;&#45;' }}</span>
              </div>
              <div class="container-info">
                <div class="container-info-icon">
                  <img src="/assets/img/icon/declaredSpeed.png"/>
                </div>
                <span>{{ point.declaredSpeed ? point.declaredSpeed : '&#45;&#45;&#45;&#45;' }}</span>
              </div>
            </div>
          </div>
-->
        </div>
      </ng-container>
    </div>

    <div style="display: flex; justify-content: flex-end">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 10"
          type="button"
          (click)="itemsPerPage = 10; organizations$ = loadPagedLocationWithOrganization()"
          value="10"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 20"
          type="button"
          (click)="itemsPerPage = 20; organizations$ = loadPagedLocationWithOrganization()"
          value="20"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 100"
          type="button"
          (click)="itemsPerPage = 100; organizations$ = loadPagedLocationWithOrganization()"
          value="100"
        />
      </div>
    </div>
    <pagination-controls
      class="pagination-controls"
      nextLabel="Следующая страница"
      previousLabel="Предыдущая страница"
      (pageChange)="onPageChange($event)"
    >
    </pagination-controls>
  </div>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>
