<!--suppress HtmlFormInputWithoutLabel -->
<div class="c-sidebar">

  <location-capabilities-search (selectedPoint)="onSelectPoint($event)"
                                [leafletMap]="leafletMap"></location-capabilities-search>
  <div *ngIf="currentPointCapabilities">
    <div class="c-location-name">
      <div>{{currentPointCapabilities.name}}</div>
      <div>{{currentPointCapabilities.area}}</div>
    </div>
    <div class="c-accordion blue">
      <div class="c-accordion-title" (click)="openAccordion($event, 'is-open')">
        <div>Информация</div>
        <div class="c-accordion-button"></div>
      </div>
      <div class="c-accordion-body">
        <div class="c-location-peoples"><span>{{currentPointCapabilities.information.population}}</span> чел.</div>
        <div class="l-sidebar-list">
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Сотовая связь:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.cellular"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Интернет:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.internet"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">ТВ:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.tv"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Радио:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.radio"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Таксофон:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.payphone"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Телефон:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.telephone"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Почта:</div>
            <app-providers-row [tcs]="currentPointCapabilities.information.mail"></app-providers-row>
          </div>
          <div class="l-sidebar-list-item">
            <div class="o-item-title">Инфомат:</div>
            <div class="value">{{currentPointCapabilities.information.informat ? 1 : 0}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-accordion green">
      <div class="c-accordion-title" (click)="openAccordion($event, 'is-open')">
        <div>
          Организации ({{organizations.length}})
        </div>
        <div class="c-accordion-button"></div>
      </div>
      <div class="c-accordion-body">
        <div class="c-accordion" *ngFor="let organization of organizations">
          {{organization.full_name}}
          <div class="c-accordion green">
            <div class="c-accordion-title" (click)="openAccordion($event, 'is-open')">
              <div style="padding: 10px">
                Точки подключения ({{organization.reaccesspoints.length}})
              </div>
              <div class="c-accordion-button"></div>
            </div>
            <div class="c-accordion-body">
              <div class="c-accordion" *ngFor="let organization of organizations">
                <div class="c-accordion.green" *ngFor="let point of organization.reaccesspoints">
                  <div class="item line">
                    <div class="name">Адрес точки подключения:</div>
                    <div class="value">{{point.address}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Заказчик:</div>
                    <div class="value">{{point.customer}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Подрядчик:</div>
                    <div class="value">{{point.contractor}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Технология подключения:</div>
                    <div class="value">{{point.connection_type}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Точка подключения:</div>
                    <div class="value">{{point.node}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Скорость по контракту:</div>
                    <div class="value">{{point.defined_speed}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Состояние:</div>
                    <div class="value">{{point.state}}</div>
                  </div>
                  <div class="item line">
                    <div class="name">Входящий трафик:</div>
                    <div class="value">{{point.net_traffic_last_month}}</div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
