<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<main class="main">
  <div class="wrapper">
    <h1>Сводная таблица по населенным пунктам</h1>

    <form [formGroup]="filterForm">
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()">
            <span><i class="fas fa-filter"></i>Фильтр</span>
            <span style="font-size: 1.5rem; color: #ff5700">
              <i nz-icon nzType="search"></i>
              <i nz-icon nzType="caret-down" nzTheme="outline"></i>
            </span>
          </div>
          <div class="filter-export">
            <button
              (click)="serviceLocation.exportExcel()"
              type="button"
              class="filter-export-button"
            >Выгрузить в Excel
            </button>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <nz-form-label>Населенный пункт</nz-form-label>
              <nz-form-control>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder=""
                  formControlName="location"
                >
                  <nz-option
                    *ngFor="let item of fLocations$ | async"
                    [nzLabel]="item.fullName + '(' + item.parent + ')'"
                    [nzValue]="item"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Район</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fParents$ | async"
                  [form]="filterForm"
                  [iFormControl]="'parent'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Программа</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="govPrograms"
                  [form]="filterForm"
                  [iFormControl]="'program'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <nz-radio-group nzName="radiogroup" formControlName="mobileType">
                  <label nz-radio [nzValue]="MobileGeneration._2G">2G</label>
                  <label nz-radio [nzValue]="MobileGeneration._3G">3G</label>
                  <label nz-radio [nzValue]="MobileGeneration._4G">4G</label>
                  <label nz-radio [nzValue]="MobileGeneration._5G">5G</label>
                </nz-radio-group>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <label nz-checkbox formControlName="internetType">ВОЛС</label>
                <label nz-checkbox formControlName="internetType">Медь</label>
                <label nz-checkbox formControlName="internetType">Спутник</label>
                <label nz-checkbox formControlName="internetType">Радио</label>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Сотовая связь</nz-form-label>
              <nz-form-control>
                <div class="vendors-container">
                  <div
                    formGroupName="mobile"
                    class="c-vendor"
                    *ngFor="let mobileProvider of mobileProviders; let i = index"
                  >
                    <label [formGroupName]="i.toString()">
                      <input [formControlName]="mobileProvider.id.toString()" type="checkbox"/>
                      <span class="c-vendor-logo c-vendor-checked">
                        <img
                          [src]="mobileProvider.icon"
                          [alt]="mobileProvider.name"
                          [title]="mobileProvider.name"
                        />
                      </span>
                    </label>
                  </div>
                </div>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Интернет</nz-form-label>
              <nz-form-control>
                <ng-container
                  *ngFor="let internetProvider of internetProviders; let i = index"
                >
                  <label
                    nz-checkbox
                    [formControlName]="internetProvider.id.toString()"
                  >
                    {{internetProvider.name}}
                  </label>
                </ng-container>


                <!--<div class="vendors-container">
                  <div
                    formGroupName="internet"
                    class="c-vendor"
                    *ngFor="let internetProvider of internetProviders; let i = index"
                  >
                    <label [formGroupName]="i.toString()">
                      <input type="checkbox" [formControlName]="internetProvider.id.toString()"/>
                      <div class="c-vendor-logo c-vendor-checked">
                        <img
                          [src]="internetProvider.icon"
                          [alt]="internetProvider.name"
                          [title]="internetProvider.name"
                        />
                      </div>
                    </label>
                  </div>
                </div>-->
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-control>
                <label nz-checkbox formControlName="hasPayphone">Таксофон</label>
                <label nz-checkbox formControlName="hasInfomat">Инфомат</label>
                <label nz-checkbox formControlName="hasRadio">Радио</label>
                <label nz-checkbox formControlName="hasTelephone">Телефон</label>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>ТВ</nz-form-label>
              <nz-form-control>
                <label nz-checkbox>Аналоговое</label>
                <label nz-checkbox>Цифровое</label>
              </nz-form-control>
            </nz-form-item>

            <nz-form-item>
              <nz-form-label>Почта</nz-form-label>
              <nz-form-control>
                <label nz-checkbox>ОПС</label>
                <label nz-checkbox>Услуги</label>
              </nz-form-control>
            </nz-form-item>
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                      {name: 'Нас.пункт', value: 'organization.location', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Район', value: 'organization.location.parent', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Организация', value: 'organization.name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'organization.location.population', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
            >
            </app-filter-btn>
            <div class="filter-sort-population">
              <span>от</span>
              <input nz-input formControlName="populationStart">
              <span>до</span>
              <input nz-input formControlName="populationEnd">
            </div>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{ locationFeatures?.count }}</span>
          </div>
          <div class="filter-search">
            <nz-input-group [nzSuffix]="suffixIconSearch">
              <input type="text" nz-input placeholder=""/>
            </nz-input-group>
          </div>
        </div>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search" style="color: #ff5700"></i>
        </ng-template>
        <ng-template #suffixIconSelect>
          <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
        </ng-template>
      </div>
    </form>

    <!--<div class="c-filter">
      <div class="c-accordion">
        <div (click)="isOpenedAccordion = !isOpenedAccordion" class="c-accordion-title">
          <div class="c-filter-icon">Фильтры</div>
          <div class="d-flex">
            <div
              [class.search-block]="displayBlockSearch"
              [class.search-absolute]="!displayBlockSearch"
            >
              <div
                (click)="isOpenedAccordion = !isOpenedAccordion"
                [formGroup]="filterForm"
                class="search-location search-location-pivots"
              >
                &lt;!&ndash;                <input&ndash;&gt;
                &lt;!&ndash;                  (focusout)="onSearchInputFocusOut()"&ndash;&gt;
                &lt;!&ndash;                  (keyup)="onSearchControlKeyPress($event)"&ndash;&gt;
                &lt;!&ndash;                  [formControl]="searchControl"&ndash;&gt;
                &lt;!&ndash;                  class="background-transparent"&ndash;&gt;
                &lt;!&ndash;                  id="searchControl"&ndash;&gt;
                &lt;!&ndash;                  placeholder="Поиск по населенным пунктам"&ndash;&gt;
                &lt;!&ndash;                  type="text"&ndash;&gt;
                &lt;!&ndash;                />&ndash;&gt;
                &lt;!&ndash;                <input value="" type="submit" />&ndash;&gt;
              </div>
            </div>
            <div class="c-accordion-button" [class.is-open]="isOpenedAccordion"></div>
          </div>
        </div>
        <div class="c-accordion-body" *ngIf="isOpenedAccordion" style="display: block">
          <form *ngIf="filterForm" [formGroup]="filterForm" nz-form>





            &lt;!&ndash;            <div class="l-container">&ndash;&gt;
            &lt;!&ndash;              <div class="l-container-item js-filter-button">

                          </div>&ndash;&gt;
            &lt;!&ndash;              <div class="l-container-item">&ndash;&gt;
            &lt;!&ndash;<div class="c-checkbox" style="opacity: 0.7">
              <label>
                <input type="checkbox" [disabled]="true"/>
                <div class="c-checkbox-text">Наличие ЕСПД</div>
              </label>
            </div>
            <div class="c-checkbox">
              <label>
                <input type="checkbox" formControlName="hasPayphone"/>
                <div class="c-checkbox-text">Наличие таксофона</div>
              </label>
            </div>
            <div class="c-checkbox">
              <label>
                <input formControlName="hasInfomat" type="checkbox"/>
                <div class="c-checkbox-text">Наличие инфомата</div>
              </label>
            </div>
            <div class="c-checkbox">
              <label>
                <input type="checkbox" formControlName="hasRadio"/>
                <div class="c-checkbox-text">Наличие радио</div>
              </label>
            </div>
            <div class="c-checkbox">
              <label>
                <input type="checkbox" formControlName="hasTelephone"/>
                <div class="c-checkbox-text">Наличие телефона</div>
              </label>
            </div>&ndash;&gt;
            &lt;!&ndash;              </div>&ndash;&gt;
            &lt;!&ndash;<div class="l-container-item">
              <div class="l-container-block is-disabled">
                <div class="o-item-title">Почта:</div>
                <div class="c-radiobox">
                  <label>
                    <input formControlName="mailType" type="radio" [value]="MailType.UPC"/>
                    <div class="c-radiobox-text">ОПС</div>
                  </label>
                  <label>
                    <input
                      formControlName="mailType"
                      type="radio"
                      [value]="MailType.MAIL_CONNECTION"
                    />
                    <div class="c-radiobox-text">Почтовая связь</div>
                  </label>
                </div>
              </div>
              <div class="l-container-block is-disabled">
                <div class="o-item-title">ТВ:</div>
                <div class="c-radiobox">
                  <label>
                    <input formControlName="tvType" type="radio" [value]="Signal.ATV"/>
                    <div class="c-radiobox-text">Аналоговое</div>
                  </label>
                  <label>
                    <input formControlName="tvType" type="radio" [value]="Signal.CTV"/>
                    <div class="c-radiobox-text">Цифровое</div>
                  </label>
                </div>
              </div>
            </div>&ndash;&gt;
            &lt;!&ndash;              <div class="l-container-item">&ndash;&gt;
            &lt;!&ndash;<div class="l-container-row is-disabled">
              <div class="input">
                <div class="o-item-title">Населенный пункт:</div>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder=""
                  formControlName="location"
                  nzBorderless
                >
                  <nz-option
                    *ngFor="let item of fLocations$ | async"
                    [nzLabel]="item.fullName + '(' + item.parent.fullName + ')'"
                    [nzValue]="item"
                  >
                  </nz-option>
                </nz-select>
                &lt;!&ndash;<select formControlName="location">
                  <option [ngValue]="null">Не выбран</option>
                  <option [ngValue]="item" *ngFor="let item of fLocations$ | async">{{
                      item.fullName
                    }} ({{item.parent.fullName}})</option>
                </select>&ndash;&gt;
              </div>
            </div>&ndash;&gt;
            &lt;!&ndash;<div class="l-container-row is-disabled">
              <div class="input">
                <div class="o-item-title">Район:</div>
                <app-simple-select
                  [items]="fParents$ | async"
                  [form]="filterForm"
                  [iFormControl]="'parent'"
                ></app-simple-select>
                &lt;!&ndash;<select formControlName="parent">
                  <option [ngValue]="null">Не выбран</option>
                  <option [ngValue]="item" *ngFor="let item of fParents$ | async">{{
                      item.fullName
                    }}</option>
                </select>&ndash;&gt;
              </div>
            </div>&ndash;&gt;
            &lt;!&ndash;<div class="l-container-row is-disabled">
              <div class="o-item-title">Сотовая связь:</div>
              <div class="vendors-container">
                <div
                  formGroupName="mobile"
                  class="c-vendor"
                  *ngFor="let mobileProvider of mobileProviders; let i = index"
                >
                  <label [formGroupName]="i.toString()">
                    <input [formControlName]="mobileProvider.id.toString()" type="checkbox"/>
                    <div class="c-vendor-logo c-vendor-checked">
                      <img
                        [src]="mobileProvider.icon"
                        [alt]="mobileProvider.name"
                        [title]="mobileProvider.name"
                      />
                    </div>
                  </label>
                </div>
              </div>&ndash;&gt;
            &lt;!&ndash;<div class="c-radiobox l-radiobox-row">
              <label>
                <input
                  formControlName="mobileType"
                  [value]="MobileGeneration._2G"
                  type="radio"
                />
                <div class="c-radiobox-text">2G</div>
              </label>
              <label>
                <input
                  formControlName="mobileType"
                  [value]="MobileGeneration._3G"
                  type="radio"
                />
                <div class="c-radiobox-text">3G</div>
              </label>
              <label>
                <input
                  formControlName="mobileType"
                  [value]="MobileGeneration._4G"
                  type="radio"
                />
                <div class="c-radiobox-text">4G</div>
              </label>
              <label>
                <input
                  formControlName="mobileType"
                  [value]="MobileGeneration._5G"
                  type="radio"
                />
                <div class="c-radiobox-text">5G</div>
              </label>
            </div>&ndash;&gt;
            &lt;!&ndash;                </div>&ndash;&gt;
            &lt;!&ndash;                <div class="l-container-row is-disabled">&ndash;&gt;
            &lt;!&ndash;                  <div class="o-item-title">Интернет:</div>&ndash;&gt;
            &lt;!&ndash;                  <div class="vendors-container">&ndash;&gt;
            &lt;!&ndash;                    <div&ndash;&gt;
            &lt;!&ndash;                      formGroupName="internet"&ndash;&gt;
            &lt;!&ndash;                      class="c-vendor"&ndash;&gt;
            &lt;!&ndash;                      *ngFor="let internetProvider of internetProviders; let i = index"&ndash;&gt;
            &lt;!&ndash;                    >&ndash;&gt;
            &lt;!&ndash;                      <label [formGroupName]="i.toString()">&ndash;&gt;
            &lt;!&ndash;                        <input type="checkbox" [formControlName]="internetProvider.id.toString()"/>&ndash;&gt;
            &lt;!&ndash;                        <div class="c-vendor-logo c-vendor-checked">&ndash;&gt;
            &lt;!&ndash;                          <img&ndash;&gt;
            &lt;!&ndash;                            [src]="internetProvider.icon"&ndash;&gt;
            &lt;!&ndash;                            [alt]="internetProvider.name"&ndash;&gt;
            &lt;!&ndash;                            [title]="internetProvider.name"&ndash;&gt;
            &lt;!&ndash;                          />&ndash;&gt;
            &lt;!&ndash;                        </div>&ndash;&gt;
            &lt;!&ndash;                      </label>&ndash;&gt;
            &lt;!&ndash;                    </div>&ndash;&gt;
            &lt;!&ndash;                  </div>&ndash;&gt;
            &lt;!&ndash;<div class="c-radiobox l-radiobox-column">
              <label
              ><input
                formControlName="internetType"
                type="radio"
                [value]="TrunkChannel.SATELLITE"
              />
                <div class="c-radiobox-text">Спутник</div>
              </label>
              <label
              ><input
                formControlName="internetType"
                type="radio"
                [value]="TrunkChannel.VOLS"
              />
                <div class="c-radiobox-text">ВОЛС</div>
              </label>
              <label
              ><input
                formControlName="internetType"
                type="radio"
                [value]="TrunkChannel.COPPER_CABLE"
              />
                <div class="c-radiobox-text">Медь</div>
              </label>
              <label
              ><input
                formControlName="internetType"
                type="radio"
                [value]="TrunkChannel.RADIO_CHANEL"
              />
                <div class="c-radiobox-text">Радиоканал</div>
              </label>
            </div>&ndash;&gt;
            &lt;!&ndash;                </div>&ndash;&gt;
            &lt;!&ndash;                <div class="l-container-row is-disabled">
                              <div class="input">
                                <div class="o-item-title">Программа:</div>
                                <app-simple-select
                                  [items]="govPrograms"
                                  [form]="filterForm"
                                  [iFormControl]="'program'"
                                ></app-simple-select>
                              </div>
                              &lt;!&ndash;<select formControlName="program">
                                <option [ngValue]="null">Выберите программу</option>
                                <option *ngFor="let gv of govPrograms" [ngValue]="gv">{{gv.shortName}}</option>
                              </select>&ndash;&gt;
                            </div>&ndash;&gt;
            &lt;!&ndash;              </div>&ndash;&gt;
            &lt;!&ndash;            <input&ndash;&gt;
            &lt;!&ndash;              (click)="filterForm.reset()"&ndash;&gt;
            &lt;!&ndash;              class="btn filter-btn-reset"&ndash;&gt;
            &lt;!&ndash;              value="Сбросить фильтр"&ndash;&gt;
            &lt;!&ndash;              type="button"&ndash;&gt;
            &lt;!&ndash;            />&ndash;&gt;
          </form>
        </div>
      </div>
      <app-filter-btn
        formControlName="order"
        [orderings]="[
                      {name: 'Нас.пункт', value: 'name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Район', value: 'parent__name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'people_count', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
      >
      </app-filter-btn>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>{{locationFeatures?.count}}</span>
        </div>
        <div class="c-filter-export">
          <input
            (click)="tcPivots.exportExcel()"
            type="button"
            class="btn"
            value="Выгрузить в Excel"
          />
        </div>
      </div>
    </div>-->

    <div class="container-header">
      <div>Населенный пункт</div>
      <div>Численность</div>
      <div><img class="icon" src="/assets/img/icon/smo.png"/></div>
      <div><img class="icon" src="/assets/img/icon/espd.png"/></div>
      <div><img class="icon" src="/assets/img/icon/rssmo.png"/></div>
      <div><img class="icon" src="/assets/img/icon/zspd.png"/></div>
      <div><img class="icon" src="/assets/img/icon/phone.png"/></div>
      <div><img class="icon" src="/assets/img/icon/taxophone.png"/></div>
      <div><img class="icon" src="/assets/img/icon/infomat.png"/></div>
      <div><img class="icon" src="/assets/img/icon/post.png"/></div>
      <div><img class="icon" src="/assets/img/icon/tv.png"/></div>
      <div><img class="icon" src="/assets/img/icon/radio.png"/></div>
      <div><img class="icon" src="/assets/img/icon/mobile.png"/></div>
      <div><img class="icon" src="/assets/img/icon/internet.png"/></div>
      <div><img class="icon" src="/assets/img/icon/subsidii.png"/></div>
    </div>
    <ngx-spinner
      bdOpacity="0.9"
      size="medium"
      color="#35a584"
      type="ball-atom"
      class="spinner"
      [fullScreen]="true"
    >Загрузка. . .
    </ngx-spinner>
    <ng-container *ngIf="locationFeatures && existingOperators">
      <div
        class="l-table l-table-location"
        [id]="lc.location.id"
        *ngFor="let lc of locationFeatures.results | paginate: {itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: locationFeatures.count}; let i = index"
      >
        <div class="l-table-column">{{lc.location.id}}</div>
        <div class="l-table-column">
          <div class="c-location-name">
            <div class="c-location-name-item1" [class.searched-item]="searchedTc === lc">
              {{lc.location.typeLocation}} {{lc.location.name}}
            </div>
            <div class="c-location-name-item2">{{lc.location.municipalityArea}}</div>
          </div>
          <div class="c-location-peoples"><span>{{lc.location.peopleCount}}</span> чел.</div>
          <a [routerLink]="[lc.location.id]" class="btn">Подробнее</a>
        </div>
        <div class="l-table-column">
          <div class="espd true"></div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-phone-alt"></i></div>
            <div class="l-table-item">
              <app-ats-features [locationFeatures]="lc.ats" [existed]="existingOperators.ats">
              </app-ats-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tty"></i></div>
            <div class="l-table-item">
              <app-payphone-features [locationFeatures]="lc.ats" [existed]="existingOperators.ats">
              </app-payphone-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tablet-alt"></i></div>
            <div class="l-table-item u-true" *ngIf="lc.location.infomat > 0"></div>
            <div class="l-table-item" *ngIf="lc.location.infomat <= 0">
              0
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="far fa-envelope"></i></div>
            <div class="l-table-item u-true" *ngIf="lc.post.length > 0"></div>
            <div class="l-table-item" *ngIf="lc.post.length === 0">
              0
            </div>
            <div class="l-table-item" *ngFor="let mail of lc.post">ОПС</div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tv"></i></div>
            <div class="l-table-item">
              <app-television-features
                [locationFeatures]="lc.television"
                [existed]="existingOperators.television"
              >
              </app-television-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-microphone"></i></div>
            <div class="l-table-item">
              <app-radio-features
                [locationFeatures]="lc.radio"
                [existed]="existingOperators.radio"
              ></app-radio-features>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fas fa-mobile-alt"></i> Сотовая связь:</div>
            <div class="vendors-container">
              <app-cellular-features
                [locationFeatures]="lc.cellular"
                [existed]="existingOperators.cellular"
              ></app-cellular-features>
            </div>
          </div>
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fab fa-internet-explorer"></i> Интернет:</div>
            <div class="vendors-container">
              <app-internet-features
                [locationFeatures]="lc.internet"
                [existed]="existingOperators.internet"
              >
              </app-internet-features>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row" *ngFor="let governmentProgram of lc.governmentPrograms">
            {{governmentProgram.shortName}}
          </div>
          <div *ngIf="lc.governmentPrograms.length === 0" class="l-table-row">
            Нет программы
          </div>
        </div>
      </div>
    </ng-container>
    <div style="display: flex; justify-content: flex-end" *ngIf="locationFeatures">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 10"
          type="button"
          (click)="itemsPerPage = 10; loadPivotsTable().subscribe()"
          value="10"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 20"
          type="button"
          (click)="itemsPerPage = 20; loadPivotsTable().subscribe()"
          value="20"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 100"
          type="button"
          (click)="itemsPerPage = 100; loadPivotsTable().subscribe()"
          value="100"
        />
      </div>
    </div>
    <pagination-controls
      (pageChange)="onPageChange($event)"
      *ngIf="this.locationFeatures"
      class="pagination-controls"
      nextLabel="Следующая страница"
      previousLabel="Предыдущая страница"
    >
    </pagination-controls>
  </div>
</main>
