.l-table-location {
  grid-template-columns: 40px 200px 60px 100px 120px 180px 1fr;
}

.l-table-location .l-table-column:nth-child(1) {
  justify-self: center;
}

.l-table-location .l-table-column:nth-child(3) {
  padding-left: 15px;
}

.l-table-location .u-table-header .l-table-column:nth-child(3) {
  padding-left: 0;
}

.pagination-controls {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.pagination-count-button {
  border: none;
  color: #009dd3;
  background: transparent;
  text-decoration: underline;
  cursor: pointer;
  outline: none;
}

.pagination-count-button.active {
  color: #35a584;
}

.pagination-count {
  display: flex;
  padding: 10px;
}

.search-location-pivots {
  margin-top: 0;
  width: 296px;
}

.search-absolute {
  position: fixed;
  top: 10px;
  right: 10px;
  border: 2px solid #009dd3;
  padding: 8px;
  background: white;
  z-index: 1;
}

.searched-item {
  color: #35a584;
  text-decoration: underline;
}

.search-block {
  margin-right: 31px;
}
