<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <h1>Сводная таблица по населенным пунктам</h1>
    <div class="c-filter">
      <div class="c-accordion">
        <div class="c-accordion-title">
          <div class="c-filter-icon">Фильтры</div>
          <div class="c-accordion-btn"></div>
        </div>
        <div class="c-accordion-body">
          <form>
            <div class="l-container">
              <div class="l-container-item js-filter-button">
                <button type="button" (click)="orderingByLocation()" class="btn c-filter-button">Нас. пункт</button>
                <button type="button" (click)="orderingByArea()" class="btn c-filter-button">Район</button>
                <button type="button" (click)="orderingByPopulation()" class="btn c-filter-button">Численность</button>
              </div>
              <div class="l-container-item">
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Наличие ЕСПД</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Наличие таксофона</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Наличие инфомата</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Наличие радио</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Наличие телефона</div>
                  </label>
                </div>
              </div>
              <div class="l-container-item">
                <div class="l-container-block is-disabled">
                  <div class="o-item-title">Почта:</div>
                  <div class="c-radiobox">
                    <label><input type="radio" name="post">
                      <div class="c-radiobox-text">УПС</div>
                    </label>
                    <label><input type="radio" name="post">
                      <div class="c-radiobox-text">Почтовая связь</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-block is-disabled">
                  <div class="o-item-title">ТВ:</div>
                  <div class="c-radiobox">
                    <label><input type="radio" name="tv">
                      <div class="c-radiobox-text">Аналоговое</div>
                    </label>
                    <label><input type="radio" name="tv">
                      <div class="c-radiobox-text">Цифровое</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="l-container-item">
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Сотовая связь:</div>
                  <div class="l-vendors-row u-border-right">
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/mts.png" alt="МТС"
                                                                     title="МТС"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/beeline.png"
                                                                     alt="Билайн" title="Билайн"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/megafon.png"
                                                                     alt="Мегафон" title="Мегафон"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/tele2.png"
                                                                     alt="Теле2" title="Теле2"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/rostelecom.png"
                                                                     alt="РосТелеком" title="РосТелеком"></div>
                      </label>
                    </div>
                  </div>
                  <div class="c-radiobox l-radiobox-row">
                    <label><input type="radio" name="mobile">
                      <div class="c-radiobox-text">2G</div>
                    </label>
                    <label><input type="radio" name="mobile">
                      <div class="c-radiobox-text">3G</div>
                    </label>
                    <label><input type="radio" name="mobile">
                      <div class="c-radiobox-text">4G</div>
                    </label>
                    <label><input type="radio" name="mobile">
                      <div class="c-radiobox-text">5G</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Интернет:</div>
                  <div class="l-vendors-column u-border-right">
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/mts.png" alt="МТС"
                                                                     title="МТС"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/beeline.png"
                                                                     alt="Билайн" title="Билайн"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/megafon.png"
                                                                     alt="Мегафон" title="Мегафон"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/tele2.png"
                                                                     alt="Теле2" title="Теле2"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/rostelecom.png"
                                                                     alt="РосТелеком" title="РосТелеком"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/iskra.png"
                                                                     alt="Искра" title="Искра"></div>
                      </label>
                    </div>
                    <div class="c-vendor">
                      <label> <input type="checkbox">
                        <div class="c-vendor-logo c-vendor-checked"><img src="../../../../../assets/img/ttk.png" alt="ТТК"
                                                                     title="ТТК"></div>
                      </label>
                    </div>
                  </div>
                  <div class="c-radiobox l-radiobox-column">
                    <label><input type="radio" name="internet">
                      <div class="c-radiobox-text">Спутник</div>
                    </label>
                    <label><input type="radio" name="internet">
                      <div class="c-radiobox-text">ВОЛС</div>
                    </label>
                    <label><input type="radio" name="internet">
                      <div class="c-radiobox-text">Медь</div>
                    </label>
                    <label><input type="radio" name="internet">
                      <div class="c-radiobox-text">Радиоканал</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Программа:</div>
                  <select name="" id="">
                    <option value="" disabled selected style="display:none;">Выберите программу</option>
                    <option value="">Программа 1</option>
                    <option value="">Программа 2</option>
                  </select>
                </div>
              </div>
            </div>
            <input type="reset" class="btn filter-btn-reset" value="Сбросить фильтр">
          </form>
        </div>
      </div>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>10</span>
        </div>
        <div class="c-filter-export">
          <input type="button" class="btn" value="Выгрузить в Excel">
        </div>
      </div>
    </div>
    <div class="l-table u-table-header l-table-location">
      <div class="l-table-column">№</div>
      <div class="l-table-column">Населенный пункт<br>Район<br>Численность чел.</div>
      <div class="l-table-column">ЕСПД</div>
      <div class="l-table-column">Телефон,<br>Таксофон,<br>Ифомат,<br>Почта</div>
      <div class="l-table-column">ТВ,<br>Радио</div>
      <div class="l-table-column">Связь<br>(сотовая, интернет)</div>
      <div class="l-table-column">Программа</div>
    </div>
    <ngx-spinner
      bdOpacity=0.9
      size="medium"
      color="#35a584"
      type="ball-atom"
      class="spinner"
      [fullScreen]="true"
    ></ngx-spinner>
    <div class="l-table l-table-location" *ngFor="let lc of lcs; let i = index">
      <div class="l-table-column">i</div>
      <div class="l-table-column">
          <div class="c-name-location">
            <div class="c-location-name-item1">{{lc.name}}</div>
            <div class="c-location-name-item2">{{lc.area}}</div>
          </div>
          <div class="c-location-peoples"><span>{{lc.information.population}}</span> чел.</div>
      </div>
      <div class="l-table-column">
        <div class="espd true"></div>
      </div>
      <div class="l-table-column">
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-phone-alt"></i></div>
            <div class="l-table-item u-true"></div>
            <div class="l-table-item">
              <div class="c-vendor"
                   *ngFor="let phone of lc.information.telephone"
              >
                <div class="c-vendor-logo"
                     [ngClass]="{ opacity: !phone.provider.isActive }"
                >
                  <img class="image"
                       [src]="phone.provider.icon"
                       [alt]="phone.provider.name"
                       [title]="phone.provider.name">
                </div>
              </div>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tty"></i></div>
            <div class="l-table-item">
              <div class="c-vendor" *ngFor="let payphone of lc.information.payphone">
                <div class="c-vendor-logo" [ngClass]="{ opacity: !payphone.provider.isActive }">
                  <img
                    class="image"
                    [src]="payphone.provider.icon"
                    [alt]="payphone.provider.name"
                    [title]="payphone.provider.name"
                  >
                </div>
                <div class="vendor-status-text status-pos">{{payphone.count}}</div>
              </div>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tablet-alt"></i></div>
            <div class="l-table-item">0</div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="far fa-envelope"></i></div>
            <div class="l-table-item u-true"></div>
            <div class="l-table-item">УПС</div>
          </div>
      </div>
      <div class="l-table-column">
        <div class="l-table-row">
          <div class="l-table-item"><i class="fas fa-tv"></i></div>
          <div class="l-table-item">
            <div class="c-vendor" *ngFor="let tv of lc.information.tv">
              <div class="c-vendor-logo" [ngClass]="{opacity: !tv.provider.isActive}">
                <img class="image" [src]="tv.provider.icon" [alt]="tv.provider.name" [title]="tv.provider.name">
              </div>
              <div class="vendor-status-text">{{tv.type}}</div>
            </div>
          </div>
        </div>
        <div class="l-table-row">
          <div class="l-table-item"><i class="fas fa-microphone"></i></div>
          <div class="l-table-item u-true"></div>
          <div class="l-table-item">
            <div class="c-vendor">
              <div class="c-vendor-logo">
                <img src="../../../../../assets/img/rostelecom.png" alt="РосТелеком" title="РосТелеком">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="l-table-column">
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fas fa-mobile-alt"></i> Сотовая связь:</div>
            <div class="l-vendors-row">
              <div class="c-vendor" *ngFor="let phone of lc.information.cellular">
                <div class="c-vendor-logo" [ngClass]="{opacity: !phone.provider.isActive}">
                  <img class="image" [src]="phone.provider.icon" [alt]="phone.provider.name"
                       [title]="phone.provider.name">
                </div>
                <div class="c-vendor-status-text">{{phone.mobileGeneration}}</div>
              </div>
            </div>
          </div>
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fab fa-internet-explorer"></i> Интернет:</div>
            <div class="l-vendors-row">
              <div class="c-vendor"
                   *ngFor="let internet of lc.information.internet"
              >
                <div class="c-vendor-logo"
                     [ngClass]="{ opacity: !internet.provider.isActive }"
                >
                  <img class="image" [src]="internet.provider.icon"
                       [alt]="internet.provider.name"
                       [title]="internet.provider.name">
                </div>
                <div class="c-vendor-status-img"
                     *ngIf="internet.channel"
                     [title]="internet.channel.name"
                     [ngClass]="
                     {
                      vols: internet.channel.id === TrunkChannelType.VOLS,
                      med: internet.channel.id === TrunkChannelType.COPPER_CABLE,
                      radio: internet.channel.id === TrunkChannelType.RADIO_CHANEl,
                      sputnik: internet.channel.id === TrunkChannelType.SATELLITE
                     }"
                ></div>
              </div>
            </div>
          </div>
      </div>
      <div class="l-table-column">
          <div class="l-table-row">Наименование программы1</div>
          <div class="l-table-row">Наименование программы2</div>
          <div class="l-table-row">Наименование программы3</div>
      </div>
    </div>
  </div>
</main>
