<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<main class="main">
  <div class="wrapper">
    <h1>Сводная таблица по населенным пунктам</h1>
    <div class="c-filter">
      <div class="c-accordion">
        <div (click)="isOpenedAccordion = !isOpenedAccordion" class="c-accordion-title">
          <div class="c-filter-icon">Фильтры</div>
          <div class="d-flex">
            <div
              [class.search-block]="displayBlockSearch"
              [class.search-absolute]="!displayBlockSearch"
            >
              <div
                (click)="isOpenedAccordion = !isOpenedAccordion"
                [formGroup]="filterForm"
                class="search-location search-location-pivots"
              >
<!--                <input-->
<!--                  (focusout)="onSearchInputFocusOut()"-->
<!--                  (keyup)="onSearchControlKeyPress($event)"-->
<!--                  [formControl]="searchControl"-->
<!--                  class="background-transparent"-->
<!--                  id="searchControl"-->
<!--                  placeholder="Поиск по населенным пунктам"-->
<!--                  type="text"-->
<!--                />-->
<!--                <input value="" type="submit" />-->
              </div>
            </div>
            <div class="c-accordion-button" [class.is-open]="isOpenedAccordion"></div>
          </div>
        </div>
        <div class="c-accordion-body" *ngIf="isOpenedAccordion" style="display: block">
          <form *ngIf="filterForm" [formGroup]="filterForm">
            <div class="l-container">
              <div class="l-container-item js-filter-button">
                <app-filter-btn
                  formControlName="order"
                  [orderings]="[
                      {name: 'Нас.пункт', value: 'name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Район', value: 'parent', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'people_count', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
                >
                </app-filter-btn>
              </div>
              <div class="l-container-item">
                <div class="c-checkbox" style="opacity: 0.7">
                  <label>
                    <input type="checkbox" [disabled]="true" />
                    <div class="c-checkbox-text">Наличие ЕСПД</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label>
                    <input type="checkbox" formControlName="hasPayphone" />
                    <div class="c-checkbox-text">Наличие таксофона</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label>
                    <input formControlName="hasInfomat" type="checkbox" />
                    <div class="c-checkbox-text">Наличие инфомата</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label>
                    <input type="checkbox" formControlName="hasRadio" />
                    <div class="c-checkbox-text">Наличие радио</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label>
                    <input type="checkbox" formControlName="hasTelephone" />
                    <div class="c-checkbox-text">Наличие телефона</div>
                  </label>
                </div>
              </div>
              <div class="l-container-item">
                <div class="l-container-block is-disabled">
                  <div class="o-item-title">Почта:</div>
                  <div class="c-radiobox">
                    <label>
                      <input formControlName="mailType" type="radio" [value]="MailType.UPC" />
                      <div class="c-radiobox-text">УПС</div>
                    </label>
                    <label>
                      <input
                        formControlName="mailType"
                        type="radio"
                        [value]="MailType.MAIL_CONNECTION"
                      />
                      <div class="c-radiobox-text">Почтовая связь</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-block is-disabled">
                  <div class="o-item-title">ТВ:</div>
                  <div class="c-radiobox">
                    <label>
                      <input formControlName="tvType" type="radio" [value]="Signal.ATV" />
                      <div class="c-radiobox-text">Аналоговое</div>
                    </label>
                    <label>
                      <input formControlName="tvType" type="radio" [value]="Signal.CTV" />
                      <div class="c-radiobox-text">Цифровое</div>
                    </label>
                  </div>
                </div>
              </div>
              <div class="l-container-item">
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Сотовая связь:</div>
                  <div class="l-vendors-row u-border-right">
                    <div
                      formGroupName="mobile"
                      class="c-vendor"
                      *ngFor="let mobileProvider of mobileProviders; let i = index"
                    >
                      <label [formGroupName]="i.toString()">
                        <input [formControlName]="mobileProvider.id.toString()" type="checkbox" />
                        <div class="c-vendor-logo c-vendor-checked">
                          <img
                            [src]="mobileProvider.icon"
                            [alt]="mobileProvider.name"
                            [title]="mobileProvider.name"
                          />
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="c-radiobox l-radiobox-row">
                    <label>
                      <input
                        formControlName="mobileType"
                        [value]="MobileGeneration._2G"
                        type="radio"
                      />
                      <div class="c-radiobox-text">2G</div>
                    </label>
                    <label>
                      <input
                        formControlName="mobileType"
                        [value]="MobileGeneration._3G"
                        type="radio"
                      />
                      <div class="c-radiobox-text">3G</div>
                    </label>
                    <label>
                      <input
                        formControlName="mobileType"
                        [value]="MobileGeneration._4G"
                        type="radio"
                      />
                      <div class="c-radiobox-text">4G</div>
                    </label>
                    <label>
                      <input
                        formControlName="mobileType"
                        [value]="MobileGeneration._5G"
                        type="radio"
                      />
                      <div class="c-radiobox-text">5G</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Интернет:</div>
                  <div class="l-vendors-column u-border-right">
                    <div
                      formGroupName="internet"
                      class="c-vendor"
                      *ngFor="let internetProvider of internetProviders; let i = index"
                    >
                      <label [formGroupName]="i.toString()">
                        <input type="checkbox" [formControlName]="internetProvider.id.toString()" />
                        <div class="c-vendor-logo c-vendor-checked">
                          <img
                            [src]="internetProvider.icon"
                            [alt]="internetProvider.name"
                            [title]="internetProvider.name"
                          />
                        </div>
                      </label>
                    </div>
                  </div>
                  <div class="c-radiobox l-radiobox-column">
                    <label
                      ><input
                        formControlName="internetType"
                        type="radio"
                        [value]="TrunkChannel.SATELLITE"
                      />
                      <div class="c-radiobox-text">Спутник</div>
                    </label>
                    <label
                      ><input
                        formControlName="internetType"
                        type="radio"
                        [value]="TrunkChannel.VOLS"
                      />
                      <div class="c-radiobox-text">ВОЛС</div>
                    </label>
                    <label
                      ><input
                        formControlName="internetType"
                        type="radio"
                        [value]="TrunkChannel.COPPER_CABLE"
                      />
                      <div class="c-radiobox-text">Медь</div>
                    </label>
                    <label
                      ><input
                        formControlName="internetType"
                        type="radio"
                        [value]="TrunkChannel.RADIO_CHANEL"
                      />
                      <div class="c-radiobox-text">Радиоканал</div>
                    </label>
                  </div>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Программа:</div>
                  <select formControlName="program">
                    <option [value]="null" disabled selected style="display:none;"
                      >Выберите программу</option
                    >
                    <option *ngFor="let gv of govPrograms" [ngValue]="gv">{{gv.shortName}}</option>
                  </select>
                </div>
              </div>
            </div>
            .
            <input
              (click)="filterForm.reset()"
              class="btn filter-btn-reset"
              value="Сбросить фильтр"
              type="button"
            />
          </form>
        </div>
      </div>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>{{locationFeatures?.results.length}}</span>
        </div>
        <div class="c-filter-export">
          <input
            (click)="tcPivots.exportExcel()"
            type="button"
            class="btn"
            value="Выгрузить в Excel"
          />
        </div>
      </div>
    </div>
    <div class="l-table u-table-header l-table-location">
      <div class="l-table-column">№</div>
      <div class="l-table-column">Населенный пункт<br />Район<br />Численность чел.</div>
      <div class="l-table-column">ЕСПД</div>
      <div class="l-table-column">Телефон,<br />Таксофон,<br />Инфомат,<br />Почта</div>
      <div class="l-table-column">ТВ,<br />Радио</div>
      <div class="l-table-column">Связь<br />(сотовая, интернет)</div>
      <div class="l-table-column">Программа</div>
    </div>
    <ngx-spinner
      bdOpacity="0.9"
      size="medium"
      color="#35a584"
      type="ball-atom"
      class="spinner"
      [fullScreen]="true"
      >Загрузка. . . (среднее время ожидания: 40 сек.)
    </ngx-spinner>
    <ng-container *ngIf="locationFeatures">
      <div
        class="l-table l-table-location"
        [id]="lc.location.id"
        *ngFor="let lc of locationFeatures.results | paginate: {itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: locationFeatures.count}; let i = index"
      >
        <div class="l-table-column">{{lc.location.id}}</div>
        <div class="l-table-column">
          <div class="c-location-name">
            <div class="c-location-name-item1" [class.searched-item]="searchedTc === lc">
              {{lc.location.typeLocation}} {{lc.location.name}}
            </div>
            <div class="c-location-name-item2">{{lc.location.municipalityArea}}</div>
          </div>
          <div class="c-location-peoples"><span>{{lc.location.peopleCount}}</span> чел.</div>
          <a [routerLink]="[lc.location.id]" class="btn">Подробнее</a>
        </div>
        <div class="l-table-column">
          <div class="espd true"></div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-phone-alt"></i></div>
            <div class="l-table-item">
              <app-ats-features [locationFeatures]="lc.ats" [existed]="existingOperators.ats">
              </app-ats-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tty"></i></div>
            <div class="l-table-item">
              <app-payphone-features [locationFeatures]="lc.ats" [existed]="existingOperators.ats">
              </app-payphone-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tablet-alt"></i></div>
            <div class="l-table-item u-true" *ngIf="lc.location.infomat > 0"></div>
            <div class="l-table-item" *ngIf="lc.location.infomat <= 0">
              0
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="far fa-envelope"></i></div>
            <div class="l-table-item u-true" *ngIf="lc.post.length > 0"></div>
            <div class="l-table-item" *ngIf="lc.post.length === 0">
              0
            </div>
            <div class="l-table-item" *ngFor="let mail of lc.post">УПС</div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-tv"></i></div>
            <div class="l-table-item">
              <app-television-features
                [locationFeatures]="lc.television"
                [existed]="existingOperators.television"
              >
              </app-television-features>
            </div>
          </div>
          <div class="l-table-row">
            <div class="l-table-item"><i class="fas fa-microphone"></i></div>
            <div class="l-table-item">
              <app-radio-features
                [locationFeatures]="lc.radio"
                [existed]="existingOperators.radio"
              ></app-radio-features>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fas fa-mobile-alt"></i> Сотовая связь:</div>
            <div class="l-vendors-row">
              <app-cellular-features
                [locationFeatures]="lc.cellular"
                [existed]="existingOperators.cellular"
              ></app-cellular-features>
            </div>
          </div>
          <div class="l-table-row l-column">
            <div class="o-item-title"><i class="fab fa-internet-explorer"></i> Интернет:</div>
            <div class="l-vendors-row">
              <app-internet-features
                [locationFeatures]="lc.internet"
                [existed]="existingOperators.internet"
              >
              </app-internet-features>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row" *ngFor="let governmentProgram of lc.governmentPrograms">
            {{governmentProgram.shortName}}
          </div>
          <div *ngIf="lc.governmentPrograms.length === 0" class="l-table-row">
            Нет программы
          </div>
        </div>
      </div>
    </ng-container>
    <div style="display: flex; justify-content: flex-end" *ngIf="locationFeatures">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 10"
          type="button"
          (click)="itemsPerPage = 10; loadPivotsTable().subscribe()"
          value="10"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 20"
          type="button"
          (click)="itemsPerPage = 20; loadPivotsTable().subscribe()"
          value="20"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 100"
          type="button"
          (click)="itemsPerPage = 100; loadPivotsTable().subscribe()"
          value="100"
        />
      </div>
    </div>
    <pagination-controls
      (pageChange)="onPageChange($event)"
      *ngIf="this.locationFeatures"
      class="pagination-controls"
      nextLabel="Следующая страница"
      previousLabel="Предыдущая страница"
    >
    </pagination-controls>
  </div>
</main>
