<div class="l-vendors-row">
<!--  <div *ngIf="!hasProvider(tcs)">0</div>-->
<!--  <div class="check" *ngIf="hasProvider(tcs)"></div>-->
  <div class="c-vendor"
       *ngFor="let tc of locationFeatures"
  >
    <div class="c-vendor-logo">
      <img class="image"
           [src]="tc.operator.icon"
           [alt]="tc.operator.name"
           [title]="tc.operator.name">
    </div>
    <div class="c-vendor-status-text" *ngIf="getCellularFeature(tc).type">{{getCellularFeature(tc).type.name}}</div>
    <div class="c-vendor-status-img"
         *ngIf="getInternetFeature(tc).channel"
         [title]="getInternetFeature(tc).channel.name"
         [className]="getInternetFeature(tc).channel.slug"
    ></div>
    <div class="c-vendor-status-text"
         *ngIf="getRadioFeature(tc)"
    >
      {{getStringSignalType(getRadioFeature(tc).type)}}
    </div>
<!--    <div class="c-vendor-status-text"-->
<!--         *ngIf="tc &&-->
<!--         tc.type.length !== 0 &&-->
<!--         tc.type[0].name"-->
<!--    >-->
<!--      {{getTvTypeString(tc.type)}}-->
<!--    </div>-->
    <div class="c-vendor-status-text" *ngIf="getAtsFeature(tc)?.quantityPayphone > 0">{{getAtsFeature(tc).quantityPayphone}}</div>
  </div>
</div>

