<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

    <!-- Position Column -->
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef> Адрес </th>
      <td mat-cell *matCellDef="let element"> {{element.address}} </td>
    </ng-container>

    <ng-container matColumnDef="operator">
      <th mat-header-cell *matHeaderCellDef> Оператор </th>
      <td mat-cell *matCellDef="let element"> {{element.operator.name}} </td>
    </ng-container>

    <ng-container matColumnDef="propHeight">
      <th mat-header-cell *matHeaderCellDef> Высота опоры </th>
      <td mat-cell *matCellDef="let element"> {{element.propHeight}} </td>
    </ng-container>

    <ng-container matColumnDef="mobileType">
      <th mat-header-cell *matHeaderCellDef> Тип мобильной связи </th>
      <td mat-cell *matCellDef="let element"> {{element.mobileType.name}} </td>
    </ng-container>

    <ng-container matColumnDef="coverageRadius">
      <th mat-header-cell *matHeaderCellDef> Широта покрытия </th>
      <td mat-cell *matCellDef="let element"> {{element.coverageRadius}} </td>
    </ng-container>

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-icon (click)="deleteStation(row)" class="delete-button">delete</mat-icon>
        <mat-icon (click)="editStation(row)" class="edit-button">edit</mat-icon>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <button class="add-base-station-button" mat-raised-button (click)="createStation()">Создать станцию</button>
  <mat-paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>
