.core-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  height: 100%;
}

.router-container {
  flex-grow: 1;
}

.header {
  background-color: #d9d9d9;
}

.header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 80px;
  height: 80px;
  background: #616161;
}

.header .logo img {
  width: 50px;
}

.header-menu {
  flex-grow: 1;
}

.header-menu ul {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.header-menu ul li {
  margin-right: 24px;
}

.header-menu ul .active {
  color: #fff;
}

.header-menu a {
  text-decoration: none;
  color: #686868;
  font-size: 1.2rem;
  font-weight: 600;
}

.nav-item-parent {
  position: relative;
  margin: 0;
}

.nav-child {
  position: absolute;
  z-index: 999;
  display: none !important;
  padding: 0.8rem 0.5rem 0.5rem !important;
  background: #35a584;
}

.nav-child-item {
  padding: 0.5rem;
  color: #fff;
  white-space: nowrap;
}

.nav-child-item:hover {
  text-decoration: underline;
}

.nav-item-parent:hover .nav-child {
  display: block !important;
}

.flex-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.zorro-menu {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  cursor: pointer;
}

.user-avatar {
  width: 24px;
  height: 24px;
}

/*.zorro-button-transparent {
  font-weight: 400;
  color: #fff;
  background: transparent;
  border: none;
  text-decoration: underline;
}

.zorro-button-transparent span {
  position: relative;
  padding-right: 12px;
}

.zorro-button-transparent span:after {
  content: url('../assets/img/user-arrow.png');
  position: absolute;
  top: -3px;
  margin-left: 3px;
}*/

.footer {
  min-height: 47px;
  background-color: #35a584;
}
