<div class="core-container">
  <header class="header" *ngIf="user">
    <div class="wrapper">
      <div class="flex-header">
        <div class="logo">
          <a routerLink="">
            <img src="../assets/img/logo.svg" alt="" />
          </a>
        </div>
        <div class="header-menu">
          <nav class="nav hide">
            <ul>
              <li class="active"><a routerLink="">Карта</a></li>
              <!--              <li class="active"><a routerLink="user/requests">Мои заявки</a></li>-->
              <li class="nav-item-parent">
                <span class="active" style="cursor: pointer">Сводные таблицы</span>
                <ul class="nav-child">
                  <li class="nav-child-item">
                    <a routerLink="pivot-table">Населённые пункты (технические возможности)</a>
                  </li>
                  <li class="nav-child-item">
                    <a routerLink="technical-capabilities-comparison-table"
                      >Населённые пункты (сравнение тех.возможностей)</a
                    >
                  </li>
                  <li class="nav-child-item">
                    <a routerLink="connection-points">Организации (подключение к сети)</a>
                  </li>
                  <li class="nav-child-item">
                    <a routerLink="communication-contracts">Организации (контракты услуг связи)</a>
                  </li>
                </ul>
              </li>
              <li class="active" style="cursor: pointer"><a (click)="logout()">Выход</a></li>
            </ul>
          </nav>
        </div>
        <div class="user">
          <div class="user-avatar">
            <img src="../assets/img/user-avatar.png" alt="avatar" />
          </div>
          <div class="user-name">
            <span>{{ user.email }}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer" *ngIf="user"></footer>
</div>
