<!--suppress HtmlUnknownTag -->
<div class="core-container">
  <header class="header" *ngIf="user">
    <div class="wrapper">
      <div class="flex-header">
        <div class="logo">
          <a routerLink="">
            <img src="../assets/img/logo.svg" alt="">
          </a>
        </div>
        <div class="header-menu">
          <nav class="nav hide">
            <ul>
              <li class="active"><a routerLink="">Карта</a></li>
<!--              <li class="active"><a routerLink="user/requests">Мои заявки</a></li>-->
              <div>
                <li class="active"><a routerLink="pivot-table">Сводная таблица</a></li>
                <li class="active" style="margin-top: 6px"><a routerLink="connection-points">Организации</a></li>
              </div>
              <div>
                <li class="active"><a routerLink="communication-contracts">Контракты услуг связи</a></li>
                <li class="active" style="margin-top: 6px"><a routerLink="technical-capabilities-comparison-table">сравнение тех. возможностей</a></li>
              </div>
              <li class="active" style="cursor: pointer"><a (click)="logout()">Выход</a></li>
            </ul>
          </nav>
        </div>
        <div class="user">
          <div class="user-avatar">
            <img src="../assets/img/user-avatar.png" alt="avatar">
          </div>
          <div class="user-name">
            <span>{{user.email}}</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="router-container">
    <router-outlet></router-outlet>
  </div>

  <footer class="footer" *ngIf="user"></footer>
</div>

