.name-import {
  font-weight: 600;
  font-size: 16px;
  padding-left: 20px;
}

.select-file {
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;

  label {
    cursor: pointer;
    border-width: 1px;
    border-style: solid;
    padding: 10px;
    background-color: lightgray;
  }

  .input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
  }
}

.errorImport {
  color: red;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
}

.successImport {
  color: green;
  font-weight: 300;
  font-size: 16px;
  padding-left: 20px;
}
