<div
  class="mun-wrapper"
  *ngIf="locations"
>
  <mun-requests-filters (filters)="setFilter($event)" #filtersComponent></mun-requests-filters>

  <div class="top-bar" *ngFor="let location of filteredLocations | paginate
  : {itemsPerPage: itemsPerPage, currentPage: currentPage}">
    <div class="top-bar-item">
      <div class="location-wrap">
        <div class="location-info">
          <span class="material-icons">account_balance</span>
          <div>
            <div class="whitespace-nowrap">{{ location.name }}</div>
            <div class="font-size">{{ location.area?.name }}</div>
          </div>
        </div>
        <div class="location-info">
          <span class="material-icons custom">people</span>
          <span>{{ location.population }} человек</span>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Инфомат:</div>
        <div class="block-list">
          <img
            *ngIf="location.infomat && location.infomat.length > 0 && location.infomat[0].isActive"
            src="/assets/table-ok.svg"
            alt=""
          />
          <span
            *ngIf="
              !(location.infomat && location.infomat.length > 0 && location.infomat[0].isActive)
            "
            >Отсутствует</span
          >
        </div>
      </div>
      <div class="block">
        <div class="block-name">Телефон:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.ats"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Таксофон:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.payphone"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <div class="feature__icon-type" *ngIf="operator.payphones">
              {{ operator.payphones }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Радио:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.radio"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
              {{ operator.signalsToString() }}
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">ТВ:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.television"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
              {{ operator.signalsToString() }}
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Почта:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.post"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <div class="feature__icon-type" *ngIf="operator.postType != 'UNDEFINED'">
              {{ operator.postType?.name }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Сотовая связь:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.cellular"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
              {{ operator.type }}
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Интернет:</div>
        <div class="block-list">
          <div
            class="feature__icon"
            [class.disabled]="!operator.isActive"
            *ngFor="let operator of location.internet"
          >
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name" />
            <img
              *ngIf="operator.type != 'Неопределено'"
              [matTooltip]="operator.type"
              class="feature__internet-type-icon"
              [src]="operator.typeIcon"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div>Информация не актуальна?</div>
      <button mat-flat-button color="primary" (click)="sendRequest(location.id)" class="custom-btn">
        Подать уточняющую заявку
      </button>
    </div>
  </div>
  <div style="display: flex; justify-content: flex-end">
    <div class="pagination-count">
      <div style="margin-right: 13px">Количество строк на странице:</div>
      <input
        class="pagination-count-button"
        [class.active]="itemsPerPage === 10"
        type="button"
        (click)="itemsPerPage = 10"
        value="10"
      />
      <input
        class="pagination-count-button"
        [class.active]="itemsPerPage === 20"
        type="button"
        (click)="itemsPerPage = 20;"
        value="20"
      />
      <input
        class="pagination-count-button"
        [class.active]="itemsPerPage === 100"
        type="button"
        (click)="itemsPerPage = 100;"
        value="100"
      />
    </div>
  </div>
  <pagination-controls
    class="pagination-controls"
    nextLabel="Следующая страница"
    previousLabel="Предыдущая страница"
    (pageChange)="currentPage = $event"
  >
  </pagination-controls>
</div>
