<div class="mun-wrapper">
  <div class="top-bar">
    <div class="top-bar-item">
      <div class="location-wrap">
        <div class="location-info">
          <span class="material-icons">account_balance</span>
          <div>
            <div>с. Богучаны</div>
            <div class="font-size">Богучанский р-н</div>
          </div>
        </div>
        <div class="location-info">
          <span class="material-icons custom">people</span>
          <span>173 человек</span>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Инфомат:</div>
        <div class="block-list">
          <div class="value">0</div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Телефон:</div>
        <div class="block-list">
          <div class="check"></div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Таксофон:</div>
        <div class="block-list">
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status">5</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Радио:</div>
        <div class="block-list">
          <div class="check"></div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">ТВ:</div>
        <div class="block-list">
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/beeline.png" alt="Билайн" title="Билайн"></div>
              <div class="status">АТВ</div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status">АТВ</div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/telsputnik.png" alt="ТелСпутник" title="ТелСпутник"></div>
              <div class="status">ЦТВ</div>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Почта:</div>
        <div class="block-list">
          <div class="check"></div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div class="block">
        <div class="block-name">Сотовая связь:</div>
        <div class="block-list">
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/mts.png" alt="МТС" title="МТС"></div>
              <div class="status">3G</div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/beeline.png" alt="Билайн" title="Билайн"></div>
              <div class="status">4G</div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/megafon.png" alt="Мегафон" title="Мегафон"></div>
              <div class="status">2G</div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/tele2.png" alt="Теле2" title="Теле2"></div>
              <div class="status">3G</div>
            </div>
          </div>
          <div class="value-item opacity">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status">3G</div>
            </div>
          </div>
        </div>
      </div>
      <div class="block">
        <div class="block-name">Интернет:</div>
        <div class="block-list">
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/mts.png" alt="МТС" title="МТС"></div>
              <div class="status vols" title="ВОЛС"></div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/beeline.png" alt="Билайн" title="Билайн"></div>
              <div class="status med" title="Медь"></div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/megafon.png" alt="Мегафон" title="Мегафон"></div>
              <div class="status vols" title="ВОЛС"></div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/tele2.png" alt="Теле2" title="Теле2"></div>
              <div class="status med" title="Медь"></div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/rostelecom.png" alt="РосТелеком" title="РосТелеком"></div>
              <div class="status radio" title="Радио"></div>
            </div>
          </div>
          <div class="value-item">
            <div class="logo">
              <div class="image"><img src="/media/iskra.png" alt="Искра" title="Искра"></div>
              <div class="status sputnik" title="Спутник"></div>
            </div>
          </div>
          <div class="value-item gray-filter">
            <div class="logo">
              <div class="image"><img src="/media/ttk.png" alt="ТТК" title="ТТК"></div>
              <div class="status"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="top-bar-item">
      <div>Информация не актуальна?</div>
      <button mat-flat-button color="primary" class="custom-btn">Подать уточняющую заявку</button>
    </div>
  </div>
  <h1>Мои заявки (архив)</h1>
  <div class="card-container">
    <div class="card">
      <div class="card-body">
        <span class="card-number">№115а</span> от <span class="card-date">15.08.19</span>
        <p>Внесенные изменения:</p>
        <ul class="card-list">
          <li class="card-list-item"><span class="underline">Таксофон:</span> Изменено количество таксофонов с 4 до 5 шт</li>
          <li class="card-list-item"><span class="underline">Сотовая связь:</span> МТС - с 2G на 3G, подключение Мегафон</li>
          <li class="card-list-item"><span class="underline">Интернет:</span> Мегафон - проведен ВОЛС(качество удовлетворительное); Tele2
            - подключение,медь
            (качество хорошее)
          </li>
        </ul>
      </div>
      <div class="card-status orange">на рассмотрении</div>
    </div>
    <div class="card">
      <div class="card-body">
        <span class="card-number">№104а</span> от <span class="card-date">07.06.19</span>
        <p>Внесенные изменения:</p>
        <ul class="card-list">
          <li class="card-list-item"><span class="underline">Интернет:</span> Искра - проведен спутник (качество удовлетворительное)</li>
        </ul>
      </div>
      <div class="card-status green">заявка принята</div>
    </div>
  </div>
</div>
