<ng-container *ngFor="let button of buttons">
  <nz-form-item>
    <nz-form-label>Импорт точек {{ button.label }}</nz-form-label>
    <nz-form-control>
      <nz-upload
        [nzAction]="importAccessPointUrl"
        [nzData]="{ apType: button.value }"
        [nzFileListRender]="fileListRender"
      >
        <button nz-button class="import-btn">Выберите файл для импорта</button>
        <ng-template #fileListRender let-files>
          <ng-container *ngFor="let file of files">
            <div class="file">
              <div>
                <span nz-icon nzType="paper-clip" nzTheme="outline"></span>
                {{ file.name }}
              </div>
              <div
                [ngClass]="
                  file.status === 'success' ? 'successImport' : 'errorImport'
                "
              >
                {{ file.answer }}
              </div>
              <div
                *ngIf="hasErrorInFile(file) as importRes"
                class="select-file"
              >
                <div>
                  Успешно импортировано строк: {{ importRes.importSuccess }}
                </div>
                <div>Строк с ошибками: {{ importRes.importFailure }}</div>
                <button
                  (click)="saveFileError()"
                  nz-tooltip
                  nz-button
                  nzTooltipTitle="Скачать файл с ошибками"
                >
                  <span nz-icon nzType="download" nzTheme="outline"></span>
                </button>
              </div>
            </div>
          </ng-container>
        </ng-template>
      </nz-upload>
    </nz-form-control>
  </nz-form-item>
</ng-container>
