:host {
  padding: 20px;
  display: block;
}

.import-btn {
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
  padding: 10px;
  background-color: lightgray;
}
.files-list {
  padding: 8px;
}

.file {
  font-weight: 300;
  font-size: 16px;
  margin-bottom: 8px;

  &:last-child {
    margin-bottom: 0;
  }

  &_success {
    color: green;
  }

  &_error {
    color: red;
  }
}
