<mat-accordion>
  <mat-expansion-panel [expanded]="true">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ИНФОРМАЦИЯ: {{location.locationName}}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="features-list">
      <div class="feature">
        <div class="feature__label">Кол-во чел:</div>
        <div class="feature__value">
          {{location.population}} чел
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Сотовая связь:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.cellular">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
            <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
              {{operator.type}}
            </div>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Интернет:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.internet">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
            <img *ngIf="operator.type != 'Неопределено'"
                 [matTooltip]="operator.type"
                 class="feature__internet-type-icon"
                 [src]="operator.typeIcon" alt="">
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Тв:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.tv">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
            <div class="feature__icon-type with-signal" *ngIf="operator.type">
              {{operator.signalsToString()}}
            </div>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Таксофон:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.payphone">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Телефон:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.telephone">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Радио:</div>
        <div class="feature__value">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
               [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
               *ngFor="let operator of location.radio">
            <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
            <div class="feature__icon-type with-signal" *ngIf="operator.type">
              {{operator.signalsToString()}}
            </div>
          </div>
        </div>
      </div>
      <div class="feature">
        <div class="feature__label">Почта:</div>
        <div class="feature__value">
          <div class="feature__value">
            <div class="feature__icon"
                 [class.disabled]="!operator.isActive || (operator.tc ? operator.tc.quality === 'ABSENT' : false)"
                 [class.normal-q]="operator.tc ? operator.tc.quality === 'NORMAL' : false"
                 *ngFor="let operator of location.mail">
              <img [src]="operator.iconUrl" alt="" matTooltip="{{ operator.name }}">
              <div class="feature__icon-type with-signal" *ngIf="operator.postType">
                {{operator.postType.name}}
              </div>
            </div>
          </div>
        </div>
      </div>
<!--      <div class="feature">-->
<!--        <div class="feature__label">Инфомат:</div>-->
<!--        <div class="feature__value">-->
<!--          <div class="feature__icon">-->
<!--            <img src="../../../../assets/mts.png" alt="">-->
<!--          </div>-->
<!--          <div class="feature__icon"><img src="../../../../assets/mts.png" alt=""></div>-->
<!--          <div class="feature__icon"><img src="../../../../assets/mts.png" alt=""></div>-->
<!--          <div class="feature__icon"><img src="../../../../assets/mts.png" alt=""></div>-->
<!--          <div class="feature__icon"><img src="../../../../assets/mts.png" alt=""></div>-->
<!--          <div class="feature__icon"><img src="../../../../assets/mts.png" alt=""></div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
  </mat-expansion-panel>
</mat-accordion>
