.feature {
  color: #000000;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.22px;
  line-height: 19px;
  width: 100%;
  padding-bottom: 14px;
  border-bottom: 1px solid #95989a;
  display: flex;
  margin-top: -2px;

  &__label {
    letter-spacing: 0.28px;
    width: 123px;
  }

  &__value {
    display: flex;
  }

  &__icon {
    position: relative;
    width: 21px;
    margin-right: 16px;
    &.disabled {
      filter: grayscale(1);
      opacity: 0.6;
    }
    & img {
      width: 100%;
    }
  }

  &__icon-type {
    position: absolute;
    bottom: -7px;
    right: -7px;
    color: #000000;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;
  }

  &__internet-type-icon {
    position: absolute;
    bottom: -5px;
    left: 0;
  }

  &:nth-of-type(2) {
    margin-top: 13px;
  }

  &:nth-of-type(n + 3) {
    margin-top: 14px;
  }
}

mat-panel-title {
  color: #000000;
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

.mat-expansion-panel {
  box-shadow: unset !important;
  border-bottom: 1px solid #95989a;
  border-top: 1px solid #95989a;
  border-radius: unset !important;
  padding: 0 8px !important;
  &.mat-expanded {
    background-color: #efefef;
  }
  &:hover {
    background-color: #efefef;
  }
}

.mat-expansion-panel-header {
  &:hover {
    background-color: #efefef !important;
  }
}

.mat-expansion-indicator::after {
  color: #ff5700;
}
