<!--suppress HtmlFormInputWithoutLabel -->
<div class="modal">
  <div class="modal-body">
    <div class="title">
      <h2>Интернет</h2>
      <input class="close" type="button" (click)="cancel.emit()">
    </div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="formValue.emit(form.value)">
        <div class="form-body" formArrayName="internet">
          <div class="form-body-item" [formGroupName]="i.toString()" *ngFor="let internet of internet.controls; let i = index">
            <div class="checkbox" formGroupName="provider">
              <label>
                <input type="checkbox" formControlName="isActive">
                <div class="checkbox-text">{{internet.value.provider.name}}</div>
              </label>
            </div>
            <div class="radiobox">
              <label>
                <input type="radio" formControlName="type" value="Спутник">
                <div class="radiobox-text">Спутник</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="ВОЛС">
                <div class="radiobox-text">ВОЛС</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="Медь">
                <div class="radiobox-text">Медь</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="Радиоканал">
                <div class="radiobox-text">Радиоканал</div>
              </label>
            </div>
            <div class="select">
              <select formControlName="quality">
                <option value="Хорошее качество">Хорошее качество</option>
                <option value="Удовлетворительно">Удовлетворительно</option>
                <option value="Отсутствует">Отсутствует</option>
              </select>
            </div>
          </div>
        </div>
        <div class="button">
          <input type="button" value="Отмена" class="btn cancel" (click)="cancel.emit()">
          <input type="submit" value="Сохранить изменения" class="btn">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="overlay"></div>
