<location-filters (filters)="filter($event)" (exportExcel)="exportExcel()"></location-filters>
<div class="filter-result-count" *ngIf="totalElements">
  Результатов поиска: {{totalElements}}
</div>
<div class="filter-result-count" *ngIf="!totalElements">
  Результатов поиска: 0
</div>
<div class="search-results"
     infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollUpDistance]="2"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScrollDown()">
  <table width="100%">
    <thead>
    <tr>
      <td class="align-left">Населенный пункт</td>
      <td></td>
      <td><span class="material-icons">people</span></td>
      <td><img src="/assets/table-computer.svg" matTooltip="ЕСПД" alt=""></td>
      <td><img src="/assets/table-house.svg" matTooltip="СЗО" alt=""></td>
      <td><img src="/assets/table-sputnik.svg" matTooltip="РСЗО" alt=""></td>
      <td><img src="/assets/table-radio.svg" matTooltip="ЗСПД" alt=""></td>
      <td><img src="/assets/table-phone.svg" matTooltip="АТС" alt=""></td>
      <td><img src="/assets/table-phone-2.svg" matTooltip="Таксофоны" alt=""></td>
      <td><img src="/assets/table-phone-3.svg" matTooltip="Инфомат" alt=""></td>
      <td><img src="/assets/table-mail.svg" matTooltip="Почта" alt=""></td>
      <td><img src="/assets/table-television.svg" matTooltip="ТВ" alt=""></td>
      <td><img src="/assets/table-micro.svg" matTooltip="Радио" alt=""></td>
      <td><img src="/assets/table-phone-4.svg" matTooltip="Сотовая связь" alt=""></td>
      <td><img src="/assets/table-internet.svg" matTooltip="Интернет" alt=""></td>
      <td><img src="/assets/table-contract.svg" matTooltip="Программа" alt=""></td>
    </tr>
    </thead>
    <tbody>
    <tr class="location-row location-link" [routerLink]="[user ? (user.isOperatorOrAdmin() ? location.id : null) : null]" *ngFor="let location of locations.array">
      <td class="align-left">{{location.area.name}}</td>
      <td class="align-left">{{location.name}}</td>
      <td class="text-align-center">{{location.population}}</td>
      <td class="text-align-center">
        <img *ngIf="location.hasESPD" src="/assets/table-ok.svg" alt="">
      </td>
      <td class="text-align-center">
        <img *ngIf="location.hasSMO" src="/assets/table-ok.svg" alt="">
      </td>
      <td class="text-align-center">
        <img *ngIf="location.hasRSZO" src="/assets/table-ok.svg" alt="">
      </td>
      <td class="text-align-center">
        <img *ngIf="location.hasZSPD" src="/assets/table-ok.svg" alt="">
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.ats">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
          </div>
        </div>
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.payphone">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
          </div>
        </div>
      </td>
      <td class="text-align-center">
        <img *ngIf="location.infomat && location.infomat.length > 0 && location.infomat[0].isActive" src="/assets/table-ok.svg" alt="">
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.post">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
            <div class="feature__icon-type with-signal" *ngIf="operator.postType">
              <span *ngIf="operator.postType.id === 'POST'">ПС</span>
              <span *ngIf="operator.postType.id !== 'POST'">{{operator.postType.name}}</span>
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.television">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
            <div class="feature__icon-type with-signal" *ngIf="operator.type">
              {{operator.signalsToString()}}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.radio">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
            <div class="feature__icon-type with-signal" *ngIf="operator.type">
              {{operator.signalsToString()}}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.cellular">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
            <div class="feature__icon-type" *ngIf="operator.type != 'UNDEFINED'">
              {{operator.type}}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div class="td-container">
          <div class="feature__icon"
               [class.disabled]="!operator.isActive"
               *ngFor="let operator of location.internet">
            <img [src]="operator.iconUrl" alt="" [matTooltip]="operator.name">
            <img *ngIf="operator.type != 'Неопределено'"
                 [matTooltip]="operator.type"
                 class="feature__internet-type-icon"
                 [src]="operator.typeIcon" alt="">
          </div>
        </div>
      </td>
      <td><div *ngFor="let contract of location.contract">{{contract.acronym}} <span *ngIf="contract.govYearComplete">{{contract.govYearComplete}}</span></div></td>
    </tr>
    </tbody>
  </table>
  <div class="spinner-container">
    <mat-spinner *ngIf="isLoading"></mat-spinner>
  </div>
</div>
