<h1 mat-dialog-title *ngIf="action === 'CREATE'">Создание оператора</h1>
<h1 mat-dialog-title *ngIf="action === 'EDIT'">Редактирование оператора</h1>
<form #form="ngForm" mat-dialog-content action="/api/operator" method="POST">
  <mat-form-field>
    <mat-label>Наименование</mat-label>
    <input cdkFocusInitial matInput type="text" [(ngModel)]="operator.name" name="name" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Контактная информация</mat-label>
    <textarea matInput type="number" [(ngModel)]="operator.contacts" name="contacts"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Юридическое наименование</mat-label>
    <input matInput type="text" [(ngModel)]="operator.juristicName" name="juristicName" required>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Услуги оператора</mat-label>
    <mat-select multiple [(ngModel)]="operator.services" name="services" [compareWith]="compareById">
      <mat-option disabled value="null">Тип мобильной связи</mat-option>
      <mat-option [value]="service" *ngFor="let service of operatorServices$ | async">{{service.label}}</mat-option>
    </mat-select>
  </mat-form-field>
  <input type="file" name="icon" [disabled]="" (change)="operator.iconFile = $event.target.files[0]">
</form>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Отмена</button>
  <button mat-button [disabled]="!form.valid" [mat-dialog-close]="operator">Сохранить</button>
</div>
