<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <div class="l-location-info">
      <div class="c-location-name">
        <div class="c-location-name-item1">
          {{ locationFeatures.location.typeLocation }} {{ locationFeatures.location.name }}
        </div>
        <div class="c-location-name-item2">{{ locationFeatures.location.municipalityArea }}</div>
      </div>
      <div class="c-location-peoples">
        <span>{{ locationFeatures.location.peopleCount }}</span> чел.
      </div>
    </div>
    <!-- WIP: Here we go with Organization -->
    <div class="wip-organization">
      <div>
        <div>Краткое наименование: value</div>
        <div>Полное наименование: value</div>
        <div>ИНН: value</div>
        <div>КПП: value</div>
        <div>ОГРН: value</div>
        <div>ОКТМО: value</div>
      </div>
      <br />
      <div class="wip-organization-access-points">
      <table border="1px">
        <th>collumn one</th><th>collumn two</th>
        <tr>
          <td>one</td><td>two</td>
        </tr>
      </table>
      </div>
    </div>
  </div>
</main>
