<!--suppress HtmlFormInputWithoutLabel -->
<main class="main" *ngIf="organization">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Главная</a></li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link" routerLink="/connection-points"
            >Сводная таблица по организациям</a
          >
        </li>
        <!-- <li class="breadcrumbs-item">
          <span class="breadcrumbs-link">
            {{ locationFeatures.location.typeLocation }} {{ locationFeatures.location.name }} ,
            {{ locationFeatures.location.municipalityArea }}
          </span>
        </li> -->
      </ul>
    </div>

    <div class="container">
      <div>
        <h2>Организация</h2>
        <form [formGroup]="formGroupOrganization" nz-form>
          <nz-form-item>
            <nz-form-label>Наименование</nz-form-label>
            <nz-form-control>
<!--              <input nz-input type="text" formControlName="_name"/>-->
              <textarea
                formControlName="_name"
                nz-input
                [nzAutosize]="{ minRows: 3, maxRows: 6 }"
              >
              </textarea>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Адрес</nz-form-label>
            <nz-form-control>
              <input nz-input type="text" formControlName="_address"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>ИНН</nz-form-label>
            <nz-form-control>
              <input nz-input type="text" formControlName="_inn"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>КПП</nz-form-label>
            <nz-form-control>
              <input nz-input type="text" formControlName="_kpp"/>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>ФИАС</nz-form-label>
            <nz-form-control>
              <input nz-input type="text" formControlName="_fias"/>
              <div class="error" *ngIf="formGroupOrganization.get('_fias').invalid">
                Должно соответствовать формату "00000000-0000-0000-0000-000000000000"
              </div>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Тип</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="_type" [compareWith]="compareFn">
                <nz-option
                  *ngFor="let item of fOrganizationTypes$ | async"
                  [nzValue]="item"
                  [nzLabel]="item.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>СЗО</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="_smoType" [compareWith]="compareFn">
                <nz-option
                  *ngFor="let item of fOrganizationSMOTypes$ | async"
                  [nzValue]="item"
                  [nzLabel]="item.name"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label>Локация</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="_location" [compareWith]="compareFn">
                <nz-option
                  *ngFor="let item of fLocations$ | async"
                  [nzValue]="item"
                  [nzLabel]="item.name + (item.id)"
                ></nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </form>
      </div>
      <div>
        <h2>Точки подключения</h2>
        <div class=""></div>
      </div>
    </div>

    <div class="l-location-info">
      <div class="c-location-name">
        <div class="c-location-name-item1">
          <!-- {{ locationFeatures.location.typeLocation }} {{ locationFeatures.location.name }} -->
        </div>
        <!-- <div class="c-location-name-item2">{{ locationFeatures.location.municipalityArea }}</div> -->
      </div>
      <div class="c-location-peoples">
        <!-- <span>{{ locationFeatures.location.peopleCount }}</span> чел. -->
      </div>
    </div>
    <!-- WIP: Here we go with Organization -->

    <div class="wip-organization" *ngIf="organization" [formGroup]="formGroupOrganization">
      <input
        *ngIf="formGroupOrganization.enabled"
        type="button"
        class="btn btn-cancel-form"
        value="Отмена"
        (click)="cancelEdit()"
      />
      <input
        *ngIf="formGroupOrganization.disabled"
        type="button"
        class="btn btn-edit-form"
        value="Редактировать организацию"
        (click)="enableForm()"
      />
      <input
        type="button"
        class="btn save"
        value="Сохранить"
        *ngIf="formGroupOrganization.enabled && !isCreate()"
        [disabled]="!formGroupOrganization.valid"
        (click)="saveRequest()"
      />

      <input
        type="button"
        class="btn save"
        value="Создать"
        *ngIf="formGroupOrganization.enabled && isCreate()"
        [disabled]="!formGroupOrganization.valid"
        (click)="saveOrganization()"
      />
      <div class="organ">
        <div class="organ-item">
          <label>Наименование: <input nz-input type="text" formControlName="_name"/></label>
        </div>
<!--        <div class="organ-item">-->
<!--          <label>Полное наименование: <input nz-input type="text" formControlName="_fullName"/></label>-->
<!--        </div>-->
        <div class="organ-item">
          <label>Адрес: <input nz-input type="text" formControlName="_address"/></label>
        </div>
        <div class="organ-item">
          <label>ИНН: <input nz-input type="text" formControlName="_inn"/></label>
        </div>
        <div class="organ-item">
          <label>КПП:
            <input nz-input type="text" formControlName="_kpp"/></label>
        </div>
        <div class="organ-item">
          <label>ФИАС: <input nz-input type="text" formControlName="_fias"/></label>
          <div class="error" *ngIf="formGroupOrganization.get('_fias').invalid">
            Должно соответствовать формату "00000000-0000-0000-0000-000000000000"
          </div>
        </div>
        <div class="organ-item">
          <label
            >Тип:
            <select formControlName="_type" [compareWith]="compareFn">
              <option [ngValue]="null">Не выбран</option>
              <option *ngFor="let item of fOrganizationTypes$ | async" [ngValue]="item">
                {{ item.name }}
              </option>
            </select></label
          >
        </div>
        <div class="organ-item">
          <label
            >СЗО:
            <select formControlName="_smoType" [compareWith]="compareFn">
              <option [ngValue]="null">Не выбран</option>
              <option *ngFor="let item of fOrganizationSMOTypes$ | async" [ngValue]="item">
                {{ item.name }}
              </option>
            </select></label
          >
        </div>
        <div class="organ-item">
          <label
            >Локация:
            <select formControlName="_location">
              <option [ngValue]="null">Не выбран</option>
              <option *ngFor="let item of fLocations$ | async" [value]="item.id">
                {{ item.name }} ({{ item.id }})
              </option>
            </select></label
          >
        </div>
        <!-- <div>ОГРН: {{organization.ogrn}}</div>
        <div>ОКТМО: {{organization.oktmo}}</div> -->
      </div>
      <div class="wip-organization-access-points">
        <div *ngFor="let ap of organization.reaccesspoints" class="point">
          <hr />
          <div class="point-item">Адрес: {{ ap.address }}</div>
          <!-- <div class="point-item">Координата: {{ap.coordinate}}</div> -->
          <div class="point-item">
            Отображается: <input type="checkbox" disabled checked="{{ ap.visible }}" />
          </div>
          <div class="point-item">Узел доступа: {{ ap.node }}</div>
          <div class="point-item">Тип подключения: {{ ap.connectionTypeString }}</div>

          <div class="point-item">Оператор связи: {{ ap.contractor }}</div>
          <!-- <div class="point-item">Контракт: {{ap.type}}</div> -->
          <div class="point-item">Скорость по контракту: {{ ap.declaredSpeed }}</div>
          <!-- <div class="point-item">Ширина канала: {{ap.type}}</div> -->
          <div class="point-item">Качество связи: {{ qualityToString(ap.quality) }}</div>
          <div class="point-item">
            Государственная программа: {{ ap.governmentProgram?.shortName }}
          </div>
          <!-- <div class="point-item">Статус участия: {{ap.type}}</div>
          <div class="point-item">Год реализации: {{ap.type}}</div> -->
        </div>
      </div>
    </div>
    <div class="add-point">
      <button
        type="button"
        class="btn"
        (click)="addNewAccessPoint()"
        *ngIf="!ap && organization.id"
      >
        Добавить точку подключения
      </button>
    </div>
    <div class="wip-organization-access-points" *ngIf="ap" [formGroup]="formGroupAccessPoints">
      <hr />
      <div class="point-item">
        <label>Адрес: <input type="text" formControlName="_address"/></label>
      </div>
      <!-- <div class="point-item">Координата: {{ap.coordinate}}</div> -->
      <div class="point-item">
        <label
          >Отображается: <input type="checkbox" checked="true" formControlName="_visible"
        /></label>
      </div>
      <div class="point-item">
        <label>Узел доступа: <input type="text" formControlName="_node"/></label>
      </div>
      <div class="point-item">
        <label
          >Тип:
          <select formControlName="_connectionType" [compareWith]="compareFn">
            <option [ngValue]="null">Не выбран</option>
            <option *ngFor="let item of fInternetAccessTypes$ | async" [ngValue]="item">
              {{ item.name }}
            </option>
          </select></label
        >
      </div>
      <div class="point-item">
        <label>Оператор связи: <input type="text" formControlName="_contractor"/></label>
      </div>
      <!-- <div class="point-item">Контракт: {{ap.type}}</div> -->
      <div class="point-item">
        <label>Скорость по контракту: <input type="text" formControlName="_definedSpeed"/></label>
      </div>
      <!-- <div class="point-item">Ширина канала: {{ap.type}}</div> -->
      <div class="point-item">
        <label
          >Качество связи:
          <select formControlName="_quality">
            <option [ngValue]="Quality.GOOD">
              Хорошо
            </option>
            <option [ngValue]="Quality.NORMAL">
              Удовлетворительно
            </option>
            <option [ngValue]="Quality.ABSENT">
              Отсутствует
            </option>
          </select></label
        >
      </div>
      <div class="point-item">
        <label
          >Государственная программа:
          <select formControlName="_governmentProgram" [compareWith]="compareFn">
            <option *ngFor="let item of fGovernmentPrograms$ | async" [ngValue]="item">
              {{ item.fullName }}
            </option>
          </select></label
        >
      </div>
      <!-- <div class="point-item">Статус участия: {{ap.type}}</div>
      <div class="point-item">Год реализации: {{ap.type}}</div> -->
      <button type="button" class="btn" (click)="saveAccessPoint()">
        Создать точку подключения
      </button>
    </div>
  </div>
</main>

<ng-template #suffixIconSelect>
  <i nz-icon nzType="caret-down" nzTheme="outline" style="color: #ff5700"></i>
</ng-template>
