
.container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 3rem;
}



input[type='checkbox'] {
  display: inline-block;
}

input.ng-invalid {
  border-bottom: 1px solid red;
}

input:disabled {
  background-color: #ffffff;
}

input:disabled.save {
  background-color: #009cd3;
  opacity: 0.5;
  cursor: default;
}

.organ-item {
  margin-top: 1rem;
}

label {
  font-weight: 600;
  font-size: 14px;
}

input,
select {
  margin-top: 0.2rem;
  padding: 7px;
  font-size: 14px;
}

.add-point {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.wip-organization-access-points {
  margin-bottom: 2rem;
}

.point-item {
  margin-top: 0.3rem;
}

.btn {
  min-width: 130px;
}

.btn + .btn {
  margin-left: 1rem;
}
