<br>
<div class="header">
  Отчет мониторинга
</div>
<br>
<br>
<br>
<div class="content">
  <mat-label>Отчет по технологии подключения</mat-label>
  <form [formGroup]="reportMapsTechFG">
    <mat-form-field appearance="fill">
      <mat-label>Выберите период</mat-label>
      <mat-date-range-input [rangePicker]="picker">
        <input matStartDate placeholder="Начало" formControlName="start">
        <input matEndDate placeholder="Конец" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>
    <button [disabled]="!reportMapsTechFG.valid" mat-button (click)="getMAPTech()">Сформировать отчёт</button>
  </form>
</div>
<br>
<div class="content">
  <mat-label>Отчет по доступности сервисов</mat-label>
  <form [formGroup]="reportMapsAvailabilityFG">
    <mat-form-field appearance="fill">
      <mat-label>Выберите период</mat-label>
      <mat-date-range-input [rangePicker]="pickerA">
        <input matStartDate placeholder="Начало" formControlName="start">
        <input matEndDate placeholder="Конец" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerA"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerA></mat-date-range-picker>
    </mat-form-field>
    <button [disabled]="!reportMapsAvailabilityFG.valid" mat-button (click)="getMAPAvailability()">Сформировать отчёт</button>
  </form>
</div>

<br>
<div class="content">
  <mat-label>Отчет по недоступности сервисов</mat-label>
  <form [formGroup]="reportMapsUnavailabilityFG">
    <mat-form-field appearance="fill">
      <mat-label>Выберите период</mat-label>
      <mat-date-range-input [rangePicker]="pickerU">
        <input matStartDate placeholder="Начало" formControlName="start">
        <input matEndDate placeholder="Конец" formControlName="end">
      </mat-date-range-input>
      <mat-datepicker-toggle matSuffix [for]="pickerU"></mat-datepicker-toggle>
      <mat-date-range-picker #pickerU></mat-date-range-picker>
    </mat-form-field>
    <button [disabled]="!reportMapsUnavailabilityFG.valid" mat-button (click)="getMAPUnavailability()">Сформировать отчёт</button>
  </form>
</div>

<div class="spinner-container" *ngIf="isLoading">
  <mat-spinner diameter="50"></mat-spinner>
</div>
