<info-bar (toggle)="onToggleBar($event)" [opened]="barIsOpened">
  <search (selectLocation)="onSelectLocation($event)" class="location-search"></search>
  <area-info-bar *ngIf="locationProvidingInfo" [area]="locationProvidingInfo"></area-info-bar>
  <location-info-bar *ngIf="location$ | async as location" [location]="location"></location-info-bar>
<!--  <organizations-info-bar [organizations]="[{}]"></organizations-info-bar>-->
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
<!--  <organizations-info-bar></organizations-info-bar>-->
</info-bar>
<best-map [centredOnLocation]="centeredLocation"
          (areaClick)="onAreaClick($event)"
          (locationClick)="onSelectLocation($event)"></best-map>
