<info-bar (toggle)="onToggleBar($event)" [opened]="barIsOpened">
  <search (selectLocation)="onSelectLocation($event)" (selectGroup)="onSelectGroup($event)" class="location-search"></search>
  <location-info-bar *ngIf="location" [location]="location"></location-info-bar>
  <area-info-bar *ngIf="locationProvidingInfo" [area]="locationProvidingInfo"></area-info-bar>
  <ng-container *permissions="['ADMIN', 'OPERATOR']">
    <app-base-station-info-bar *ngIf="station" [station]="station"></app-base-station-info-bar>
  </ng-container>
  <ng-container *permissions="['ADMIN', 'OPERATOR', 'ORGANIZATION']">
    <organizations-info-bar
      *ngIf="organizationsCount$ && location"
      [organizationsCount]="organizationsCount$ | async"
      [organizations]="organizations$ | async"
      [openAccessPoint]="isOpenAccessPoint"
      (openBar)="onOpenOrganizationInfo(location)"
      (openAccessPointBar)="onOpenAccessPointBar($event)"
     ></organizations-info-bar>
  </ng-container>
  <div class="spinner-container" *ngIf="isLoading">
    <mat-spinner diameter="50"></mat-spinner>
  </div>
</info-bar>
<best-map [centredOnLocation]="centeredLocation"
          (areaClick)="onAreaClick($event)"
          (accessPointClick)="onAccessPointClick($event)"
          (locationClick)="onSelectLocation($event)"
          (baseStationClick)="onSelectBaseStation($event)"
></best-map>
