<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <div class="page-header" style="align-items: center">
      <h1>Сводная таблица - Сравнение технических возмоностей</h1>
      <div style="width: 215px;height: 23px;">
        <select [formControl]="featuresTypeSelector">
          <option value="internet">Интернет</option>
          <option value="mobile">Сотовая связь</option>
        </select>
      </div>
    </div>
    <div class="c-filter" *ngIf="featuresTypeSelector.value">
      <accordion class="c-accordion">
        <group>
          <accordion-header class="c-accordion-title">
            <div class="c-filter-icon">Фильтры</div>
          </accordion-header>
          <div>
            <form [formGroup]="filterForm">
              <div class="l-container">
                <div class="l-container-item js-filter-button">
                  <app-filter-btn
                          formControlName="order"
                          [orderings]="[
                      {
                        name: 'Нас.пункт',
                        value: 'name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      },
                      {
                        name: 'Район',
                        value: 'parent',
                        orderingDirection: OrderingDirection.UNDEFINED
                      },
                      {
                        name: 'Численность',
                        value: 'people_count',
                        orderingDirection: OrderingDirection.UNDEFINED
                      }
                    ]"
                  >
                  </app-filter-btn>
                </div>
                <div class="l-container-item">
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Населенный пункт:</div>
                      <select formControlName="location">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fLocations$ | async">
                          {{ item.fullName}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Район:</div>
                      <select formControlName="parent">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fParents$ | async">{{
                            item.fullName
                          }}</option>
                      </select>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled" *ngIf="featuresTypeSelector.value === featureTypes.MOBILE">
                    <div class="input">
                      <div class="o-item-title"><i class="fas fa-mobile-alt"></i> Сотовая связь:</div>
                      <div class="l-vendors-row">
                        <div class="l-vendors-row u-border-right">
                          <div
                                  formGroupName="mobile"
                                  class="c-vendor"
                                  *ngFor="let mobileProvider of mobileProviders; let i = index"
                          >
                            <label [formGroupName]="i.toString()">
                              <input [formControlName]="mobileProvider.id.toString()" type="checkbox" />
                              <div class="c-vendor-logo c-vendor-checked">
                                <img
                                        [src]="mobileProvider.icon"
                                        [alt]="mobileProvider.name"
                                        [title]="mobileProvider.name"
                                />
                              </div>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="c-radiobox l-radiobox-row">
                        <label>
                          <input
                                  formControlName="mobileType"
                                  [value]="MobileGeneration._2G"
                                  type="radio"
                          />
                          <div class="c-radiobox-text">2G</div>
                        </label>
                        <label>
                          <input
                                  formControlName="mobileType"
                                  [value]="MobileGeneration._3G"
                                  type="radio"
                          />
                          <div class="c-radiobox-text">3G</div>
                        </label>
                        <label>
                          <input
                                  formControlName="mobileType"
                                  [value]="MobileGeneration._4G"
                                  type="radio"
                          />
                          <div class="c-radiobox-text">4G</div>
                        </label>
                        <label>
                          <input
                                  formControlName="mobileType"
                                  [value]="MobileGeneration._5G"
                                  type="radio"
                          />
                          <div class="c-radiobox-text">5G</div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled" *ngIf="featuresTypeSelector.value === featureTypes.INTERNET">
                    <div class="input">
                      <div class="o-item-title"><i class="fab fa-internet-explorer"></i> Интернет:</div>
                      <div class="l-vendors-column u-border-right">
                        <div
                                formGroupName="internet"
                                class="c-vendor"
                                *ngFor="let internetProvider of internetProviders; let i = index"
                        >
                          <label [formGroupName]="i.toString()">
                            <input type="checkbox" [formControlName]="internetProvider.id.toString()" />
                            <div class="c-vendor-logo c-vendor-checked">
                              <img
                                      [src]="internetProvider.icon"
                                      [alt]="internetProvider.name"
                                      [title]="internetProvider.name"
                              />
                            </div>
                          </label>
                        </div>
                      </div>
                      <div class="c-radiobox l-radiobox-column">
                        <label
                        ><input
                                formControlName="internetType"
                                type="radio"
                                [value]="TrunkChannel.SATELLITE"
                        />
                          <div class="c-radiobox-text">Спутник</div>
                        </label>
                        <label
                        ><input
                                formControlName="internetType"
                                type="radio"
                                [value]="TrunkChannel.VOLS"
                        />
                          <div class="c-radiobox-text">ВОЛС</div>
                        </label>
                        <label
                        ><input
                                formControlName="internetType"
                                type="radio"
                                [value]="TrunkChannel.COPPER_CABLE"
                        />
                          <div class="c-radiobox-text">Медь</div>
                        </label>
                        <label
                        ><input
                                formControlName="internetType"
                                type="radio"
                                [value]="TrunkChannel.RADIO_CHANEL"
                        />
                          <div class="c-radiobox-text">Радиоканал</div>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="o-item-title">Программа:</div>
                    <select formControlName="govProgram">
                      <option [ngValue]="null">Не выбран</option>
                      <option [ngValue]="item" *ngFor="let item of fGovernmentPrograms$ | async">{{
                          item.shortName
                        }}</option>
                    </select>
                  </div>
                </div>
              </div>
              <input type="reset" class="btn filter-btn-reset" value="Сбросить фильтр"/>
            </form>
          </div>
        </group>
      </accordion>
      <div class="c-filter-info">
        <div class="c-filter-result" *ngIf="featuresTypeSelector.value">
          Результатов: <span>{{ (this.features$ | async)?.count }}</span>
        </div>
        <div class="c-filter-export">
          <input (click)="exportXLSX()" type="button" class="btn" value="Выгрузить в Excel"/>
        </div>
      </div>
    </div>
    <div class="l-table u-table-header l-table-compare" *ngIf="featuresTypeSelector.value">
      <div class="l-table-column">Информация о нас.пункте</div>
      <div class="l-table-column">сейчас {{ currentYear }}</div>
      <div class="l-table-column">план {{ currentYear + 1 }}</div>
      <div class="l-table-column">план {{ currentYear + 2 }}</div>
      <div class="l-table-column">архив {{ currentYear - 1 }}</div>
    </div>

    <!--    INTERNET  -->

    <div
            *ngIf="featuresTypeSelector.value === featureTypes.INTERNET"
    >
      <div
              class="l-table l-table-compare"
              *ngFor="
          let feature of (features$ | async)?.results
            | paginate
              : {itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: (features$ | async)?.count}
        "
      >
        <div class="l-table-column">
          <div class="c-location-name">
            <div class="c-location-name-item1">
              {{ feature.location.typeLocation }} {{ feature.location.name }}
            </div>
            <div class="c-location-name-item2">{{ feature.location.municipalityArea }}</div>
          </div>
          <div class="c-location-peoples">
            <span>{{ feature.location.peopleCount }}</span> чел.
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-vendors-column">
            <div class="c-vendor" *ngFor="let activeFeature of feature.activeInternetFeatures">
              <div class="c-vendor-logo">
                <img
                        [src]="activeFeature.operator.icon"
                        [alt]="activeFeature.operator.name"
                        [title]="activeFeature.operator.name"
                />
              </div>

              <div
                      class="c-vendor-status-img"
                      [className]="activeFeature.channel.slug"
                      [title]="activeFeature.channel.name"
              ></div>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row" *ngFor="let planYearFeature of feature.planYearInternetFeatures">
            <div class="c-vendor">
              <div class="c-vendor-logo">
                <img
                        [src]="planYearFeature.operator.icon"
                        [alt]="planYearFeature.operator.name"
                        [title]="planYearFeature.operator.name"
                />
              </div>
            </div>
            <div>
              :<span>{{ planYearFeature.channel.name }}</span> (<span>{{
                planYearFeature.governmentProgram.shortName
              }}</span
            >)
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div
                  class="l-table-row"
                  *ngFor="let planYearFeature of feature.planTwoYearInternetFeatures"
          >
            <div class="c-vendor">
              <div class="c-vendor-logo">
                <img
                        [src]="planYearFeature.operator.icon"
                        [alt]="planYearFeature.operator.name"
                        [title]="planYearFeature.operator.name"
                />
              </div>
            </div>
            <div>
              :<span>{{ planYearFeature.channel.name }}</span> (<span>{{
                planYearFeature.governmentProgram.shortName
              }}</span
            >)
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-vendors-column">
            <div class="c-vendor" *ngFor="let activeFeature of feature.archiveInternetFeatures">
              <div class="c-vendor-logo">
                <img
                        [src]="activeFeature.operator.icon"
                        [alt]="activeFeature.operator.name"
                        [title]="activeFeature.operator.name"
                />
              </div>

              <div
                      class="c-vendor-status-img"
                      [className]="activeFeature.channel.slug"
                      [title]="activeFeature.channel.name"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    INTERNET END -->
    <!--    MOBILE -->

    <div
            *ngIf="featuresTypeSelector.value === featureTypes.MOBILE && features$ | async as features"
    >
      <div
              class="l-table l-table-compare"
              *ngFor="
          let feature of features.results
            | paginate
              : {itemsPerPage: itemsPerPage, currentPage: pageNumber, totalItems: features.count}
        "
      >
        <div class="l-table-column">
          <div class="c-location-name">
            <div class="c-location-name-item1">
              {{ feature.location.typeLocation }} {{ feature.location.name }}
            </div>
            <div class="c-location-name-item2">{{ feature.location.municipalityArea }}</div>
          </div>
          <div class="c-location-peoples">
            <span>{{ feature.location.peopleCount }}</span> чел.
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-vendors-column">
            <div class="c-vendor" *ngFor="let activeFeature of feature.activeCellularFeatures">
              <div class="c-vendor-logo">
                <img
                        [src]="activeFeature.operator.icon"
                        [alt]="activeFeature.operator.name"
                        [title]="activeFeature.operator.name"
                />
              </div>

              <div class="c-vendor-status-text">{{ activeFeature.type.name }}</div>
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-table-row" *ngFor="let planYearFeature of feature.planYearCellularFeatures">
            <div class="c-vendor">
              <div class="c-vendor-logo">
                <img
                        [src]="planYearFeature.operator.icon"
                        [alt]="planYearFeature.operator.name"
                        [title]="planYearFeature.operator.name"
                />
              </div>
            </div>
            <div>
              :<span>{{ planYearFeature.type.name }}</span> (<span>{{
                planYearFeature.governmentProgram.shortName
              }}</span
            >)
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div
                  class="l-table-row"
                  *ngFor="let planYearFeature of feature.planTwoYearCellularFeatures"
          >
            <div class="c-vendor">
              <div class="c-vendor-logo">
                <img
                        [src]="planYearFeature.operator.icon"
                        [alt]="planYearFeature.operator.name"
                        [title]="planYearFeature.operator.name"
                />
              </div>
            </div>
            <div>
              :<span>{{ planYearFeature.type.name }}</span> (<span>{{
                planYearFeature.governmentProgram.shortName
              }}</span
            >)
            </div>
          </div>
        </div>
        <div class="l-table-column">
          <div class="l-vendors-column">
            <div class="c-vendor" *ngFor="let archiveFeature of feature.archiveCellularFeatures">
              <div class="c-vendor-logo">
                <img
                        [src]="archiveFeature.operator.icon"
                        [alt]="archiveFeature.operator.name"
                        [title]="archiveFeature.operator.name"
                />
              </div>

              <div class="c-vendor-status-text">{{ archiveFeature.type.name }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--    MOBILE END -->
    <div style="display: flex; justify-content: flex-end" *ngIf="features$">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
                class="pagination-count-button"
                [class.active]="itemsPerPage === 10"
                type="button"
                (click)="itemsPerPage = 10"
                value="10"
        />
        <input
                class="pagination-count-button"
                [class.active]="itemsPerPage === 20"
                type="button"
                (click)="itemsPerPage = 20"
                value="20"
        />
        <input
                class="pagination-count-button"
                [class.active]="itemsPerPage === 100"
                type="button"
                (click)="itemsPerPage = 100"
                value="100"
        />
      </div>
    </div>
  </div>

  <pagination-controls
          *ngIf="this.features$"
          class="pagination-controls"
          (pageChange)="onPageChange($event)"
          previousLabel="Предыдущая страница"
          nextLabel="Следующая страница"
  >
  </pagination-controls>
</main>

<ngx-spinner
        bdOpacity="0.9"
        size="medium"
        color="#35a584"
        type="ball-atom"
        class="spinner"
        [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>
