<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <h1>Сводная таблица - Контракты услуг связи</h1>
    <form [formGroup]="form">
      <div class="filter">
        <div class="filter-header" [class.filter-header-active]="isVisibleFilter">
          <div class="filter-title" (click)="showFilterBody()"><i class="fas fa-filter"></i>Фильтр</div>
          <div class="filter-export">
            <button
              (click)="serviceLocation.exportExcel()"
              type="button"
              class="filter-export-button"
            >Выгрузить в Excel
            </button>
          </div>
        </div>
        <div class="filter-body" [class.filter-body-active]="isVisibleFilter">
          <div class="filter-container">
            <nz-form-item>
              <nz-form-label>Населенный пункт</nz-form-label>
              <nz-form-control>
                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder=""
                  formControlName="location"
                >
                  <nz-option
                    *ngFor="let item of fLocations$ | async"
                    [nzLabel]="item.fullName + '(' + item.parent.fullName + ')'"
                    [nzValue]="item"
                  >
                  </nz-option>
                </nz-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="organization" type="text"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип подключения</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Район</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fParents$ | async"
                  [form]="form"
                  [iFormControl]="'parent'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип организации</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Оператор связи</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="contractor" type="text"/>
              </nz-form-control>
            </nz-form-item>
            <div></div>
            <nz-form-item>
              <nz-form-label>Тип СЗО</nz-form-label>
              <nz-form-control>
                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>
              </nz-form-control>
            </nz-form-item>
            <div class="filter-container-group">
              <nz-form-item>
                <nz-form-label>Номер контракта</nz-form-label>
                <nz-form-control>
                  <input nz-input formControlName="contract" type="text"/>
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label>Период</nz-form-label>
                <nz-form-control>
                  <nz-range-picker></nz-range-picker>
                </nz-form-control>
              </nz-form-item>
            </div>
          </div>
        </div>
        <div class="filter-footer" [class.filter-footer-active]="isVisibleFilter">
          <div class="filter-sort">
            <app-filter-btn
              formControlName="order"
              [orderings]="[
                      {name: 'Нас.пункт', value: 'name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Район', value: 'parent__name', orderingDirection: OrderingDirection.UNDEFINED },
                      {name: 'Численность', value: 'people_count', orderingDirection: OrderingDirection.UNDEFINED }
                  ]"
            >
            </app-filter-btn>
          </div>
          <div class="filter-result">
            Результатов поиска: <span>{{ (locations$ | async)?.count }}</span>
          </div>
          <div class="filter-search">
          </div>
        </div>
      </div>
    </form>

    <!--<div class="c-filter">
      <accordion class="c-accordion">
        <group>
          <accordion-header class="c-accordion-title">
            <div class="c-filter-icon">Фильтры</div>
          </accordion-header>
          <div>
            <form [formGroup]="form">
              <div class="l-container">
                <div class="l-container-item js-filter-button">
                  <app-filter-btn
                    formControlName="order"
                    [orderings]="[
                      {
                        name: 'Нас.пункт',
                        value: 'name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      },
                      {
                        name: 'Район',
                        value: 'parent__name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      }
                    ]"
                  >
                  </app-filter-btn>
                </div>
                <div class="l-container-item">
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Населенный пункт:</div>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder=""
                        formControlName="location"
                      >
                        <nz-option
                          *ngFor="let item of fLocations$ | async"
                          [nzLabel]="item.fullName + '(' + item.parent.fullName + ')'"
                          [nzValue]="item"
                        >
                        </nz-option>
                      </nz-select>
                      &lt;!&ndash;<select formControlName="location">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fLocations$ | async">{{
                          item.fullName
                        }} ({{item.parent.fullName}})</option>
                      </select>&ndash;&gt;
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Наим. организации:</div>
                      <input nz-input formControlName="organization" type="text"/>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Номер контракта:</div>
                      <input nz-input formControlName="contract" type="text"/>
                    </div>
                  </div>
                </div>
                <div class="l-container-item">
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Район:</div>
                      <app-simple-select
                        [items]="fParents$ | async"
                        [form]="form"
                        [iFormControl]="'parent'"
                      ></app-simple-select>
                      &lt;!&ndash;<select formControlName="parent">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fParents$ | async">{{
                          item.fullName
                        }}</option>
                      </select>&ndash;&gt;
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Оператор связи:</div>
                      <input nz-input formControlName="contractor" type="text"/>
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Тип подключения:</div>
                      <app-simple-select
                        [items]="fInternetAccessTypes$ | async"
                        [form]="form"
                        [iFormControl]="'connectionType'"
                      ></app-simple-select>
                      &lt;!&ndash;<select formControlName="connectionType">
                        <option [ngValue]="null">Не выбран</option>
                        <option
                          [ngValue]="item"
                          *ngFor="let item of fInternetAccessTypes$ | async"
                          >{{ item.name }}</option
                        >
                      </select>&ndash;&gt;
                    </div>
                  </div>
                </div>
              </div>
              <input (click)="form.reset()" class="btn filter-btn-reset" value="Сбросить фильтр"/>
            </form>
          </div>
        </group>
      </accordion>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>{{ (locations$ | async)?.count }}</span>
        </div>
        <div class="c-filter-export">
          <input
            (click)="serviceLocation.exportExcel()"
            type="button"
            class="btn"
            value="Выгрузить в Excel"
          />
        </div>
      </div>
    </div>-->
    <div class="c-contract">
      <div
        class="c-contract-item"
        *ngFor="
          let location of (locations$ | async)?.results
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: pageNumber,
                  totalItems: (locations$ | async)?.count
                }
        "
      >
        <accordion>
          <group>
            <accordion-header>
              <div class="c-contract-header" style="width: 100%">
                <div class="c-location-name">
                  <div class="c-location-name-item1">{{ location.fullName }}</div>
                  <div class="c-location-name-item2">{{ location.municipalityArea }}</div>
                </div>
                <div class="location-count">
                  Количество: <span>{{ location.organizations.length }}</span>
                </div>
              </div>
            </accordion-header>
            <accordion
              class="c-accordion"
              *ngFor="let organization of location.organizations; let i = index"
            >
              <group>
                <accordion-header class="c-accordion-title">
                  <div class="c-accordion-number">{{ i + 1 }}</div>
                  <div class="c-accordion-name">
                    <div>{{ organization.fullName }}</div>
                    <div>{{ organization.address }}</div>
                    <div class="c-accordion-info">
                      <div class="c-accordion-info-item">
                        <span class="u-gray">учреждение:</span>
                        {{ organization.type ? organization.type.name : ' ' }}
                      </div>
                      <div class="c-accordion-info-item">
                        <span class="u-gray">сзо:</span>
                        {{ organization.smoType ? organization.smoType.name : ' ' }}
                      </div>
                    </div>
                  </div>
                </accordion-header>
                <div class="l-contract" *ngFor="let contract of organization.contracts">
                  <div class="c-contract-info">
                    <i class="far fa-file-alt"></i>№ {{ contract.registrationNumber }}
                  </div>
                  <div class="c-contract-info">
                    <i class="far fa-money-bill-alt"></i>{{ contract.amount }}
                  </div>
                  <div
                    class="l-contract-item u-span2"
                    *ngFor="let point of contract.reaccesspoints"
                  >
                    <div class="c-contract-info u-span5">
                      <i class="far fa-map-marker-alt"></i
                      ><span>{{ point.address ? point.address : '----' }}</span>
                    </div>
                    <div class="c-contract-info">
                      <i class="fas fa-bullhorn"></i
                      ><span>{{ point.contractor ? point.contractor : '----' }}</span>
                    </div>
                    <div class="c-contract-info">
                      <i class="fab fa-internet-explorer"></i><span>Интернет</span>
                    </div>
                    <div class="c-contract-info">
                      <i class="fas fa-plug"></i
                      ><span>{{ point.connectionType ? point.connectionType.name : '----' }}</span>
                    </div>
                    <div class="c-contract-info">
                      <i class="fas fa-tachometer-alt"></i
                      ><span>{{ point.definedSpeed ? point.definedSpeed : '----' }}</span>
                    </div>
                    <div class="c-contract-info">
                      <i class="far fa-map"></i
                      ><span>{{ point.ipConfig ? point.ipConfig : '----' }}</span>
                    </div>
                  </div>
                </div>
              </group>
            </accordion>
          </group>
        </accordion>
      </div>
    </div>
    <div style="display: flex; justify-content: flex-end">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 10"
          type="button"
          (click)="itemsPerPage = 10; locations$ = loadPagedLocationWithContracts()"
          value="10"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 20"
          type="button"
          (click)="itemsPerPage = 20; locations$ = loadPagedLocationWithContracts()"
          value="20"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 100"
          type="button"
          (click)="itemsPerPage = 100; locations$ = loadPagedLocationWithContracts()"
          value="100"
        />
      </div>
    </div>
  </div>

  <pagination-controls
    class="pagination-controls"
    nextLabel="Следующая страница"
    previousLabel="Предыдущая страница"
    (pageChange)="onPageChange($event)"
  >
  </pagination-controls>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>
