.contract-container {
  display: grid;
  grid-template-columns: 78px 150px 133px 198px 100px;
  grid-gap: 3.7rem;
  border-top: 1px solid #ccc;
  padding-top: 10px;
}

.c-contract-item {
  margin-top: 1rem;
  margin-bottom: 2rem;
  padding: 15px 10px;
  box-shadow: 0 2px 4px rgba(0, 7, 3, 0.27);
  cursor: pointer;
}

.c-contract-header {
  display: flex;
  justify-content: space-between;
}

//.c-contract-info {
//  margin-bottom: 16px;
//}

.l-contract {
  //display: grid;
  //grid-template-columns: 220px 150px 250px 200px;
  //grid-gap: 2.7rem;
  display: grid;
  grid-template-columns: 230px 1fr;
  grid-gap: 1rem;
  padding: 1rem;
  font-size: 13px;
  background: rgba(239, 239, 239, 0.7);
  margin-left: 0.7rem;
}

.l-contract + .l-contract {
  margin-top: 1rem;
}

.l-contract-item {
  display: grid;
  grid-template-columns: 212px repeat(4, 140px);
  grid-gap: 1rem;
  padding-left: 1.2rem;
}

.l-contract-item + .l-contract-item {
  padding-top: 1rem;
  border-top: 1px solid #bcbcbc;
}

.l-contract .fas,
.l-contract .far,
.l-contract .fab {
  margin-right: 5px;
  width: 16px;
  text-align: center;
}

.c-contract .c-accordion {
  box-shadow: 0 2px 4px rgba(0, 7, 3, 0.27);
}

.c-contract-item .c-accordion-body {
  padding-bottom: 0;
}

.l-contract-row {
  display: flex;
}

.u-margin-right {
  margin-right: 1rem;
}

.u-span2 {
  grid-column: span 2;
}

.u-span5 {
  grid-column: span 5;
}
