<!--suppress HtmlFormInputWithoutLabel -->
<div class="modal">
  <div class="modal-body">
    <div class="title">
      <h2>Интернет</h2>
      <input class="close" type="button">
    </div>
    <div class="form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-body">
          <div class="form-body-item" [formGroupName]="provider.key" *ngFor="let provider of form.controls | keyvalue">
            <div class="checkbox">
              <label>
                <input type="checkbox" formControlName="isActive">
                <div class="checkbox-text">{{provider.key}}</div>
              </label>
            </div>
            <div class="radiobox">
              <label>
                <input type="radio" formControlName="type" value="Спутник">
                <div class="radiobox-text">Спутник</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="ВОЛС">
                <div class="radiobox-text">ВОЛС</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="Медь">
                <div class="radiobox-text">Медь</div>
              </label>
              <label>
                <input type="radio" formControlName="type" value="Радиоканал">
                <div class="radiobox-text">Радиоканал</div>
              </label>
            </div>
            <div class="select">
              <select formControlName="quality">
                <option value="Хорошее качество">Хорошее качество</option>
                <option value="Удовлетворительно">Удовлетворительно</option>
                <option value="Отсутствует">Отсутствует</option>
              </select>
            </div>
          </div>
        </div>
        <div class="button">
          <input type="button" value="Отмена" class="btn cancel"><input type="submit" value="Сохранить изменения"
                                                                        class="btn">
        </div>
      </form>
    </div>
  </div>
</div>
<div class="overlay"></div>
