:host {
  display: block;
  width: 400px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 3rem;
  padding: 1.5rem;
  margin: 1rem 0 4rem;
  background: #efefef;

  @media (max-width: 1024px) {
    grid-template-columns: 1fr 1fr;
  }
}

input[type='checkbox'] {
  display: inline-block;
}

input.ng-invalid {
  border-bottom: 1px solid red;
}

/*input:disabled {
  background-color: #ffffff;
}*/

input:disabled.save {
  opacity: 0.5;
  cursor: default;
}

.organ-item {
  margin-top: 1rem;
}

.add-point {
  margin-top: 3rem;
  margin-bottom: 1rem;
  text-align: right;
}

.points {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-column-gap: 2rem;
  flex-grow: 1;
}

.point-type {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
}

.point-img {
  width: 30px;
  margin-right: 0.5rem;
}

table {
  width: 100%;
  background: #ffffff;
}

table td {
  padding: 0.5rem 1rem;
  border: 1px solid #efefef;
}

table tr td:first-child {
  white-space: nowrap;
}

table .ant-select {
  width: 100%;
}

.wrapper-points {
  display: flex;
  flex-direction: column;
}

.btn-group {
  display: flex;
  justify-content: space-between;
}
