<div class="filter__header-container">
  <div class="filter__header" (click)="filtersIsOpened = !filtersIsOpened">
    <div class="filter__title">
      <img src="/assets/filter-icon.svg" alt="">
      <span>Фильтр</span>
    </div>
    <div class="filter__header-icons">
      <img class="search-icon" src="/assets/search-icon.svg" alt="">
      <img [class.arrow-reversed]="filtersIsOpened" class="arrow-icon" src="/assets/arrow-bottom.svg" alt="">
    </div>
  </div>
  <button class="export-button" (click)="exportExcelClick()" mat-raised-button>Выгрузить в Excel</button>
</div>
<form *ngIf="filterForm" [formGroup]="filterForm">
  <div class="filters" *ngIf="filtersIsOpened">
    <div class="d-flex">
      <div class="filters__column filters__column-1">
        <mat-select formControlName="location" placeholder="Населенный пункт" class="mat-select-filter" disableOptionCentering="true" [multiple]="true">
          <mat-option>
            <ngx-mat-select-search noEntriesFoundLabel="Ничего не найдено" placeholderLabel="Поиск..." #locationFilter></ngx-mat-select-search>
          </mat-option>
            <mat-option *ngFor="let item of fLocations$ | async | filter:'name':locationFilter.value" [value]="item?.name">
              {{ item?.type }} {{ item?.name }}
            </mat-option>
        </mat-select>
        <div class="filter">
          <div class="filters__column-label">
            <div class="filters__column-label-text">Почта:</div>
          </div>
          <mat-checkbox
            [formControl]="control.get('isSelected')"
            *ngFor="let control of postTypeControls().controls"
            class="with-bottom-margin-5px"
          >
            {{control.get('label').value}}
          </mat-checkbox>
        </div>
        <div class="filter">
          <app-area-select formControlName="parent"></app-area-select>
        </div>
        <div class="filter">
          <div class="filters__column-label">
            <div class="filters__column-label-text">ТВ:</div>
          </div>
          <mat-checkbox [formControl]="control.get('isSelected')"
                        *ngFor="let control of tvTypeControls().controls"
                        class="with-bottom-margin-5px">
            {{control.get('label').value}}
          </mat-checkbox>
        </div>
        <div class="filter">
          <button mat-button style="height: 36px" (click)="resetFilters()">Сбросить фильтры</button>
        </div>
      </div>
      <div class="i-dont-know-what-is-it-but-ok">
        <three-state-button formControlName="hasATS">
          <img matTooltip="АТС" src="/assets/table-phone.svg" alt="">
        </three-state-button>
        <three-state-button formControlName="hasPayphone">
          <img matTooltip="Таксофоны" src="/assets/table-phone-2.svg" alt="">
        </three-state-button>
        <three-state-button formControlName="hasInfomat">
          <img matTooltip="Инфомат" src="/assets/table-phone-3.svg" alt="">
        </three-state-button>
        <three-state-button formControlName="hasRadio">
          <img matTooltip="Радио" src="/assets/table-micro.svg" alt="">
        </three-state-button>
      </div>
      <div class="filters__column filters__column-2">
        <div class="filter">
          <div class="filters__column-label with-icon">
            <div>
              <three-state-button formControlName="hasCellular" matTooltip="Сотовая связь">
                <img src="/assets/table-phone-4.svg" alt="">
              </three-state-button>
            </div>
            <div class="filters__column-label-text">Уровень сигнала:</div>
          </div>
          <div class="filters__filter-block" formArrayName="signalLevel">
            <mat-checkbox [formControl]="control.get('isSelected')"
                          *ngFor="let control of signalTypeControls().controls">
              {{control.get('label').value}}
            </mat-checkbox>
          </div>
        </div>
        <div class="filter">
          <div class="filters__column-label with-icon">
            <three-state-button formControlName="hasInternet">
              <img src="/assets/connection-type.svg" alt="">
            </three-state-button>
            <div class="filters__column-label-text">Тип подключения:</div>
          </div>
          <div class="filters__filter-block">
            <mat-checkbox [formControl]="control.get('isSelected')"
                          *ngFor="let control of connectionTypeControls().controls">
              {{control.get('label').value}}
            </mat-checkbox>
          </div>
        </div>
        <div class="filter">
          <mat-form-field appearance="fill" class="location-filter">
            <mat-label>Условие</mat-label>
            <mat-select formControlName="logicalCondition">
              <mat-option [value]="'OR'">ИЛИ</mat-option>
              <mat-option [value]="'AND'">И</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter">
          <div class="filter__ap-type-container">
            <div class="imageable-checkbox connection-points" matTooltip="ЕСПД">
              <input type="checkbox" formControlName="hasESPD">
              <img src="/assets/table-computer.svg" alt="">
            </div>
            <div class="imageable-checkbox connection-points" matTooltip="СЗО">
              <input type="checkbox" formControlName="hasSMO">
              <img src="/assets/table-house.svg" alt="">
            </div>
            <div class="imageable-checkbox connection-points" matTooltip="РСЗО">
              <input type="checkbox" formControlName="hasZSPD">
              <img src="/assets/table-sputnik.svg" alt="">
            </div>
            <div class="imageable-checkbox connection-points" matTooltip="ЗСПД">
              <input type="checkbox" formControlName="hasRSZO">
              <img src="/assets/table-radio.svg" alt="">
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="filters__column-label">
            <div class="filters__column-label-text">Оператор (сотовый):</div>
          </div>
          <div class="filters__filter-block">
            <div class="imageable-checkbox" *ngFor="let operator of cellularOperatorsControls().controls" matTooltip="{{ operator.get('name').value }}">
              <input type="checkbox" [formControl]="operator.get('isSelected')">
              <img [src]="'/media/' + operator.get('label').value" alt="">
            </div>
          </div>
        </div>
        <div class="filter">
          <div class="filters__column-label">
            <div class="filters__column-label-text">Оператор (интернет):</div>
          </div>
          <div class="filters__filter-block">
            <div class="imageable-checkbox" *ngFor="let control of internetOperatorsControls().controls" matTooltip="{{ control.get('name').value }}">
              <input type="checkbox" [formControl]="control.get('isSelected')">
              <img [src]="'/media/' + control.get('label').value" alt="">
            </div>
          </div>
        </div>
        <div class="filter">
          <mat-form-field appearance="fill" class="location-filter">
            <mat-label>Программа</mat-label>
            <mat-select formControlName="govProgram">
              <mat-option [value]="null">Программа</mat-option>
              <mat-option *ngFor="let program of programs" [value]="program.id">{{program.acronym}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter">
          <mat-form-field appearance="fill" class="location-filter">
            <mat-label>Год</mat-label>
            <mat-select formControlName="govYear">
              <mat-option [value]="null">Год</mat-option>
              <mat-option *ngFor="let year of govYears" [value]="year">{{year}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="filter">
          <mat-form-field appearance="fill" class="location-filter">
            <mat-label>Численность(от)</mat-label>
            <input matInput type="number" formControlName="populationLeftBorder">
          </mat-form-field>
        </div>
        <div class="filter">
          <mat-form-field appearance="fill" class="location-filter">
            <mat-label>Численность(до)</mat-label>
            <input matInput type="number" formControlName="populationRightBorder">
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
</form>
