<ng-container *ngIf="operators && mobileTypes && tcs">
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Мобильная связь
      </div>
      <div class="operator-block" *ngFor="let operator of operators.mobile">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.cellular, operator.id)"
            [checked]="!!tcs.cellular.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <div>
            <mat-radio-group
              [disabled]="!tcs.cellular.tcs[operator.id]"
              [name]="'channel-opt-cellular' + operator.id"
              [ngModel]="tcs.cellular.tcs[operator.id]?.typeMobile"
              (ngModelChange)="tcs.cellular.tcs[operator.id].typeMobile = $event"
              class="tc-options"
            >
              <mat-radio-button *ngFor="let mt of mobileTypes" [value]="mt.id">{{mt.name}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-label>Качество связи</mat-label>
            <mat-select
              [disabled]="!tcs.cellular.tcs[operator.id]"
              [ngModel]="tcs.cellular.tcs[operator.id]?.quality"
              (ngModelChange)="tcs.cellular.tcs[operator.id].quality = $event"
              [name]="'quality-opt-cellular' + operator.id"
            >
              <mat-option value="GOOD">Хорошее качество</mat-option>
              <mat-option value="NORMAL">Удовлетворительное качество</mat-option>
              <mat-option value="ABSENT">Отсутствует</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Интернет
      </div>
      <div class="operator-block" *ngFor="let operator of operators.internet">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.internet, operator.id)"
            [checked]="!!tcs.internet.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <div>
            <mat-radio-group
              [disabled]="!tcs.internet.tcs[operator.id]"
              [ngModel]="tcs.internet.tcs[operator.id]?.trunkChannel"
              (ngModelChange)="tcs.internet.tcs[operator.id].trunkChannel = $event"
              [name]="'channel-opt-internet' + operator.id"
              class="tc-options">
              <mat-radio-button *ngFor="let it of internetTypes" [value]="it.id">{{it.name}}</mat-radio-button>
            </mat-radio-group>
          </div>
          <mat-form-field>
            <mat-label>Качество связи</mat-label>
            <mat-select
              [disabled]="!tcs.internet.tcs[operator.id]"
              [ngModel]="tcs.internet.tcs[operator.id]?.quality"
              (ngModelChange)="tcs.internet.tcs[operator.id].quality = $event"
              [name]="'quality-opt-internet' + operator.id"
            >
              <mat-option value="GOOD">Хорошее качество</mat-option>
              <mat-option value="NORMAL">Удовлетворительное качество</mat-option>
              <mat-option value="ABSENT">Отсутствует</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Телевидение
      </div>
      <div class="operator-block" *ngFor="let operator of operators.television">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.tv, operator.id)"
            [checked]="!!tcs.tv.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <div>
            <signal-control
              [disabled]="!tcs.tv.tcs[operator.id]"
              [ngModel]="tcs.tv.tcs[operator.id]?.tvOrRadioTypes"
              (ngModelChange)="tcs.tv.tcs[operator.id].tvOrRadioTypes = $event"
              [name]="'channel-opt-tv' + operator.id"
              class="tc-options"
            >
            </signal-control>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Стационарный телефон
      </div>
      <div class="operator-block" *ngFor="let operator of operators.ats">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.telephone, operator.id)"
            [checked]="!!tcs.telephone.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Таксофон
      </div>
      <div class="operator-block" *ngFor="let operator of operators.payphone">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.payphone, operator.id)"
            [checked]="!!tcs.payphone.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <mat-form-field>
            <mat-label>Количество</mat-label>
            <input matInput placeholder=""
                   [ngModel]="tcs.payphone.tcs[operator.id]?.payphones"
                   (ngModelChange)="tcs.payphone.tcs[operator.id].payphones = $event"
                   [disabled]="!tcs.payphone.tcs[operator.id]" name="payphones-count">
          </mat-form-field>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div>
        <div class="tc-label">Почта</div>
      </div>
      <div class="operator-block" *ngFor="let operator of operators.post">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.post, operator.id)"
            [checked]="!!tcs.post.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <mat-radio-group
            [disabled]="!tcs.post.tcs[operator.id]"
            [ngModel]="tcs.post.tcs[operator.id]?.typePost"
            (ngModelChange)="tcs.post.tcs[operator.id].typePost = $event"
            [name]="'channel-opt-post' + operator.id"
            class="tc-options">
            <mat-radio-button *ngFor="let it of postTypes" [value]="it.id">{{it.name}}</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Радио
      </div>
      <div class="operator-block" *ngFor="let operator of operators.radio">
        <div class="operator-block-name">
          <mat-checkbox
            (change)="onAddOrRemoveOperator($event, tcs.radio, operator.id)"
            [checked]="!!tcs.radio.tcs[operator.id]"
          >
            {{operator.name}}
          </mat-checkbox>
        </div>
        <div class="operator-block-wrap">
          <div>
            <signal-control
              [disabled]="!tcs.radio.tcs[operator.id]"
              [ngModel]="tcs.radio.tcs[operator.id]?.tvOrRadioTypes"
              (ngModelChange)="tcs.radio.tcs[operator.id].tvOrRadioTypes = $event"
              [name]="'channel-opt-radio' + operator.id"
              class="tc-options"
            >
            </signal-control>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Инфомат
      </div>
      <div class="operator-block" *ngFor="let operator of operators.infomat">
        <mat-checkbox
          (change)="onAddOrRemoveOperator($event, tcs.infomat, operator.id)"
          [checked]="!!tcs.infomat.tcs[operator.id]"
        >
        </mat-checkbox>
        <div class="operator-block-wrap">
        </div>
      </div>
    </form>
  </div>
  <div class="tc-item">
    <form name="tc-form">
      <div class="tc-label">
        Комментарий к внесенным изменениям (к заявке)
      </div>
      <div class="operator-block">
        <div class="tc-comment">
          <textarea matInput placeholder="" rows="5"></textarea>
        </div>
      </div>
    </form>
  </div>
  <div class="tc-btn-group">
    <button mat-flat-button color="primary" class="custom-btn" (click)="save()">Сохранить</button>
  </div>
</ng-container>
<div class="spinner-container" *ngIf="!(operators && mobileTypes && tcs)">
  <mat-spinner></mat-spinner>
</div>
