<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownTag -->
<main class="main" *ngIf="locationFeaturesForm">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item"><a class="breadcrumbs-link" href="#">Главная</a></li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link" routerLink="/pivot-table"
            >Сводная таблица по населенным пунктам</a
          >
        </li>
        <li class="breadcrumbs-item">
          <span class="breadcrumbs-link">
            {{ locationFeatures.location.typeLocation }} {{ locationFeatures.location.name }} ,
            {{ locationFeatures.location.municipalityArea }}
          </span>
        </li>
      </ul>
    </div>
    <div class="l-location-info">
      <div class="c-location-name">
        <div class="c-location-name-item1">
          {{ locationFeatures.location.typeLocation }} {{ locationFeatures.location.name }}
        </div>
        <div class="c-location-name-item2">{{ locationFeatures.location.municipalityArea }}</div>
      </div>
      <div class="c-location-peoples">
        <span>{{ locationFeatures.location.peopleCount }}</span> чел.
      </div>
    </div>
    <div class="c-tab">
      <div class="c-tab-header">
        <div class="c-tab-title active">Текущая информация</div>
        <!--        <div class="c-tab-title">Архив</div>-->
        <!--        <div class="c-tab-title">План</div>-->
      </div>
      <div class="c-tab-body">
        <div class="c-tab-item active">
          <div class="c-tab-info">
            <div class="last-modified">
              <!--              Последние изменения: <span class="last-modified-date">23.06.2018</span>-->
            </div>
            <div class="edit-status">Режим: Редактирование</div>
            <input type="button" class="btn btn-cancel-form" value="Отмена редактирования" />
            <input
              type="button"
              class="btn btn-edit-form"
              value="Редактировать (Уточняющая заявка)"
              (click)="enableForm()"
            />
            <input class="btn" value="Сохранить заявку" (click)="saveRequest() "/>
          </div>
          <div class="edit-form">
            <form
              [formGroup]="locationFeaturesForm"
              *ngIf="locationFeaturesForm"
            >
              <div [ngClass]="{'disabled-form': locationFeaturesForm.disabled}">
                <div class="edit-form-block">
                  <div class="o-item-title">Сотовая связь</div>
                  <div
                    *ngFor="let cellularOperator of existingOperators.cellular; let i = index"
                    class="edit-form-item"
                    formArrayName="_cellular"
                  >
                    <ng-container [formGroupName]="i.toString()">
                      <div class="c-checkbox">
                        <app-simple-checkbox
                          [label]="cellularOperator.name"
                          formControlName="_operator"
                          [value]="cellularOperator"
                        >
                        </app-simple-checkbox>
                      </div>
                      <div class="edit-form-wrap">
                        <div class="c-radiobox l-radiobox-row u-border-left u-border-right">
                          <label
                            ><input
                              type="radio"
                              [value]="MobileGeneration._2G"
                              formControlName="_type"
                            />
                            <div class="c-radiobox-text">2G</div>
                          </label>
                          <label
                            ><input
                              type="radio"
                              [value]="MobileGeneration._3G"
                              formControlName="_type"
                            />
                            <div class="c-radiobox-text">3G</div>
                          </label>
                          <label
                            ><input
                              type="radio"
                              [value]="MobileGeneration._4G"
                              formControlName="_type"
                            />
                            <div class="c-radiobox-text">4G</div>
                          </label>
                          <label
                            ><input
                              type="radio"
                              [value]="MobileGeneration._5G"
                              formControlName="_type"
                            />
                            <div class="c-radiobox-text">5G</div>
                          </label>
                        </div>
                        <div class="select">
                          <select formControlName="_quality">
                            <option [ngValue]="Quality.GOOD">Хорошее качество</option>
                            <option [ngValue]="Quality.NORMAL">Удовлетворительное качество</option>
                            <option [ngValue]="Quality.ABSENT">Отсутствует</option>
                          </select>
                        </div>
                        <div class="edit-form-btn">
                          <button type="button" class="btn-edit-item">
                            <i class="fas fa-ellipsis-v"></i>
                          </button>
                        </div>
                        <div class="edit-form-info">
                          <div class="">
                            Программа:
                            <app-static-text-control
                              formControlName="_governmentProgram"
                            ></app-static-text-control>
                          </div>
                          <div class="">
                            Период:
                            <app-static-text-control
                              formControlName="_completed"
                            ></app-static-text-control>
                          </div>
                        </div>
                      </div>
                    </ng-container>
                  </div>
                </div>
                <div class="edit-form-block" formGroupName="_internet">
                  <div class="o-item-title">Интернет</div>
                  <div
                    class="edit-form-item"
                    [formGroupName]="i.toString()"
                    *ngFor="let internetOperator of existingOperators.internet; let i = index"
                  >
                    <div class="c-checkbox">
                      <app-simple-checkbox
                        formControlName="_operator"
                        [value]="internetOperator"
                        [label]="internetOperator.name"
                      ></app-simple-checkbox>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="c-radiobox l-radiobox-row u-border-left u-border-right">
                        <label
                          ><input
                            formControlName="_channel"
                            type="radio"
                            [value]="TrunkChannel.SATELLITE"
                          />
                          <div class="c-radiobox-text">Спутник</div>
                        </label>
                        <label
                          ><input
                            formControlName="_channel"
                            type="radio"
                            [value]="TrunkChannel.VOLS"
                          />
                          <div class="c-radiobox-text">ВОЛС</div>
                        </label>
                        <label
                          ><input
                            formControlName="_channel"
                            type="radio"
                            [value]="TrunkChannel.COPPER_CABLE"
                          />
                          <div class="c-radiobox-text">Медь</div>
                        </label>
                        <label
                          ><input
                            formControlName="_channel"
                            type="radio"
                            [value]="TrunkChannel.RADIO_CHANEL"
                          />
                          <div class="c-radiobox-text">Радиоканал</div>
                        </label>
                      </div>
                      <div class="select">
                        <select formControlName="_quality">
                          <option [ngValue]="Quality.GOOD">Хорошее качество</option>
                          <option [ngValue]="Quality.NORMAL">Удовлетворительное качество</option>
                          <option [ngValue]="Quality.ABSENT">Отсутствует</option>
                        </select>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                      <div class="edit-form-info">
                        <div class="">
                          Программа:
                          <app-static-text-control
                            formControlName="_governmentProgram"
                          ></app-static-text-control>
                        </div>
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block" formGroupName="_television">
                  <div class="o-item-title">Телевидение (ТВ)</div>
                  <div
                    class="edit-form-item"
                    [formGroupName]="i.toString()"
                    *ngFor="let televisionOperator of existingOperators.television; let i = index"
                  >
                    <div class="c-checkbox">
                      <app-simple-checkbox
                        [value]="televisionOperator"
                        [label]="televisionOperator.name"
                        formControlName="_operator"
                      ></app-simple-checkbox>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="c-radiobox l-radiobox-row u-border-left u-border-right">
                        <label
                          ><input type="radio" name="tv-beeline" />
                          <div class="c-radiobox-text">АТВ</div>
                        </label>
                        <label
                          ><input type="radio" name="tv-beeline" />
                          <div class="c-radiobox-text">ЦТВ</div>
                        </label>
                      </div>
                      <div class="edit-form-info">
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block" formGroupName="_ats">
                  <div class="o-item-title">Стационарный телефон</div>
                  <div
                    class="edit-form-item"
                    [formGroupName]="i.toString()"
                    *ngFor="let telOperator of existingOperators.ats; let i = index"
                  >
                    <div class="c-checkbox">
                      <app-simple-checkbox
                        formControlName="_operator"
                        [value]="telOperator"
                        [label]="telOperator.name"
                      ></app-simple-checkbox>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="edit-form-info border-left">
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block" formGroupName="_ats">
                  <div class="o-item-title">Таксофон</div>
                  <div
                    class="edit-form-item"
                    [formGroupName]="i.toString()"
                    *ngFor="let payphoneOperator of existingOperators.ats; let i = index"
                  >
                    <div class="c-checkbox">
                      <app-simple-checkbox
                        formControlName="_operator"
                        [label]="payphoneOperator.name"
                        [value]="payphoneOperator"
                      ></app-simple-checkbox>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="input u-border-left u-border-right">
                        <label>Количество:</label
                        ><input formControlName="_quantityPayphone" type="number" />
                      </div>
                      <div class="edit-form-info">
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block" formGroupName="_radio">
                  <div class="o-item-title">Радио</div>
                  <div
                    class="edit-form-item"
                    [formGroupName]="i.toString()"
                    *ngFor="let radioOperator of existingOperators.radio; let i = index"
                  >
                    <div class="c-checkbox">
                      <app-simple-checkbox
                        formControlName="_operator"
                        [label]="radioOperator.name"
                        [value]="radioOperator"
                      ></app-simple-checkbox>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="c-radiobox l-radiobox-row u-border-left u-border-right">
                        <label
                          ><input formControlName="_type" type="radio" [value]="Signal.ATV.id" />
                          <div class="c-radiobox-text">АТВ</div>
                        </label>
                        <label
                          ><input formControlName="_type" type="radio" [value]="Signal.CTV.id" />
                          <div class="c-radiobox-text">ЦТВ</div>
                        </label>
                      </div>
                      <div class="edit-form-info">
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="edit-form-block"
                  *ngIf="existingOperators.post.length > 0"
                  formGroupName="_post"
                >
                  <div class="o-item-title">Почтовая связь</div>
                  <div
                    class="edit-form-item"
                    *ngFor="let postOperator of existingOperators.post; let i = index"
                    [formGroupName]="i.toString()"
                  >
                    <div class="c-checkbox">
                      <label>
                        <input formControlName="_operator" type="checkbox" />
                        <div class="c-checkbox-text">{{ postOperator.name }}</div>
                      </label>
                    </div>
                    <div class="edit-form-wrap">
                      <div class="c-radiobox l-radiobox-row u-border-left u-border-right">
                        <label
                          ><input type="radio" formControlName="_type" value="ups" />
                          <div class="c-radiobox-text">УПС</div>
                        </label>
                        <label
                          ><input type="radio" formControlName="_type" value="post" />
                          <div class="c-radiobox-text">Почтовая связь</div>
                        </label>
                      </div>
                      <div class="edit-form-info">
                        <div class="">
                          Период:
                          <app-static-text-control
                            formControlName="_completed"
                          ></app-static-text-control>
                        </div>
                      </div>
                      <div class="edit-form-btn">
                        <button type="button" class="btn-edit-item">
                          <i class="fas fa-ellipsis-v"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block">
                  <div class="o-item-title">Инфомат</div>
                  <div class="edit-form-item">
                    <div class="c-checkbox">
                      <label>
                        <input type="checkbox" formControlName="_infomat" />
                        <div class="c-checkbox-text">Наличие</div>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="edit-form-block">
                  <span>Комментарий к внесенным изменениям (к заявке)</span>
                  <div class="edit-form-comment">
                    <textarea formControlName="_comment" id="comment" cols="30" rows="10"></textarea>
<!--                    <button class="btn btn-save-comment" type="button" disabled="disabled">-->
<!--                      <i class="fas fa-check"></i>-->
<!--                    </button>-->
                  </div>
                </div>
                <input (click)="onSubmit()" type="submit" class="btn" value="Сохранить заявку" />
              </div>
            </form>
          </div>
        </div>
        <div class="c-tab-item">
          <div class="c-tab-info">
            <div class="last-modified">
              Последние изменения: <span class="last-modified-date">23.06.2018</span>
            </div>
          </div>
          <div class="c-archive">
            <div class="c-archive-item">
              <div class="c-archive-info">
                <span class="c-archive-number">№115а</span> от
                <span class="c-archive-date">15.08.19</span>
                <p>Внесенные изменения:</p>
                <ul class="c-archive-list">
                  <li>
                    <span class="u-underline">Таксофон:</span> Изменено количество таксофонов с 4 до
                    5 шт
                  </li>
                  <li>
                    <span class="u-underline">Сотовая связь:</span> МТС - с 2G на 3G, подключение
                    Мегафон
                  </li>
                  <li>
                    <span class="u-underline">Интернет:</span> Мегафон - проведен ВОЛС(качество
                    удовлетворительное); Tele2 - подключение,медь (качество хорошее)
                  </li>
                </ul>
              </div>
            </div>
            <div class="c-archive-item">
              <div class="c-archive-info">
                <span class="c-archive-number">№104а</span> от
                <span class="c-archive-date">07.06.19</span>
                <p>Внесенные изменения:</p>
                <ul class="c-archive-list">
                  <li>
                    <span class="u-underline">Интернет:</span> Искра - проведен спутник (качество
                    удовлетворительное)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="c-tab-item">
          <div class="c-tab-info">
            <div class="last-modified">
              Последние изменения: <span class="last-modified-date">23.06.2018</span>
            </div>
            <input type="button" class="btn" value="Внести изменения" />
          </div>
          <div class="c-archive">
            <div class="c-archive-item">
              <div class="c-archive-info">
                <span class="c-archive-number">№106</span> от
                <span class="c-archive-date">15.08.19</span>
                <p>Планируемые изменения:</p>
                <ul class="c-archive-list">
                  <li>
                    <span class="u-underline">Сотовая связь:</span> МТС - с 2G на 3G (Программа
                    "Субсидии Lorem ipsum" на период: 15.10.2018 - 2020)
                  </li>
                  <li>
                    <span class="u-underline">Интернет:</span> Мегафон - подключение ВОЛС (Программа
                    "Субсидии Lorem ipsum" на период: 15.10.2018 - 2021)
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="c-modal">
      <div class="c-modal-body">
        <div class="c-modal-header">
          <div class="c-modal-title">
            <div>Сотовая связь, оператор Билайн, 3G</div>
            <div class="c-location-name l-row">
              <div class="c-location-name-item1">с. Богучаны</div>
              <div class="c-location-name-item2">Богучанский р-н</div>
            </div>
          </div>
          <div class="c-modal-close"><i class="fas fa-times"></i></div>
        </div>
        <div class="c-modal-content">
          <div class="l-content">
            <div class="l-content-item">
              <div class="o-item-title">Программа:</div>
              <select name="">
                <option value="" disabled selected style="display:none;">Выберите программу</option>
                <option value="">Программа 1</option>
                <option value="">Программа 2</option>
              </select>
            </div>
            <div class="l-content-item">
              <div class="o-item-title">Период действия:</div>
              <div class="c-modal-input">
                <input type="text" /><i class="far fa-calendar-alt"></i>
              </div>
              <span>&nbsp;-&nbsp;</span>
              <div class="c-modal-input">
                <input type="text" /><i class="far fa-calendar-alt"></i>
              </div>
            </div>
            <div class="l-content-item u-display-block">
              <div class="o-item-title">Комментарий:</div>
              <textarea cols="30" rows="10"></textarea>
            </div>
            <div class="l-content-item">
              <div class="c-modal-button">
                <input type="button" value="Отмена" class="btn cancel" /><input
                  type="submit"
                  value="Сохранить изменения"
                  class="btn"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="false"
></ngx-spinner>
