<main class="main" *ngIf="organization">
  <div class="wrapper">
    <div class="breadcrumbs">
      <ul class="breadcrumbs-list">
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link" href="#">Главная</a>
        </li>
        <li class="breadcrumbs-item">Сводные таблицы</li>
        <li class="breadcrumbs-item">
          <a class="breadcrumbs-link" routerLink="/communication-contracts"
            >СЗО</a
          >
        </li>
      </ul>
    </div>

    <h2>{{ organization.location.type }} {{ organization.location.name }}</h2>
    <h2>{{ organization.location.parent }}</h2>
    <div class="container">

        <app-form-organization
          [organizationForEditParent]="organizationParent"
          [organizationForEdit]="organization"
        ></app-form-organization>

      <div class="wrapper-points">
        <h2>Точки подключения</h2>
        <div class="points">
          <app-access-point-detail
            *ngFor="let ap of points$ | async"
            class="point"
            [ap]="ap"
            [organization]="organization">
          </app-access-point-detail>
        </div>
        <div class="btn-group">
          <button
            type="button"
            class="btn"
            (click)="addNewAccessPoint()"
            *ngIf="!ap && organization.id"
          >
            Добавить точку подключения
          </button>
        </div>
      </div>
    </div>
  </div>
</main>
