<!--suppress HtmlFormInputWithoutLabel -->
<div class="limiter">
  <div class="container-login100">
    <div class="wrap-login100">
      <form class="login100-form" [formGroup]="authorizationForm" (ngSubmit)="onSubmit()">
					<span class="login100-form-title">
						Авторизация
					</span>

        <div class="wrap-input100">
          <input class="input100"
                 type="text"
                 name="email"
                 placeholder="Логин"
                 formControlName="email">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="wrap-input100 rs1">
          <input class="input100"
                 type="password"
                 name="pass"
                 placeholder="Пароль"
                 formControlName="password">
          <span class="focus-input100-1"></span>
          <span class="focus-input100-2"></span>
        </div>

        <div class="container-login100-form-btn">
          <button class="login100-form-btn">
            Войти
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
