<!--suppress HtmlFormInputWithoutLabel -->
<main class="main">
  <div class="wrapper">
    <h1>Сводные данные по организациям</h1>
    <div class="c-contract">
      <div class="c-contract-item" *ngFor="let location of locations">
        <accordion>
          <group>
            <accordion-header>
              <div class="c-contract-header" style="width: 100%">
                <div class="c-location-name">
                  <div class="c-location-name-item1">{{location.fullName}}</div>
                  <div class="c-location-name-item2">{{location.municipalityArea}}</div>
                </div>
                <div class="location-count">Количество: <span>{{location.organizations.length}}</span></div>
              </div>
            </accordion-header>
            <accordion class="c-accordion" *ngFor="let organization of location.organizations; let i = index">
              <group>
                <accordion-header class="c-accordion-title">
                  <div class="c-accordion-number">{{i + 1}}</div>
                  <div class="c-accordion-name">
                    <div>{{organization.fullName}}</div>
                    <div style="margin-top: 10px">{{organization.type ? organization.type.name : '-----'}}</div>
                  </div>
                </accordion-header>
                <div class="l-contract" *ngFor="let point of organization.reaccesspoints">
                  <div class="c-contract-info u-span3"><i class="far fa-map-marker-alt"></i><span>{{point.address ? point.address : '----'}}</span></div>
                  <div class="с-contract-info-container">
                    <div class="c-contract-info">
                      <img class="c-contract-info__img" *ngIf="point.governmentProgram.shortName === 'ЕСПД'" src="../../../../assets/img/espd.svg" alt="ЕСПД">
                      <img class="c-contract-info__img" *ngIf="point.governmentProgram.shortName === 'СЗО'" src="../../../../assets/img/smo.svg" alt="СЗО">
                    </div>
                    <div class="c-contract-info"><i class="fas fa-bullhorn"></i><span>{{point.customer ? point.customer : '----'}}</span></div>
                    <div class="c-contract-info"><i class="fas fa-plug"></i><span>{{point.connectionType[0] ? point.connectionType[0].name : '----'}}</span></div>
                    <div class="c-contract-info"><i class="fas fa-tachometer-alt"></i><span>{{point.definedSpeed}}</span></div>
                  </div>
                </div>
              </group>
            </accordion>
          </group>
        </accordion>
      </div>
    </div>
  </div>
</main>

<ngx-spinner
  bdOpacity=0.9
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>
