<!--suppress HtmlFormInputWithoutLabel, HtmlUnknownAttribute -->
<main class="main">
  <div class="wrapper">
    <h1>Сводные данные по организациям</h1>
    <div class="c-filter">
      <accordion class="c-accordion">
        <group>
          <accordion-header class="c-accordion-title">
            <div class="c-filter-icon">Фильтры</div>
          </accordion-header>
          <div>
            <form [formGroup]="form">
              <div class="l-container">
                <div class="l-container-item js-filter-button">
                  <app-filter-btn
                    formControlName="order"
                    [orderings]="[
                      {
                        name: 'Нас.пункт',
                        value: 'name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      },
                      {
                        name: 'Район',
                        value: 'parent__name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      }
                    ]"
                  >
                  </app-filter-btn>
                </div>
                <div class="l-container-item">
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Населенный пункт:</div>
                      <nz-select
                        nzShowSearch
                        nzAllowClear
                        nzPlaceHolder=""
                        [(ngModel)]="setLocation"
                        formControlName="location"
                      >
                        <nz-option
                          *ngFor="let item of fLocations$ | async"
                          [nzLabel]="item.fullName + '(' + item.parent.fullName + ')'"
                          [nzValue]="item"
                        >
                        </nz-option>
                      </nz-select>
                      <!--<select formControlName="location">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fLocations$ | async">{{
                          item.fullName
                          }} ({{item.parent.fullName}})</option>
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Тип учреждения:</div>
                      <app-simple-select
                        [items]="fOrganizationTypes$ | async"
                        [form]="form"
                        [iFormControl]="'type'"
                      ></app-simple-select>
                      <!--<select formControlName="type">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fOrganizationTypes$ | async">{{
                          item.name
                          }}</option>
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Тип СЗО:</div>
                      <app-simple-select
                        [items]="fOrganizationSMOTypes$ | async"
                        [form]="form"
                        [iFormControl]="'smo'"
                      ></app-simple-select>
                      <!--<select formControlName="smo">
                        <option [ngValue]="null">Не выбран</option>
                        <option
                          [ngValue]="item"
                          *ngFor="let item of fOrganizationSMOTypes$ | async"
                        >{{ item.name }}</option
                        >
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Наим. организации:</div>
                      <input formControlName="organization" type="text" />
                    </div>
                  </div>
                </div>
                <div class="l-container-item">
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Район:</div>
                      <app-simple-select
                        [items]="fParents$ | async"
                        [form]="form"
                        [iFormControl]="'parent'"
                      ></app-simple-select>
                      <!--<select formControlName="parent">
                        <option [ngValue]="null">Не выбран</option>
                        <option [ngValue]="item" *ngFor="let item of fParents$ | async">{{
                          item.fullName
                          }}</option>
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Подключение:</div>
                      <app-simple-select
                        [items]="fInternetAccessTypes$ | async"
                        [form]="form"
                        [iFormControl]="'connectionType'"
                      ></app-simple-select>
                      <!--<select formControlName="connectionType">
                        <option [ngValue]="null">Не выбран</option>
                        <option
                          [ngValue]="item"
                          *ngFor="let item of fInternetAccessTypes$ | async"
                        >{{ item.name }}</option
                        >
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Контракт:</div>
                      <app-simple-select
                        [items]="fGovernmentPrograms$ | async"
                        [form]="form"
                        [iFormControl]="'contractType'"
                      ></app-simple-select>
                      <!--<select formControlName="contractType">
                        <option [ngValue]="null">Не выбран</option>
                        <option
                          [ngValue]="item"
                          *ngFor="let item of fGovernmentPrograms$ | async"
                        >{{ item.shortName }}</option
                        >
                      </select>-->
                    </div>
                  </div>
                  <div class="l-container-row is-disabled">
                    <div class="input">
                      <div class="o-item-title">Оператор связи:</div>
                      <input formControlName="contractor" type="text" />
                    </div>
                  </div>
                </div>
              </div>
              <input (click)="form.reset()" class="btn filter-btn-reset" value="Сбросить фильтр" />
            </form>
          </div>
        </group>
      </accordion>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>{{ (locations$ | async)?.count }}</span>
        </div>
        <div class="c-filter-export">
          <input
            (click)="serviceLocation.exportExcel()"
            type="button"
            class="btn"
            value="Выгрузить в Excel"
          />
        </div>
      </div>
    </div>

    <!--<div class="header-filter">
      <form *ngIf="form" [formGroup]="form" nz-form [nzLayout]="'vertical'">
        <app-filter-btn
          formControlName="order"
          [orderings]="[
                      {
                        name: 'Нас.пункт',
                        value: 'name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      },
                      {
                        name: 'Район',
                        value: 'parent__name',
                        orderingDirection: OrderingDirection.UNDEFINED
                      }
                    ]"
        ></app-filter-btn>
        <div class="filter">
          <div class="filter-wrap">
            <input type="text" nz-input>
            <nz-form-item>
              <nz-form-label>Населенный пункт</nz-form-label>
              <nz-form-control>

                &lt;!&ndash;<app-simple-select
                  [items]="fLocations$ | async"
                  [form]="form"
                  [iFormControl]="'location'"
                ></app-simple-select>&ndash;&gt;

                <nz-select
                  nzShowSearch
                  nzAllowClear
                  nzPlaceHolder="Select"
                  [(ngModel)]="setLocation"
                  formControlName="location"
                >
                  <nz-option
                    *ngFor="let item of fLocations$ | async"
                    [nzLabel]="item.fullName + '(' + item.parent.fullName + ')'"
                    [nzValue]="item"
                  >
                  </nz-option>
                </nz-select>

                &lt;!&ndash;<select formControlName="location">
                  <option [ngValue]="null">Не выбран</option>
                  <option [ngValue]="item" *ngFor="let item of fLocations$ | async">{{
                    item.fullName
                    }} ({{item.parent.fullName}})
                  </option>
                </select>&ndash;&gt;
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип учреждения</nz-form-label>
              <nz-form-control>

                <app-simple-select
                  [items]="fOrganizationTypes$ | async"
                  [form]="form"
                  [iFormControl]="'type'"
                ></app-simple-select>

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Тип СЗО</nz-form-label>
              <nz-form-control>

                <app-simple-select
                  [items]="fOrganizationSMOTypes$ | async"
                  [form]="form"
                  [iFormControl]="'smo'"
                ></app-simple-select>

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Наим. организации</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="organization" type="text"/>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Район</nz-form-label>
              <nz-form-control>

                <app-simple-select
                  [items]="fParents$ | async"
                  [form]="form"
                  [iFormControl]="'parent'"
                ></app-simple-select>

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Подключение</nz-form-label>
              <nz-form-control>

                <app-simple-select
                  [items]="fInternetAccessTypes$ | async"
                  [form]="form"
                  [iFormControl]="'connectionType'"
                ></app-simple-select>

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Контракт</nz-form-label>
              <nz-form-control>

                <app-simple-select
                  [items]="fGovernmentPrograms$ | async"
                  [form]="form"
                  [iFormControl]="'contractType'"
                ></app-simple-select>

              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label>Оператор связи</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="contractor" type="text"/>
              </nz-form-control>
            </nz-form-item>
            <input type="button" (click)="form.reset()" class="btn filter-btn-reset" value="Сбросить фильтр"/>
          </div>
        </div>
      </form>
      <div class="export">
        <input
          (click)="serviceLocation.exportExcel()"
          type="button"
          class="btn"
          value="Выгрузить в Excel"
        />
      </div>
    </div>-->

    <div class="layout-list">
      <div class="layout-list-group"
           *ngFor="
          let location of (locations$ | async)?.results
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: pageNumber,
                  totalItems: (locations$ | async)?.count
                }
        "
      >
        <ng-container *ngIf="location.organizations.length !== 0; else emptyOrganization">
          <div class="layout-list-item"
               *ngFor="let organization of location.organizations; let i = index"
          >
            <div class="c-location-name">
              <div class="c-location-name-item1">{{ location.fullName }}</div>
              <div class="c-location-name-item2">{{ location.municipalityArea }}</div>
            </div>
            <div class="layout-col">
              <div class="layout-col-item1">
                <div>{{ organization.fullName }}</div>
                <div>
                  <span class="u-gray">Тип организации: </span>
                  {{ organization.type ? organization.type.name : ' ' }}
                </div>
                <div>
                  <span class="u-gray">Тип СЗО:</span>
                  {{ organization.smoType ? organization.smoType.name : ' ' }}
                </div>
                <a [routerLink]="[organization.id]" class="btn">Подробнее</a>
              </div>
              <div class="layout-col-item2">
                <div
                  class="layout-point"
                  *ngFor="let point of organization.reaccesspoints"
                >
                  <div class="layout-point-address">
                    <div
                      *ngIf="point.governmentProgram?.shortName === 'ЕСПД'; else smoIcon"
                    >
                      <img
                        class="c-contract-info__img"
                        src="../../../../assets/img/espd.svg"
                        alt="ЕСПД"
                      />
                    </div>
                    <ng-template #smoIcon>
                      <img
                        class="c-contract-info__img"
                        src="../../../../assets/img/smo.svg"
                        alt="ЕСПД"
                      />
                    </ng-template>
                    <span>{{ point.address ? point.address : '----' }}</span>
                  </div>
                  <div class="layout-point-info">
                    <div class="flex-row">
                      <i class="fas fa-bullhorn"></i>
                      <span>{{ point.contractor ? point.contractor : '----' }}</span>
                    </div>
                    <div class="flex-row">
                      <i class="fas fa-plug"></i>
                      <span>{{ point.connectionType ? point.connectionType.name : '----' }}</span>
                    </div>
                    <div class="flex-row">
                      <i class="fas fa-tachometer-alt"></i>
                      <span>{{ point.definedSpeed }}</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </ng-container>
        <ng-template #emptyOrganization>
          <div class="layout-list-item">
            <div class="c-location-name">
              <div class="c-location-name-item1">{{ location.fullName }}</div>
              <div class="c-location-name-item2">{{ location.municipalityArea }}</div>
            </div>
            <div class="layout-col">
              <div class="layout-col-item1"></div>
              <div class="layout-col-item2"></div>
            </div>
          </div>
        </ng-template>

      </div>
    </div>

    <!--<div class="c-contract">
      <div
        class="c-contract-item"
        *ngFor="
          let location of (locations$ | async)?.results
            | paginate
              : {
                  itemsPerPage: itemsPerPage,
                  currentPage: pageNumber,
                  totalItems: (locations$ | async)?.count
                }
        "
      >
        <accordion>
          <group>
            <accordion-header>
              <div class="c-contract-header" style="width: 100%">
                <div class="c-location-name">
                  <div class="c-location-name-item1">{{ location.fullName }}</div>
                  <div class="c-location-name-item2">{{ location.municipalityArea }}</div>
                </div>
                <div class="location-count">
                  Количество: <span>{{ location.organizations.length }}</span>
                </div>
              </div>
            </accordion-header>
            <div class="add-organization">
              <button
                type="button"
                class="btn"
                [routerLink]="['new']"
                [queryParams]="{locationId: location.id}"
              >
                Добавить организацию
              </button>
            </div>
            <accordion
              class="c-accordion"
              *ngFor="let organization of location.organizations; let i = index"
            >
              <group>
                <accordion-header class="c-accordion-title">
                  <div class="c-accordion-name m-w-100-p">
                    <div style="display: flex; justify-content: space-between">
                      <div>{{ organization.fullName }}</div>
                    </div>
                    <div class="c-accordion-info d-flex space-between">
                      <div>
                        <div class="c-accordion-info-item">
                          <span class="u-gray">учреждение:</span>
                          {{ organization.type ? organization.type.name : ' ' }}
                        </div>
                        <div class="c-accordion-info-item">
                          <span class="u-gray">сзо:</span>
                          {{ organization.smoType ? organization.smoType.name : ' ' }}
                        </div>
                      </div>
                      <a [routerLink]="[organization.id]" class="btn">Подробнее</a>
                    </div>
                  </div>
                </accordion-header>
                <nz-timeline>
                  <nz-timeline-item [nzDot]="point.governmentProgram?.shortName === 'ЕСПД' ? espdIcon : smoIcon"
                                    *ngFor="let point of organization.reaccesspoints">
                    <div class="l-contract">
                      <div class="c-contract-info u-span3">
                        <i class="far fa-map-marker-alt"></i
                        ><span>{{ point.address ? point.address : '----' }}</span>
                      </div>
                      <div class="с-contract-info-container">
                        <div class="c-contract-info">
                          <i class="fas fa-bullhorn"></i
                          ><span>{{ point.contractor ? point.contractor : '----' }}</span>
                        </div>
                        <div class="c-contract-info">
                          <i class="fas fa-plug"></i
                          ><span>{{ point.connectionType ? point.connectionType.name : '----' }}</span>
                        </div>
                        <div class="c-contract-info">
                          <i class="fas fa-tachometer-alt"></i><span>{{ point.definedSpeed }}</span>
                        </div>
                      </div>
                    </div>
                  </nz-timeline-item>
                </nz-timeline>
                <ng-template #espdIcon>
                  <img
                    class="c-contract-info__img"
                    src="../../../../assets/img/espd.svg"
                    alt="ЕСПД"
                  />
                </ng-template>
                <ng-template #smoIcon>
                  <img
                    class="c-contract-info__img"
                    src="../../../../assets/img/smo.svg"
                    alt="ЕСПД"
                  />
                </ng-template>
              </group>
            </accordion>
          </group>
        </accordion>
      </div>
    </div>-->

    <div style="display: flex; justify-content: flex-end">
      <div class="pagination-count">
        <div style="margin-right: 13px">Количество строк на странице:</div>
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 10"
          type="button"
          (click)="itemsPerPage = 10; locations$ = loadPagedLocationWithOrganizationAccessPoints()"
          value="10"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 20"
          type="button"
          (click)="itemsPerPage = 20; locations$ = loadPagedLocationWithOrganizationAccessPoints()"
          value="20"
        />
        <input
          class="pagination-count-button"
          [class.active]="itemsPerPage === 100"
          type="button"
          (click)="itemsPerPage = 100; locations$ = loadPagedLocationWithOrganizationAccessPoints()"
          value="100"
        />
      </div>
    </div>
    <pagination-controls
      class="pagination-controls"
      nextLabel="Следующая страница"
      previousLabel="Предыдущая страница"
      (pageChange)="onPageChange($event)"
    >
    </pagination-controls>
  </div>
</main>

<ngx-spinner
  bdOpacity="0.9"
  size="medium"
  color="#35a584"
  type="ball-atom"
  class="spinner"
  [fullScreen]="true"
>Загрузка. . .
</ngx-spinner>
