
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$telecomit-primary: mat-palette($mat-deep-orange);
$telecomit-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$telecomit-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$telecomit-theme: mat-light-theme((
  color: (
    primary: $telecomit-primary,
    accent: $telecomit-accent,
    warn: $telecomit-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($telecomit-theme);

@font-face {
  font-family: 'Heavitas [RUS by Daymarius]';
  src: url('assets/fonts/heavitas.ttf') format('ttf'),
  url('assets/fonts/HeavitasRUSbyDaymarius.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-Light.eot');
  src: local('Segoe UI Light'), local('SegoeUI-Light'),
  url('assets/fonts/SegoeUI-Light.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI-Light.woff') format('woff'),
  url('assets/fonts/SegoeUI-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI.eot');
  src: local('Segoe UI'), local('SegoeUI'),
  url('assets/fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI.woff') format('woff'),
  url('assets/fonts/SegoeUI.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-SemiBold.eot');
  src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
  url('assets/fonts/SegoeUI-SemiBold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI-SemiBold.woff') format('woff'),
  url('assets/fonts/SegoeUI-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Segoe UI';
  src: url('assets/fonts/SegoeUI-Bold.eot');
  src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
  url('assets/fonts/SegoeUI-Bold.eot?#iefix') format('embedded-opentype'),
  url('assets/fonts/SegoeUI-Bold.woff') format('woff'),
  url('assets/fonts/SegoeUI-Bold.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

* {
  outline: none;
}

@font-face {
  font-family: 'GolosTextWebVF';
  src: url('assets/fonts/Golos Text_VF.EOT');
  src:
    url('assets/fonts/Golos Text_VF.EOT?#iefix') format('embedded-opentype'),
    url('assets/fonts/Golos Text_VF.WOFF2') format('woff2'),
    url('assets/fonts/Golos Text_VF.WOFF') format('woff'),
    url('assets/fonts/Golos Text_VF.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font: unset !important;
}

body {
  margin: 0;
  padding: 0;
}

input {
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: "Segoe UI", "Helvetica Neue", sans-serif; }

input[type="checkbox" i] {
  margin: 0;
}

.spinner-container {
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}

.c-filter-button {
  position: relative;
  margin-bottom: 5px;
  padding: 8px 24px 10px 12px;
  color: #575756;
  background-color: #fff;
  border: 1px solid #bcbcbc;
  font-size: 11px;
  text-align: left;
  white-space: nowrap;
  margin-top: 6px;
}

.c-filter-button.is-active {
  color: #fff;
  background: #ff5700;
}

.c-filter-button::after {
  content: '\f884';
  position: absolute;
  right: 5px;
}

.l-container-item {
  display: flex;
}

.d-flex {
  display: flex;
}

.u-back-sort::after {
  content: '\f160';
}

.text-align-center {
  text-align: center;
}

.feature {
  &__icon {
    position: relative;
    width: 21px;
    margin-right: 16px;

    &.disabled {
      filter: grayscale(1);
      opacity: 0.6;
    }

    & img {
      width: 100%;
      vertical-align: unset;
    }
  }

  &__icon-type {
    position: absolute;
    bottom: -8px;
    right: -10px;
    color: #000000;
    font-family: "Segoe UI", sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    text-transform: uppercase;

    &.with-signal {
      white-space: nowrap;
      width: 17px;
      font-size: 8px;
    }
  }

  &__internet-type-icon {
    position: absolute;
    bottom: -12px;
    left: 0;
  }
}

.whitespace-nowrap {
  white-space: nowrap;
}

.mat-menu-panel .link.active span {
  border-bottom: 2px solid #131212;
}

.flex-wrap {
  flex-wrap: wrap;
}

@import "material";
@import "leaflet";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "old";



.cdk-overlay-container .mat-select-panel {max-height: 288px;}

input.mat-input-element {
  width: 100%;
  box-sizing: border-box;
  outline: none;
}
nz-form-item .mat-select-filter{}
.mat-select-filter {
  height: 63px;
  margin-top: 0 !important;
  border-bottom: 1px solid #e0e0e0;
  .mat-select-trigger {
    vertical-align: middle;
    height: 100%;
    color: #9da0a1;
  }
    .mat-select-value {
      vertical-align: middle;
    }
}
.mat-select-value {
  color: #9da0a1;
  font-weight: 600;
  font-family: "Segoe UI", sans-serif;
  font-size: 14px;
}

.ant-form-item-label > label {
  font-family: "Segoe UI", sans-serif;
}
