<mat-accordion>
  <mat-expansion-panel [disabled]="organizationsCount === 0" [expanded]="openOrganizationBar.value" (opened)="onOpen($event)" (closed)="onClose()">
    <mat-expansion-panel-header>
      <mat-panel-title>
        ОРГАНИЗАЦИЙ ({{organizationsCount}})
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container *ngIf="organizations">
      <mat-accordion>
        <mat-expansion-panel *ngFor="let organization of organizations.content"
                             (opened)="organization.opened = true"
                             (closed)="organization.opened = false; onCloseOrganizationBar(organization)"
                             [expanded]="organization.opened">
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{organization.name}}
            </mat-panel-title>
          </mat-expansion-panel-header>

          <mat-accordion *ngFor="let accessPoint of organization.accesspoints">
            <mat-expansion-panel [expanded]="accessPoint.opened"
                                 (closed)="accessPoint.opened = false; onCloseAccessPointBar()"
                                 (opened)="accessPoint.opened = true; onOpenAccesspointBar(accessPoint)">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  <div class="panel-title">
                    <div class="panel-img">
                      <img *ngIf="accessPoint.type === 'ESPD'" src="/assets/espd.png" alt="">
                      <img *ngIf="accessPoint.type === 'SMO'" src="/assets/smo.png" alt="">
                    </div>
                    <div>{{accessPoint.address}}</div>
                  </div>
                </mat-panel-title>
              </mat-expansion-panel-header>

              <div class="features-list">
                <div class="feature">
                  <div class="feature__label">Программа</div>
                  <div class="feature__value">{{accessPoint.governmentDevelopmentProgram}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">Заказчик</div>
                  <div class="feature__value">{{accessPoint.customer}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">Подрядчик</div>
                  <div class="feature__value">{{accessPoint.contractor}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label" [id]="'access-point-bar-' + accessPoint.id">Технология подключения</div>
                  <div class="feature__value">{{accessPoint.internetAccess.name}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">Точка подключения</div>
                  <div class="feature__value">{{accessPoint.zabbixDeviceName}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">IP</div>
                  <div class="feature__value">{{accessPoint.zabbixDeviceIp}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">Скорость по контракту</div>
                  <div class="feature__value">{{accessPoint.declaredSpeed}}</div>
                </div>
                <div class="feature">
                  <div class="feature__label">Состояние</div>
                  <div class="feature__value"></div>
                </div>
                <div class="feature">
                  <div class="feature__label">Входящий трафик (МБ)</div>
                  <div class="feature__value">{{accessPoint.utmLastDayTraffic}}</div>
                </div>
              </div>

            </mat-expansion-panel>
          </mat-accordion>

        </mat-expansion-panel>
        <button *ngIf="hasNextItems()" class="next-items-btn" mat-raised-button (click)="onScroll()">Ещё</button>
      </mat-accordion>
    </ng-container>
  </mat-expansion-panel>
</mat-accordion>
