.l-organizations {
  padding-bottom: 1px;
}
.l-organizations-title {
  display: grid;
  grid-template-columns: 250px 250px;
}

.l-organizations-body {
  display: grid;
  grid-template-columns: 400px 200px 200px;
}

.l-organizations-item {
  display: flex;
  padding: 0 14px 14px;
  margin-bottom: 14px;
  box-shadow: 0 2px 4px rgba(0, 7, 3, 0.27);
}

.l-organizations-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 42px;
}
