<main class="main">
  <div class="wrapper">
    <h1>Сводная таблица - Данные по организациям</h1>
    <div class="c-filter">
      <div class="c-accordion">
        <div class="c-accordion-title">
          <div class="c-filter-icon">Фильтры</div>
          <div class="c-accordion-button"></div>
        </div>
        <div class="c-accordion-body is-open">
          <form>
            <div class="l-container">
              <div class="l-container-item js-filter-button">
                <button type="button" class="btn c-filter-button">Нас. пункт</button>
                <button type="button" class="btn c-filter-button">Район</button>
              </div>
              <div class="l-container-item">
                <div class="l-container-row is-disabled">
                  <div class="input">
                    <div class="o-item-title">Организация/оператор:</div>
                    <input type="text">
                  </div>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Тип учреждения:</div>
                  <select name="" id="">
                    <option value="" disabled selected style="display:none;">Выберите тип учреждения</option>
                    <option value="">ГК и ЛРР</option>
                    <option value="">Избирательный коммитет</option>
                    <option value="">Общеобразовательная организация</option>
                    <option value="">ОВО</option>
                    <option value="">ОМСУ</option>
                    <option value="">Пожарный пост</option>
                    <option value="">Пожарная часть</option>
                    <option value="">СПО</option>
                    <option value="">Территориально изберательный коммитет</option>
                    <option value="">ФАП</option>
                  </select>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Тип СЗО:</div>
                  <select name="" id="">
                    <option value="" disabled selected style="display:none;">Выберите тип СЗО</option>
                    <option value="">Гос.МОУ</option>
                    <option value="">МЧС суб.подч</option>
                    <option value="">МЧС центр.подч</option>
                    <option value="">ОГВ и ОМСУ</option>
                    <option value="">Росгвардия</option>
                    <option value="">ФАП</option>
                    <option value="">ЦИК</option>
                  </select>
                </div>
              </div>
              <div class="l-container-item">
                <div class="c-checkbox ">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Волс</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">БШПД</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Спутник</div>
                  </label>
                </div>
                <div class="c-checkbox">
                  <label> <input type="checkbox">
                    <div class="c-checkbox-text">Медь</div>
                  </label>
                </div>
                <div class="l-container-row is-disabled">
                  <div class="o-item-title">Контракт:</div>
                  <div class="c-vendor">
                    <label> <input type="checkbox">
                      <div class="c-vendor-logo c-vendor-checked"><img src="/assets/img/building.png" alt="МТС" title="МТС"></div>
                    </label>
                  </div>
                  <div class="c-vendor">
                    <label> <input type="checkbox">
                      <div class="c-vendor-logo c-vendor-checked"><img src="/assets/img/laptop.png" alt="МТС" title="МТС"></div>
                    </label>
                  </div>
                  <div class="c-vendor">
                    <label> <input type="checkbox">
                      <div class="c-vendor-logo c-vendor-checked o-none"></div>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <input type="reset" class="btn filter-btn-reset" value="Сбросить фильтр">
          </form>
        </div>
      </div>
      <div class="c-filter-info">
        <div class="c-filter-result">
          Результатов поиска: <span>115</span> из <span>9 345</span>
        </div>
        <div class="c-filter-export">
          <input type="button" class="btn" value="Выгрузить в Excel">
        </div>
      </div>
    </div>
    <div class="c-contract">
      <div class="c-contract-item">
        <div class="c-contract-header">
          <div class="c-location-name">
            <div class="c-location-name-item1">с. Богучаны</div>
            <div class="c-location-name-item2">Богучанский р-н</div>
          </div>
          <div class="location-count">Количество: <span>3</span></div>
        </div>
        <div class="c-accordion">
          <div class="c-accordion-title align-start">
            <div class="c-accordion-number">1</div>
            <div class="c-accordion-name">
              <div>Краевое государственное бюджетное учреждение здравоохранения Туринскя муниципальная больница</div>
              <div>Экондинский фельдшерско-акушерский пункт</div>
              <div class="l-organizations-title">
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-arrows-alt"></i></div>
                  <div class="c-info-text"><span>ФАП</span></div>
                </div>
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-building"></i></div>
                  <div class="c-info-text"><span>Отсутствует</span></div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-small">Подробнее</a>
            <div class="c-accordion-button"></div>
          </div>
          <div class="c-accordion-body is-open">
            <div class="l-organizations">
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-espd"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-szo"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-none"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-accordion">
          <div class="c-accordion-title align-start">
            <div class="c-accordion-number">2</div>
            <div class="c-accordion-name">
              <div>Краевое государственное бюджетное учреждение здравоохранения Туринскя муниципальная больница</div>
              <div>Экондинский фельдшерско-акушерский пункт</div>
              <div class="l-organizations-title">
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-arrows-alt"></i></div>
                  <div class="c-info-text"><span>ФАП</span></div>
                </div>
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-building"></i></div>
                  <div class="c-info-text"><span>Отсутствует</span></div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-small">Подробнее</a>
            <div class="c-accordion-button"></div>
          </div>
          <div class="c-accordion-body is-open">
            <div class="l-organizations">
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-espd"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-szo"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-none"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="c-accordion">
          <div class="c-accordion-title align-start">
            <div class="c-accordion-number">3</div>
            <div class="c-accordion-name">
              <div>Краевое государственное бюджетное учреждение здравоохранения Туринскя муниципальная больница</div>
              <div>Экондинский фельдшерско-акушерский пункт</div>
              <div class="l-organizations-title">
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-arrows-alt"></i></div>
                  <div class="c-info-text"><span>ФАП</span></div>
                </div>
                <div class="c-info">
                  <div class="c-info-icon"><i class="fas fa-building"></i></div>
                  <div class="c-info-text"><span>Отсутствует</span></div>
                </div>
              </div>
            </div>
            <a href="#" class="btn btn-small">Подробнее</a>
            <div class="c-accordion-button"></div>
          </div>
          <div class="c-accordion-body is-open">
            <div class="l-organizations">
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-espd"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-szo"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="l-organizations-item">
                <div class="l-organizations-icon o-none"></div>
                <div>
                  <div class="c-info">
                    <div class="c-info-icon"><i class="fas fa-map-marker-alt"></i></div>
                    <div class="c-info-text"><span>п. Эконда, ул. Школьная, 7</span></div>
                  </div>
                  <div class="l-organizations-body">
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-bullhorn"></i></div>
                      <div class="c-info-text"><span>ИП Иванов Иван Иванович</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-plug"></i></div>
                      <div class="c-info-text"><span>ЕТТН</span></div>
                    </div>
                    <div class="c-info">
                      <div class="c-info-icon"><i class="fas fa-tachometer-alt"></i></div>
                      <div class="c-info-text"><span>10Mb/sec</span></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
