<div class="vendors-container">
  <app-operator-icon
    *ngFor="let operator of existed"
    [operator]="operator"
    [class.opacity]="
      !(
        featureRowsUtils.hasOperator(locationFeatures, operator) &&
        featureRowsUtils.getByOperator(locationFeatures, operator) &&
        featureRowsUtils.getByOperator(locationFeatures, operator).quantityPayphone > 0
      )
    "
  >
    <div
      class="c-vendor-status-text"
      *ngIf="
        featureRowsUtils.getByOperator(locationFeatures, operator) &&
        featureRowsUtils.getByOperator(locationFeatures, operator).quantityPayphone > 0
      "
    >
      {{ featureRowsUtils.getByOperator(locationFeatures, operator).quantityPayphone }}
    </div>
  </app-operator-icon>
</div>
